{%- comment -%}
  In order to avoid showing "success" message when we post comments
  with invalid format (eg. blank fields), we added logic to make sure it doesn't show.

  Comment help page:
  http://docs.shopify.com/themes/liquid-variables/comment
{%- endcomment -%}

{%- assign new_comment = false -%}
{%- assign number_of_comments = article.comments_count -%}

{%- if comment and comment.created_at -%}
  {%- assign new_comment = true -%}
  {%- assign new_comment_id = comment.id -%}
{%- endif -%}

{%- if new_comment -%}
  {%- comment -%}
    When you refresh the page with submitted comment, the comment is duplicated
    so we added a flag to avoid this situation.
  {%- endcomment -%}
  {%- assign duplicate_comment = false -%}
  {%- for comment in article.comments -%}
    {%- if comment.id == new_comment_id -%}
      {%- assign duplicate_comment = true -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

  {%- unless duplicate_comment -%}
    {%- assign number_of_comments = article.comments_count | plus: 1 -%}
  {%- endunless -%}
{%- endif -%}

<main class="section__principal bg-purple" style="opacity: 1;">
  <div class="container">
    <div class="col-md-12 p-0 mb-2">

      {% include 'blog-header' %}

      <h1 class="h5 mb-3 pb-3 border-bottom border-dark">{{ article.title }}</h1>
      {% if article.tags.size > 0 %}
        {% include 'blog-breadcrumbs' %}
      {% endif %}
    </div>

    <div class="row">

      <div class="col-md-12 col-lg-12">
        <div class="row">

          <div class="col-lg-7 pb-4">
            <article role="article">

              <div class="col-lg-12 list__thumb pr-0 pl-0 mb-4">
                <img data-src="{{ article.image.src | img_url: '1080x' }}" class="lazyload">
              </div>

              <div class="rte section__blog-text pb-4" id="videos_yt">
              {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
                <b>Por {{ article.author }} - {{ article.published_at | date: format: 'abbreviated_date' }}</b>
                <div class="clearfix pb-3"></div>
                {{ article.content }}
              </div>

            <div class="col-md-12 pb-3">
              {% if article.tags.size > 0 %}
              <div class="col-md-12 pb-3">
                {% include 'blog-breadcrumbs' %}
              </div>
              {% endif %}

              {% if settings.social_sharing_blog %}
              <div class="col-md-12 pb-3">
                {% include 'icons-social-blog', share_title: article.title, share_permalink: article.url, share_image: article.image %}
              </div>
              {% endif %}
            </div>

            </article>
          </div>

        {%- comment -%}
        Sidebar de articulos
        {%- endcomment -%}
          <div class="col-lg-5">
            <div class="row thumbs mx-1">
              {% section 'blog-sidebar' %}
            </div>
          </div>

        </div>
      </div>                            

    </div>

    <div id="disqus_thread"></div>
    <noscript>Por favor, habilita el Javascript en tu navegador para ver los <a href="https://disqus.com/?ref_noscript">comentarios de Disqus.</a></noscript>

  </div>
</main>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "articleBody": "{{ article.content | strip_html }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ shop.url }}{{ page.url }}"
  },
  "headline": "{{ article.title }}",
  {% if article.excerpt != blank %}
    "description": "{{ article.excerpt | strip_html }}",
  {% endif %}
  {% if article.image %}
    {% assign image_size = article.image.width | append: 'x' %}
    "image": [
      "https:{{ article | img_url: image_size }}"
    ],
  {% endif %}
  "datePublished": "{{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "dateCreated": "{{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "author": {
    "@type": "Person",
    "name": "{{ article.author }}"
  },
  "publisher": {
    "@type": "Organization",
    {% if settings.share_image %}
      {% assign image_size = settings.share_image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ settings.share_image.height }}",
        "url": "https:{{ settings.share_image | img_url: image_size }}",
        "width": "{{ settings.share_image.width }}"
      },
    {% elsif article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ article.image.height }}",
        "url": "https:{{ article.image | img_url: image_size }}",
        "width": "{{ article.image.width }}"
      },
    {% endif %}
    "name": "{{ shop.name }}"
  }
}
</script>
<script>


(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://momijitalks.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>

{%- comment -%}
PLUGIN PARA WRAPPEAR IFRAMES DE YOUTUBE EN DIVS RESPONSIVE
{%- endcomment -%}
<script src="{{ 'jquery.fitvids.js' | asset_url }}"></script>
<script>
  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    $("#videos_yt").fitVids();
  });
</script>