{%- comment -%}
<section class="products__category--header section__header">
  <div class="container-fluid p0">
    <div class="row">
      <div class="col-md-6 offset-md-0 col-lg-8 offset-lg-1 col-xl-8 offset-xl-1 header--title">
        <div class="breadcrumb">
        <p><a href="/">Inicio</a>&nbsp;/ <a href="/collections/manchas-y-cicatrices" aria-current="page">Manchas y cicatrices</a></p>
        </div>
        <h2>
          Titulo del blogpost        
        </h2>
        <p>
        
          <span style="font-weight: 400;">Snippet o adelanto del blog.</span>
        
        </p>
      </div>
    </div>
  </div>
</section>
{%- endcomment -%}

<main class="section__principal bg-purple">
  <div class="container">
    <div class="row">
      {% paginate blog.articles by 30 %} {%- comment -%}podemos dejarlo a decision del usuario con un capture??{%- endcomment -%}

        {%- assign blog_title = blog.title -%}

        {% if current_tags %}
          {% capture blog_title %}{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}{% endcapture %}
        {% endif %}

        <h1>{{ blog_title }}</h1>

        {% if blog.all_tags.size > 0 %}
          <h2>{{ 'blogs.general.categories' | t }}</h2>

          <ul>
            {% for tag in blog.all_tags %}

              {% if current_tags contains tag %}
                <li>{{ tag }}</li>
              {% else %}
                <li>{{ tag | link_to_tag: tag }}</li>
              {% endif %}

            {% endfor %}
          </ul>
        {% endif %}

      {% comment %}
      Article Previews
      ====================
      {% endcomment %}

      <div class="col-md-12 col-lg-12">
        <div class="row thumbs">
          {% for article in blog.articles %}
            <div class="col-md-6 col-lg-4 mb-3 pl-2 px-2">
              <div class="bg-white">

                {% if article.image %}
                {% include 'blog-tag-logic' %}
                  <a href="{{ article.url }}"
                  {% if skincare %} class="skincare-blog"
                  {% elsif selfcare %} class="selfcare-blog"
                  {% elsif resenas %} class="resenas-blog"
                  {% elsif kbeauty %} class="kbeauty-blog"
                  {% else entrevistas %} class="entrevistas-blog"
                  {% endif %}>
                  <img src="{{ article.image.src | img_url: '640x' }}" class="pb-3">
                    {%- comment -%}{% include 'responsive-image' with
                      image: article.image,
                      max_width: 1024,
                      max_height: 1024,
                      wrapper_class: 'product__container'
                    %}{%- endcomment -%}
                  </a>
                {% endif %}

                <a href="{{ article.url }}">
                  <h3 class="h6 pr-3 pl-3">{{ article.title }}</h3>
                </a>

                {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
                <div class="pr-3 pl-3 pb-3">
                  <b>
                  Por {{ article.author }} - {{ article.published_at | date: format: 'abbreviated_date' }}
                    {%- comment -%}{{ 'blogs.article.author_on_date_html' | t: author: article.author, date: date }}{%- endcomment -%}
                  </b>
                </div>

                <div class="rte pr-3 pl-3 pb-3">
                  {% if article.excerpt.size > 0 %}
                    {{ article.excerpt }}
                  {% else %}
                    <p>
                      {{ article.content | strip_html | truncatewords: 100 }}
                    </p>
                  {% endif %}
                </div>

                <div class="pr-3 pl-3 pb-3">
                  <p>
                    <a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }} &rarr;</a>
                  </p>
                </div>

                {%- comment -%}
                {% if blog.comments_enabled? or article.tags.size > 0 %}
                  <ul>
                    {% if blog.comments_enabled? %}
                      <li>
                        <a href="{{ article.url }}#comments">
                          {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
                        </a>
                      </li>
                    {% endif %}

                    {% if article.tags.size > 0 %}
                      {% for tag in article.tags %}
                        <li>
                          <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
                          {% unless forloop.last %}, {% endunless %}
                        </li>
                      {% endfor %}
                    {% endif %}
                  </ul>
                {% endif %}
                {%- endcomment -%}

              </div>
            </div>
          {% endfor %}
        </div>
      </div>

          {% section 'product-recommendations' %}

        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}

      {% endpaginate %}
    </div>
  </div>
</main>