<script>
jQuery('[max]').change(function() {
  var max = parseInt(jQuery(this).attr('max'), 10) || 10000;
  var value = parseInt(jQuery(this).val(), 10) || 0;
  if (value > max) { jQuery(this).val(max); }
});
</script>

<section class="cuenta__detalle section__principal">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="header__sitebanner">
          <h1>Your Shopping Cart <small>That little bucket of joy</small></h1>
        </div>
      </div>
    </div><!-- end .row -->
    <div class="col-xs-12">
      <form action="/cart" method="post" novalidate>
        {% for item in cart.items %}
        <div class="row cart-row">

          <div class="col-xs-12 col-sm-2">
            <div class="pull-left">
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                <span
                  class="glyphicon glyphicon-remove-signe"
                  aria-hidden="true"
                ></span>
              </a>
            </div>
            <a href="{{ item.url | within: collections.all }}">
              <img 
                src="{{ item | img_url: 'medium' }}" 
                alt="{{ item.title | escape }}" 
                class="img-responsive"
              >
            </a>
          </div>

          <div class="col-xs-12 col-sm-4">
            <h3><a href="{{ item.url }}">{{ item.product.title }}</a></h3>
            {% unless item.variant.title contains 'Default' %}
              {{ item.variant.title }}                
            {% endunless %}
            <span>{{ item.product.vendor }}</span>
          </div>

          <div class="col-xs-5 col-sm-2">
            <h3 class="h3-price">
              {{ item.price | money }}
            </h3>
            <small>c/u</small>
          </div>

          <div class="col-xs-7 col-sm-2">
            <div class="form-group">
              <input 
                type="number" 
                name="updates[]" 
                id="updates_{{ item.id }}" 
                value="{{ item.quantity }}" 
                min="0" 
                class="cart-qty-input"
              >
              <small>cantidad</small>
            </div>
          </div>

          <div class="col-xs-12 col-sm-2">
            <h3 class="h3">
              {{ item.line_price | money }}
            </h3>
            <small>subtotal</small>
          </div>

        </div>
        {% endfor %}
      </form>
    </div>
  </div><!-- end .container-fluid -->
</section>