{%- comment -%}<script>
jQuery('[max]').change(function() {
  var max = parseInt(jQuery(this).attr('max'), 10) || 10000;
  var value = parseInt(jQuery(this).val(), 10) || 0;
  if (value > max) { jQuery(this).val(max); }
});
</script>{%- endcomment -%}

<section class="cuenta__detalle section__principal">
  <div class="container-fluid">

    <div class="row products__category--name row-mobile d-lg-flex">
      <div class="col-md-8">
          <h2>{{ 'cart.general.title' | t }}</h2>
          <h5>That little bucket of joy yeyeyei</h5>
      </div>
    </div><!-- end .row -->

    <div class="col-xs-12">
      <form action="/cart" method="post" novalidate>
        {% for item in cart.items %}
        <div class="row cart-row">

          <div class="col-xs-12 col-sm-2 align-self-sm-center">
            <a href="{{ item.url | within: collections.all }}">
              <img 
                src="{{ item | img_url: 'medium' }}" 
                alt="{{ item.title | escape }}" 
                class="img-responsive"
              >
            </a>
          </div>

          <div class="col-xs-12 col-sm-4 align-self-sm-center">
            <a class="h3" href="{{ item.url }}">{{ item.product.title }}</a><br />
                        {% unless item.product.has_only_default_variant %}
                          <span class="text-link">{{ item.variant.title }}</span><br />
                        {% endunless %}
            <span>{{ item.product.vendor }}</span>
          </div>

          <div class="col-xs-5 col-sm-2 align-self-sm-center">
            <h3 class="h3-price">
              {{ item.price | money }}
            </h3>
            <span>c/u</span>
          </div>

          <div class="col-xs-7 col-sm-2 align-self-sm-center">
            <div class="form-group">
              <input type='button' value='-' class='qtyminus' field='updates_{{ item.id }}' />
        <input type="number" name="updates[]" id="updates_{{ item.id }}" min="0" class="quantity" value="{{ item.quantity }}" {% unless item.variant.inventory_management == blank or item.variant.inventory_policy == 'continue' %} max="{{ item.variant.inventory_quantity }}" {% endunless %} />
        <input type='button' value='+' class='qtyplus' field='updates_{{ item.id }}' />
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                <small>{{ 'cart.general.remove' | t }}</small>
              </a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-2 align-self-sm-center">
            <h3 class="h3">
              {{ item.line_price | money }}
            </h3>
            <small>subtotal</small>
          </div>

        </div>
        {% endfor %}
      </form>
    </div>
  </div><!-- end .container-fluid -->
</section>

<script>jQuery(document).ready(function(){
    // This button will increment the value
    $('.qtyplus').click(function(e){
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseInt($('input[id='+fieldName+']').val());
        // If is not undefined
        if (!isNaN(currentVal)) {
            // Increment
            $('input[id='+fieldName+']').val(currentVal + 1);
        } else {
            // Otherwise put a 0 there
            $('input[id='+fieldName+']').val(0);
        }
    });
    // This button will decrement the value till 0
    $(".qtyminus").click(function(e) {
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseInt($('input[id='+fieldName+']').val());
        // If it isn't undefined or its greater than 0
        if (!isNaN(currentVal) && currentVal > 0) {
            // Decrement one
            $('input[id='+fieldName+']').val(currentVal - 1);
        } else {
            // Otherwise put a 0 there
            $('input[id='+fieldName+']').val(0);
        }
    });
});</script>