<script>
jQuery('[max]').change(function() {
  var max = parseInt(jQuery(this).attr('max'), 10) || 10000;
  var value = parseInt(jQuery(this).val(), 10) || 0;
  if (value > max) { jQuery(this).val(max); }
});
</script>

<section class="cuenta__detalle section__principal">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xs-12">
        <div class="header__sitebanner">
          <h1>{{ 'cart.general.title' | t }}<br /><small>That little bucket of joy</small></h1>
        </div>
      </div>
    </div><!-- end .row -->

    <div class="col-xs-12">
      <form action="/cart" method="post" novalidate>
        {% for item in cart.items %}
        <div class="row cart-row">

          <div class="col-xs-12 col-sm-2">
            <a href="{{ item.url | within: collections.all }}">
              <img 
                src="{{ item | img_url: 'medium' }}" 
                alt="{{ item.title | escape }}" 
                class="img-responsive"
              >
            </a>
          </div>

          <div class="col-xs-12 col-sm-4">
            <h1><a href="{{ item.url }}">{{ item.product.title }}</a></h1>
                        {% unless item.product.has_only_default_variant %}
                          <span>{{ item.variant.title }}</span><br />
                        {% endunless %}
            <span>{{ item.product.vendor }}</span>
          </div>

          <div class="col-xs-5 col-sm-2">
            <h3 class="h3-price">
              {{ item.price | money }}
            </h3>
            <small>c/u</small>
          </div>

          <div class="col-xs-7 col-sm-2">
            <div class="form-group">
              <small>cantidad</small>
              <input type="number"
                              class="cart-qty-input"
                              name="updates[]"
                              id="updates_{{ item.key }}"
                              min="0"
                              aria-label="{{ 'cart.general.item_quantity' | t }}"
                              value="{{ item.quantity }}" {% unless item.variant.inventory_management == blank or item.variant.inventory_policy == 'continue' %} max="{{ item.variant.inventory_quantity }}" {% endunless %} />
                        <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                          <small>{{ 'cart.general.remove' | t }}</small>
                        </a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-2">
            <h3 class="h3">
              {{ item.line_price | money }}
            </h3>
            <small>subtotal</small>
          </div>

        </div>
        {% endfor %}
      </form>
    </div>
  </div><!-- end .container-fluid -->
</section>