<section class="eyeshine__hero">
  <img srcset="{{ 'eyeshine-hero.jpg' | asset_url }} 500w, {{ 'eyeshine-hero.jpg' | asset_url }}" src="{{ 'eyeshine-hero.jpg' | asset_url }}" alt="Image"/>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-7 col-lg-6 col-xl-5 sticker-eyeshine">
        <h1>Eye shine. <br> menos ojeras, más brillo.</h1>
        <h2 class="h3">Los nuevos parches de hidrogel para ojos que desinflaman, hidratan y previenen.</h2>
        <a href="/" class="btn__agregar">$750 <span class="color-blueop">|</span> Agregar a la bolsa</a>
      </div> 
    </div>
  </div>
</section>

<section class="section__spacers eyeshine__descripcion">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Hello Eye Shine</h2>
        <p class="h5 mt-50">Los nuevos <span class="black"> parches de hidrogel</span> para ojos Eye shine de <span class="black">Momiji</span> son el <span class="text-underline">aliado perfecto</span>  para  <span class="border-text">combatir</span> el oscurecimiento y la opacidad, <span class="black"> desinflamar, hidratar y prevenir </span>los signos de la edad.</p>
      </div>
    </div>

    <div class="row justify-content-md-center mt-50">
      <figure class="col-7 ml-auto ml-md-0 col-md-4 p-0">
        <img class="thumbnail" src="{{ 'eyeshine-1.jpg' | asset_url }}" alt="">
      </figure>
      <figure class="col-9 col-md-5 p-0">
        <img class="thumbnail" src="{{ 'eyeshine-2.jpg' | asset_url }}" alt="">
      </figure>
      <figure class="col-12 col-md-6">
        <img class="thumbnail" src="{{ 'eyeshine-3.jpg' | asset_url }}" alt="">
      </figure>
      <figure class="col-12 col-md-6">
        <img class="thumbnail" src="{{ 'eyeshine-4.jpg' | asset_url }}" alt="">
      </figure>
      <figure class="col-8 col-md-4 mx-auto">
        <img class="thumbnail" src="{{ 'eyeshine-5.jpg' | asset_url }}" alt="">
      </figure>
    </div>
    
  </div>
</section>

<section class="section__spacers eyeshine__ingredients">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-lg-6">
        <h3 class="text-link">Lo mejor para tu piel</h3>
        <h2 class="h1-title">Ingredientes.</h2>
        <img class="mt-50" src="{{ 'eyeshine-ingredients.png' | asset_url }}" alt="Ingrediente">
      </div>
      <div class="col-md-7 col-lg-6 mt-50">
        <div class="ingredientes__item row">
          <div class="ingredientes__item--title col-md-5 col-lg-6 pl-0">
            <h4 class="h6">Adenosina</h4>
          </div>
          <ul class="ingredientes__item--list col-md-7 col-lg-6 list-unstyled list__bullets--water pl-0 pl-md-15">
            <li>Revitaliza y suaviza la zona</li>
            <li>Calma y repara</li>
            <li>Disminuye y previene arrugas</li>
          </ul>
        </div>
        <div class="ingredientes__item row">
          <div class="ingredientes__item--title col-md-5 col-lg-6 pl-0">
            <h4 class="h6">Ceramidas</h4>
          </div>
          <ul class="ingredientes__item--list col-md-7 col-lg-6 list-unstyled list__bullets--water pl-0 pl-md-15">
            <li>Reparan y refuerzan la barrera protectora de la piel</li>
            <li>Mantienen la zona hidratada</li>
            <li>Piel más firme y plumpy</li>
          </ul>
        </div>
        <div class="ingredientes__item row">
          <div class="ingredientes__item--title col-md-5 col-lg-6 pl-0">
            <h4 class="h6">Niacinamida</h4>
          </div>
          <ul class="ingredientes__item--list col-md-7 col-lg-6 list-unstyled list__bullets--water pl-0 pl-md-15">
            <li>Ilumina y empareja el tono</li>
            <li>Reduce arrugas y líneas finas</li>
            <li>Anti-contaminación</li>
          </ul>
        </div>
        <div class="ingredientes__item row" style="display: none">
          <div class="ingredientes__item--title col-md-5 col-lg-6 pl-0">
            <h4 class="h6">Cafeína</h4>
          </div>
          <ul class="ingredientes__item--list col-md-7 col-lg-6 list-unstyled list__bullets--water pl-0 pl-md-15">
            <li>Desinflama y revitaliza</li>
            <li>Estimula la circulación y descongestiona</li>
            <li>Combate radicales libres</li>
          </ul>
        </div>
        <div class="ingredientes__item row" style="display: none">
          <div class="ingredientes__item--title col-md-5 col-lg-6 pl-0">
            <h4 class="h6">Extracto de arroz</h4>
          </div>
          <ul class="ingredientes__item--list col-md-7 col-lg-6 list-unstyled list__bullets--water pl-0 pl-md-15">
            <li>Rico en vitaminas y minerales</li>
            <li>Hidrata y calma</li>
            <li>Promueve la renovación celular</li>
          </ul>
        </div>
        
        <div class="row mt-30"><a href="javascript:void(0)" id="load-ingredients" class="link__more--purple">ver más ingredientes <span class="icon--more"></span></a></div> 
      </div>
    </div>
  </div>
</section>

<section class="eyeshine__ventajas section__spacers">
  <div class="container">
    <div class="row row-mobile no-gutters">
      <div class="section__title col-12 sticker4">
        <h2 class="h1-title">Ventajas.</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-md-4 ventajas__item">
          <div class="img-container">
            <img src="{{ 'eyeshine-ventajas.jpg' | asset_url }}" alt="Mejor Absorcion">
          </div>
          <div class="text-container">
            <h3>Mejor absorción</h3>
            <p>El hidrogel tarda mucho más en secarse que otro tipo de fibras. Brindando el máximo nivel de absorción por más tiempo.</p>
          </div>
        </div>

        <div class="col-md-4 ventajas__item">
          <div class="img-container">
            <img src="{{ 'eyeshine-ventajas-2.jpg' | asset_url }}" alt="Eficiente">
          </div>
          <div class="text-container">
            <h3>Más eficiente</h3>
            <p>Tiene la capacidad de retener 99% de la esencia, la cual está llena de ingredientes activos para tu piel.</p>
          </div>
        </div>

        <div class="col-md-4 ventajas__item">
          <div class="img-container">
            <img src="{{ 'eyeshine-ventajas-3.jpg' | asset_url }}" alt="Oily Skin">
          </div>
          <div class="text-container">
            <h3>Hidratación al 100%</h3>
            <p>Sella la humedad, manteniendo el contorno de ojos suave e hidratado. Reconforta y refresca de manera inmediata.</p>
          </div>
        </div>

    </div>
  </div>
</section>

<section class="eyeshine__content section__spacers">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 text-center mx-auto">
        <h2 class="h1">Comprometidos con brindar solo lo bueno.</h2>
      </div>
      <div class="col-12 col-lg-10 text-center text-md-left mx-auto justify-content-between d-md-flex">
        <p><i class="ico-heart"></i>Hecho con ingredientes naturales</p>
        <p>Hecho para todo tipo de piel</p>
      </div>
    </div>
  </div>
  <div class="content--stickers">
    <img src="{{ 'eyeshine-Aceite.svg' | asset_url }}" alt="" class="sticker-item">
    <img src="{{ 'eyeshine-Biodegradable.svg' | asset_url }}" alt="" class="sticker-item">
    <img src="{{ 'eyeshine-Crueldad.svg' | asset_url }}" alt="" class="sticker-item">
    <img src="{{ 'eyeshine-Formaldehído.svg' | asset_url }}" alt="" class="sticker-item">
    <img src="{{ 'eyeshine-Fragancias.svg' | asset_url }}" alt="" class="sticker-item">
    <img src="{{ 'eyeshine-Ingredientes-Naturales.svg' | asset_url }}" alt="" class="sticker-item">
    <img src="{{ 'eyeshine-Parabenos.svg' | asset_url }}" alt="" class="sticker-item">
    <img src="{{ 'eyeshine-Sulfatos.svg' | asset_url }}" alt="" class="sticker-item">
    <img src="{{ 'eyeshine-Todo-tipo-de-piel.svg' | asset_url }}" alt="" class="sticker-item">
  </div>
</section>

<section class="eyeshine__usar section__spacers">
  <div class="container">
    <div class="row row-mobile no-gutters">
      <div class="section__title col-12">
        <h2 class="h1-title">Cómo usarlos.</h2>
      </div>
    </div>

    <div class="row justify-content-between">
      <div class="col-md-4 col-lg-3 usar__item">
        <figure>
          <img class="active-img" src="{{ 'eyeshine-step.png' | asset_url }}" alt="Step 1">
        </figure>
        <div class="text-container">
          <p class="text-sans">Paso 1</p>
          <p>Con la espátula, toma los parches y aplícalos en las ojeras</p>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 usar__item">
        <figure>
          <img class="active-img" src="{{ 'eyeshine-step-2.png' | asset_url }}" alt="Step 1">
        </figure>
        <div class="text-container">
          <p class="text-sans">Paso 2</p>
          <p>Relájate por 20 minutos, después retira los parches</p>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 usar__item">
        <figure>
          <img class="active-img" src="{{ 'eyeshine-step-4.png' | asset_url }}" alt="Step 1">
        </figure>
        <div class="text-container">
          <p class="text-sans">Paso 3</p>
          <p>Da un suave masaje y aplica una crema para ojos</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="eyeshine__related">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-12 col-lg-6 p-0 new-product">
        <img src="{{ 'eyeshine-related.jpg' | asset_url }}" alt="/">
      </div>
      <div class="col-md-12 col-lg-6 section__spacers align-items-center d-flex">
        <div class="col-md-10 col-lg-9 col-xl-8 mx-auto">
          <div class="related--title">
            <h3 class="text-link">Momiji beauty</h3>
            <h2 class="h2">Full Shine Kit</h2>
          </div>

          <div class="related--content mt-30"> 
            <h4>Sácale provecho a tus Eye shine</h4>
            <ul class="list-unstyled list__bullets--water split-content">
              <li>Úsalos antes de maquillarte para preparar el contorno de ojos y evitar que el makeup se craquele.</li>
              <li>Aplícalos después de una desvelada para desinflamar e iluminar la zona.</li>
              <li>Mantenlos refrigerados para potencializar su poder refrescante y desinflamante.</li>
              <li>¡Haz multimasking! Coloca eye shine debajo de tus ojos y sobre ellos aplica una Momiji Mask para un
                tratamiento como de spa en casa.</li>
            </ul>
            <a href="/" class="btn__agregar">$750 <span class="color-blueop">|</span> Agregar a la bolsa</a>
            <div class="related--links"><a href="/" class="color-blue">Ver pore celaine </a> <span class="color-blueop"> | </span>  <a href="" class="color-blue"> ver eye shine</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>