<main class="legal bg-purple">
  <section class="section__principal">
    <div class="container">
      <div class="row">
        <div class="col-12 privacidad--title mb-60">
          <h1 class="lh-20"><a class="h2">Momiji Points</a></h1>
          <div class=" mb-3 pb-2 border-bottom border-dark"></div>
          {%- comment -%}Loyalty Panel{%- endcomment -%}
            <div data-lion-account></div>
        </div>
      </div>
    </div>
  </section>
</main>

<style>

{%- comment -%}mobile menu
{%- endcomment -%}

@media (max-width: 600px) {
#loyaltylion .lion-loyalty-panel-sidebar__mobile-menu-toggle-button {
	border-right: 1px solid #0a0a0a;
	margin-left: 0px;
	position: absolute;
 }
}

{%- comment -%}
contenido sin login
{%- endcomment -%}
#loyaltylion .lion-loyalty-splash__heading {
	display: none;
}
#loyaltylion .lion-loyalty-splash-column__intro-text {
	font-family: 'GT Super Display';
	font-weight: 400;
	font-size: 2.2em;
}
#loyaltylion .lion-loyalty-splash-column:last-child {
	border-right: none;
}
#loyaltylion .lion-loyalty-splash-item {
	background-color: #fdfdfd;
	margin-bottom: 20px;
	border-top: none;
	border-bottom: none;
}
#loyaltylion .lion-loyalty-splash-item__title {
	width: 100%;
	margin-bottom: 3px;
	color: #111;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: "GT Momiji Medium", sans-serif;
	text-transform: none;
	font-weight: 500;
	font-size: 1.2em;
	letter-spacing: -0.3px;
}
#loyaltylion .lion-loyalty-splash-item__value {
	font-family: "GT Momiji Regular", sans-serif;
}
#loyaltylion .lion-loyalty-splash__footer {
	border-top: none;
}
#loyaltylion .lion-loyalty-splash__get-started-text {
	color: #0a0a0a;
	font-family: 'GT Momiji Medium', sans-serif;
}
#loyaltylion .lion-loyalty-splash__button-spacer {
	font-size: 0em;
	color: transparent;
}

{%- comment -%}
Area contenido general
{%- endcomment -%}
#loyaltylion .lion-loyalty-panel-content--earn, #loyaltylion .lion-loyalty-panel-content--rewards {
	background-color: transparent;
}
#loyaltylion .lion-loyalty-panel-sidebar__header, #loyaltylion .lion-loyalty-panel-content__header {
	z-index: auto;
}
#loyaltylion .lion-loyalty-panel-content__header {
	background-color: transparent;
	border-bottom: none;
	border-top-right-radius: inherit;
	padding: 10px 0 9px 15px;
	color: #0a0a0a;
	font-weight: 400;
	font-size: 2.3em;
	font-family: 'GT Super Display';
}
#loyaltylion .lion-checkout-redemption-banner {
	font-size: 1.8em;
	padding: 20px 20px;
	border-bottom: none;
	display: flex;
	background-color: transparent;
}
#loyaltylion .lion-checkout-redemption-banner span {
	font-family: "GT Momiji Medium", sans-serif;
	text-transform: none;
	font-weight: 400;
	font-size: 1em;
	letter-spacing: -0.3px;
	line-height: 1em;
}
#loyaltylion .lion-loyalty-panel-reward-item__content {
	min-width: 0;
	min-height: 150px;
	width: 100%;
	background-color: #fff;
	border-radius: 3px;
	font-size: 1.6em;
	box-shadow: none;
	padding: 10px;
	display: flex;
	flex-direction: column;
	text-align: left;
}
#loyaltylion b, #loyaltylion strong {
	font-weight: 400;
}
#loyaltylion .lion-loyalty-panel-reward-item__title {
	font-family: "GT Momiji Medium", sans-serif;
	text-transform: none;
	font-weight: 500;
	font-size: 1.6em;
	letter-spacing: -0.3px;
	line-height: 30px;
	padding-bottom: 5px;
}
#loyaltylion .lion-loyalty-panel-reward-item__percent-off {
	display: none;
}
#loyaltylion .lion-loyalty-panel-reward-item__min-spend::before, #loyaltylion .lion-loyalty-panel-reward-item__cost:not(:first-child)::before {
	content: '';
}
#loyaltylion .lion-loyalty-panel-reward-item__meta {
	color: #0a0a0a;
}
#loyaltylion .lion-loyalty-panel-reward-item a {
	font-family: "GT Momiji Medium", sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1.25px;
	line-height: 20px;
}
#loyaltylion .lion-loyalty-panel-reward-item a:hover {
	color: #F06C4E;
}
#loyaltylion .lion-loyalty-panel-reward-item__more-info-url, #loyaltylion .lion-loyalty-panel-reward-item__terms-url {
	margin: 7px 5px 0 0px;
}
#loyaltylion .lion-loyalty-panel-rule-item__content {
	border-radius: 0;
	border: none;
	font-size: 1.6em;
	box-shadow: none;
}
#loyaltylion .lion-loyalty-panel-rule-item--actionable:hover .lion-loyalty-panel-rule-item__content {
	border: none;
	color: #F06C4E;
}
#loyaltylion .lion-loyalty-panel-rule-item__title {
	font-family: "GT Momiji Medium", sans-serif;
	text-transform: none;
	font-weight: 500;
	font-size: 1.6em;
	letter-spacing: -0.3px;
	line-height: 30px;
	flex-grow: 1;
	padding: 15px 40px 15px 15px;
	overflow: hidden;
}
#loyaltylion .lion-referral-widget-panels {
	background-color: transparent;
}
#loyaltylion .lion-referral-widget-main__share-buttons {
	border-top: none;
}


{%- comment -%}
Sidebar
{%- endcomment -%}
#loyaltylion .lion-loyalty-panel-sidebar {
	width: 190px;
	background: transparent;
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	border-right: 1px solid #0a0a0a;
}

{%- comment -%}
sidebar title 
{%- endcomment -%}
#loyaltylion .lion-loyalty-panel-sidebar__title {
/*	font-size: 2em; */
	padding: 10px;
	font-size: 40px;
	letter-spacing: -0.7px;
	line-height: 40px;
	border-top-left-radius: inherit;
  	display: none;
}
#loyaltylion .lion-loyalty-panel-sidebar__header {
	border-bottom: none;
	color: #0a0a0a;
}
#loyaltylion .lion-loyalty-panel-sidebar__points {
	text-align: right;
	padding: 3px 15px 0px 10px;
	font-family: "GT Super Display";
	font-weight: 400;
	font-size: 1.4em;
}
#loyaltylion .lion-loyalty-panel-sidebar__menu-item.lion-active, #loyaltylion .lion-loyalty-panel-sidebar__menu-item:hover {
	background: transparent;
	color: #F06C4E;
}
#loyaltylion .lion-loyalty-panel-sidebar__menu-item {
	display: block;
	color: #0a0a0a;
	text-decoration: none;
	padding: 7px 10px 7px 11px;
	outline: none;
	font-size: 1.5em;
	cursor: pointer;
	background: transparent;
	font-family: "GT Momiji Medium", sans-serif;
	letter-spacing: 0px;
	line-height: 20px;
	font-weight: 500;
	text-transform: unset;
}

#loyaltylion .lion-loyalty-panel--format-embed {
	font-family: 'GT Momiji Regular', sans-serif;
}
#loyaltylion .lion-loyalty-panel-reward-item__redeem-button {
	font-family: 'GT Momiji Medium', sans-serif;
}

{%- comment -%}
botones
{%- endcomment -%}
.lion-action-button, #loyaltylion .lion-action-button {
  background: #F06C4E;
  color:#0a0a0a;
	/*padding: 9px 15px;*/
  padding: 8px 8px;
	/*font-size: 1.2em;*/
	border-radius: 0px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	outline: none;
	border: none;
}
#loyaltylion .lion-action-button:hover {
  background: #D45032;
}

#loyaltylion .lion-loyalty-panel-reward-item__redeem-button-text {
  font-family: "GT Momiji Medium", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1.25px;
  line-height: 20px;
}
#loyaltylion .lion-referral-share-button--twitter {
	display: none !important;
}
#loyaltylion .lion-referral-share-button--whatsapp {
	display: none !important;
}
#loyaltylion .lion-referral-share-button {
	cursor: pointer;
	display: inline-block;
	height: 48px;
	width: auto;
	border-radius: 6px;
	padding: 0 18px;
	margin: 8px;
	line-height: 47px;
	font-size: 16px;
}
#loyaltylion .lion-referral-share-button--email {
  	background: #F06C4E;
  	color:#0a0a0a;
	border-radius: 0px;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	border: none;
	font-family: "GT Momiji Medium", sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1.25px;
}
#loyaltylion .lion-referral-share-button--email:hover {
  	background: #D45032;
}

#loyaltylion .lion-loyalty-panel-rule-item__points {
	text-align: left;
	background-color: #F9FCFC;
	border-radius: 0;
	padding: 8px 8px 8px 15px;
}

#loyaltylion .lion-loyalty-panel-rule-item span {
	font-family: "GT Momiji Medium", sans-serif;
	text-transform: uppercase;
	color: #0a0a0a;
	font-size: 10px;
	letter-spacing: 1.25px;
	line-height: 20px;
}

.lion-icon__rule--purchase, .lion-icon__rule--product-purchase, .lion-icon__rule--collection-purchase, #loyaltylion .lion-icon__rule--purchase, #loyaltylion .lion-icon__rule--product-purchase, #loyaltylion .lion-icon__rule--collection-purchase {
	background: url({{ 'haz-una-compra.svg' | asset_url }}) center/contain no-repeat;
}
.lion-icon__reward--product-cart, .lion-icon__reward--product-discount-voucher, .lion-icon__rule--birthday, #loyaltylion .lion-icon__reward--product-cart, #loyaltylion .lion-icon__reward--product-discount-voucher, #loyaltylion .lion-icon__rule--birthday {
	background: transparent url({{ 'birthday.svg' | asset_url }}) center/contain no-repeat;
}
.lion-icon__rule--referral, #loyaltylion .lion-icon__rule--referral {
	background: url({{ 'refiere.svg' | asset_url }}) center/contain no-repeat;
}
.lion-icon__rule--newsletter-signup, #loyaltylion .lion-icon__rule--newsletter-signup {
	background: url({{ 'newsletter.svg' | asset_url }}) center/contain no-repeat;
}
.lion-icon__rule--signup, #loyaltylion .lion-icon__rule--signup {
	background: url({{ 'crear-cuenta.svg' | asset_url }}) center/contain no-repeat;
}
#loyaltylion .lion-icon__reward--cart-discount-voucher, #loyaltylion .lion-icon__reward--collection-discount-voucher, #loyaltylion .lion-icon__reward--checkout-redemption {
	background: url({{ 'canjear.svg' | asset_url }}) center/contain no-repeat;
}
#loyaltylion .lion-icon__reward--product-cart, #loyaltylion .lion-icon__reward--product-discount-voucher {
	background: transparent url({{ 'producto.svg' | asset_url }}) center/contain no-repeat;
}
#loyaltylion .lion-referral-widget--format-panel .lion-referral-widget-main__icon {
	width: 80px;
	height: 80px;
	background: transparent url({{ 'refiere.svg' | asset_url }}) no-repeat 50% 50%;
	background-size: 55px;
	border-radius: 0;
	box-shadow: none;
	margin: 5px auto 25px auto;
}
#loyaltylion .lion-checkout-redemption-banner__icon {
	background-size: 35px;
	border-radius: 0;
	box-shadow: none;
	height: 55px;
	width: 55px;
	margin-right: 10px;
}
#loyaltylion .lion-loyalty-panel-rule-item__icon {
	width: 93px;
	height: 93px;
	background-color: transparent;
	border-radius: 0;
	position: absolute;
	top: 37px;
	right: -11px;
	background-size: 45px;
	box-shadow: none;
}
#loyaltylion .lion-loyalty-panel-page-history {
	color: #0a0a0a;
	background-color: transparent;
}
#loyaltylion .lion-customer-history-table__row {
	border-bottom: 1px #0a0a0a solid;
}
#loyaltylion .lion-loyalty-panel-page-help {
	padding: 20px;
	color: #0a0a0a;
	font-size: 10px;
	background-color: transparent;
}

{%- comment -%}
Modal
{%- endcomment -%}
#loyaltylion .lion-modal {
	font-size: 10px;
	color: #0a0a0a;
	position: fixed;
	left: 50%;
	top: 50%;
	width: 100%;
	max-width: 600px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #fff;
	border-radius: 0;
	box-shadow: 0 3px 18px rgba(0, 0, 0, 0.25);
	z-index: 1000000003;
	font-family: 'GT Momiji Regular';
}
#loyaltylion .lion-modal__header {
	background-color: #FAF2FA;
	border-bottom: 1px solid black;
	border-radius: 0;
	display: flex;
	cursor: default;
}
#loyaltylion .lion-modal__title {
	flex-grow: 1;
	font-family: 'GT Momiji Medium';
	padding: 10px 15px;
	font-size: 2em;
	color: #0a0a0a;
}
#loyaltylion .lion-action-button {
	background: #F06C4E;
	padding: 8px 15px;
	border-radius: 0px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	outline: none;
	border: none;
	font-family: "GT Momiji Medium", sans-serif;
	text-transform: uppercase;
	color: #0a0a0a;
	font-size: 10px;
	letter-spacing: 1.25px;
	line-height: 20px;
}
</style>