<main class="page-sundae">
    <section>
      <div class="container pt-45 pt-md-150 stagger-on-scroll">
        <div class="row">
          <div class="col-12">
            <div class="d-md-flex align-items-center title text-center text-md-left stagger-child">
              <h1 class="h3">New Makeup Line. <strong> SPRING/SUMMER 2020</strong></h1><div class="tag-b mt-5 mt-md-0 ml-md-1 d-inline-block">안녕하세요</div> 
            </div>
            <img class="stagger-child" src="{{ 'sundae.svg' | asset_url }}" alt="sundae">
          </div>
          <div class="col-md-10 col-lg-7 text-center mx-auto mt-20 desc-icons stagger-child">
            <h2 class="h3">Make-up your Beauty, by<strong>MOMIJI</strong>. 4<strong>Products</strong>: A lip tint <span class="icon-sundae-lip"></span>, a lip cream puff <span class="icon-sundae-cream"></span>, an eyebrow pencil <span class="icon-sundae-pencil"></span>and a brush <span class="icon-sundae-brush"></span>.</h2>
          </div>
        </div>

        <!-- //imagen -->
        <div class="row">
          <div class="col-10 col-md-11 col-lg-9 mx-auto position-relative mt-30 mb-30 mb-md-20">
            <div class="img-container stagger-child">
              <img class="w-100" src="{{ 'sundae-01.jpg' | asset_url }}" alt="Persona">
            </div>

            <div class="graphics">
              <img class="img-h icon-hover stagger-child" src="{{ 'sundae-sticker-01.png' | asset_url }}" alt="heart">
              <img class="img-h icon-hover fade-on-scroll" src="{{ 'Sundae-Powder.png' | asset_url }}" alt="powder">
            </div>
          </div>
        </div>

        <!-- //descripción  -->
        <div class="row">
          <div class="col-12 d-block d-md-flex ctn-center align-items-start text-center text-md-left">
            <div class="tag-b tag-rotate mr-md-40 mr-lg-30 d-inline-block mb-10 mb-md-0 fade-on-scroll">안녕하세요</div>
            <div class="desc-icons text-left fade-on-scroll">
              <p class="h3 text-indent">Sundae is about defining beauty on our own terms.<strong>No rules</strong>. No struggle toward perfection. Just us, playing with how we want to look, feel, and live. Sundae is here to help with products that are crazy<strong>clean, super easy, and always fun</strong>. We made Sundae to create better options for us and our friends. Cause it’s about time that the brands we buy actually want us to be happy by just<strong>being ourselves</strong>.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="home" class="pb-100 pb-md-190">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-lg-7 col-xl-6 mx-auto text-center inner fade-on-scroll">
              <h2>With love <span class="icon-sundae-heart"></span> from us.This is why we created SUNDAE®</h2>
          </div>

          <div class="col-12 col-sm-7 col-md-12 col-lg-12 col-xl-10 mx-auto">
            <!-- card 1  -->
            <div class="col-md-6 col-lg-5 offset-md-2 mx-lg-auto movable bg-yellow fade-on-scroll">
              <div class="icon-number">1</div>
              <h3 class="h2">Enhance your beauty</h3>
              <div class="movable-desc">
                <p>Nuestras fórmulas construíbles te permiten crear diferentes looks de acuerdo a tu mood y los empaques son ideales para una aplicación fácil donde quiera que estés.</p>
              </div>
              <div class="movable-icon"><img src="{{ 'sundae-icon-benefits-enhance.svg' | asset_url }}" alt=""></div>
            </div>
            <!-- icon 1  -->
            <div class="movable bg-sticky icon-ramen offset-md-7 offset-lg-8 fade-on-scroll">
              <img class="icon-hover" src="{{ 'sundae-sticker-02.png' | asset_url }}" alt="">
            </div>
            <!-- card img  -->
            <div class="col-md-6 col-lg-5 movable bg-img offset-md-6 fade-on-scroll" style="background: url('{{ 'sundae-02.jpg' | asset_url }}');background-repeat: no-repeat;background-size: cover;">
            </div>
            <!-- card 2  -->
            <div class="col-md-6 col-lg-5 movable bg-purple fade-on-scroll">
              <div class="icon-number">2</div>
              <h3 class="h2">Practicidad</h3>
              <div class="movable-desc">
                <p>Nuestras fórmulas construíbles te permiten crear diferentes looks de acuerdo a tu mood y los empaques son ideales para una aplicación fácil donde quiera que estés.</p>
              </div>
              <div class="movable-icon"><img src="{{ 'sundae-icon-benefits-practicidad.svg' | asset_url }}" alt="Practicidad"></div>
            </div>

            <!-- card 3  -->
            <div class="col-md-6 col-lg-5 offset-md-4 offset-lg-5 movable bg-orange fade-on-scroll">
              <div class="icon-number">3</div>
              <h3 class="h2">Expresión</h3>
              <div class="movable-desc">
                <p>Nuestras fórmulas construíbles te permiten crear diferentes looks de acuerdo a tu mood y los empaques son ideales para una aplicación fácil donde quiera que estés.</p>
              </div>
              <div class="movable-icon"><img src="{{ 'sundae-icon-benefits-expresion.svg' | asset_url }}" alt="icon heart"></div>
            </div>

            <!-- icon 2  -->
            <div class="movable bg-sticky icon-lipstick offset-md-1 fade-on-scroll">
              <img class="icon-hover" src="{{ 'sundae-sticker-03.png ' | asset_url }}" alt="lipstick">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="sundae-products">
      <div class="container">
        <div class="row pb-125 pb-md-190 pb-lg-220">
          <div class="col-md-9 col-lg-7 col-xl-6 mx-auto text-center desc-icons fade-on-scroll">
            <h2>Meet your new makeup allies. Easy <span class="icon-sundae-star"></span> and (most important) fun.</h2>
          </div>
        </div>

        <div class="row stagger-on-scroll">
          <!-- PRODUCT  -->
          <div class="col-sm-6 col-md-6 mb-30 stagger-child">
            <div class="thumb-product product">
              <a href="/">
                <div class="thumb-img product__container--main col-10 mx-auto">
                  <img src="{{ 'sundae-product-01.png' | asset_url }}" alt="Cream Puff">
                  <div class="thumb-img--hover product__container--hover">
                    <img src="{{ 'sundae-product-hover-01.png' | asset_url }}" alt="">
                  </div>
                </div>
              </a>
              <div class="thumb-title text-center">
                <a href="/" class="h2 d-block">Cream Puff</a>
                <div class="tag-b">$350.00 MXN</div>
              </div>
              <div class="thumb-desc desc-icons text-lg-center">
                <div class="close d-block d-lg-none"><svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 11"><path d="M6.921 5.672l3.75-3.75-1.25-1.25-3.75 3.75-3.75-3.75-1.25 1.25 3.75 3.75-3.75 3.75 1.25 1.25 3.75-3.75 3.75 3.75 1.25-1.25-3.75-3.75z" fill="#090909"/></svg></div>
                <div class="desc-title d-block d-lg-none">
                  <h4 class="h2">Descripción</h4>
                </div>
                <p>Una <strong>tinta para labios</strong> <img src="{{ 'sundae-icon-lips.svg' | asset_url }}" alt="">  ligera de larga <strong>duración</strong> <img src="{{ 'sundae-icon-time.svg' | asset_url }}" alt="">  , acabado mate y color intenso con una textura acuosa y extra cómoda. Su fórmula construíble es perfecta.</p>
              </div>

              <div class="thumb-actions ctn-center d-block d-md-flex">
                <a href="/" class="btn btn-sundae link">Agregar a bolsa</a>
                <a href="/" class="link ml-md-20 link-detail">ver DETALLE</a>
              </div>

              <div class="desc-rotate d-block d-lg-none">
                <p class="link link-u">Descripción</p>
              </div>
            </div>
          </div>

          <!-- PRODUCT  -->
          <div class="col-sm-6 col-md-6 mb-30 stagger-child">
            <div class="thumb-product product">
              <a href="/">
                <div class="thumb-img product__container--main col-10 mx-auto">
                  <img src="{{ 'sundae-product-01.png' | asset_url }}" alt="Cream Puff">
                  <div class="thumb-img--hover product__container--hover">
                    <img src="{{ 'sundae-product-hover-01.png' | asset_url }}" alt="">
                  </div>
                </div>
              </a>
              <div class="thumb-title text-center">
                <a href="/" class="h2 d-block">Cream Puff</a>
                <div class="tag-b">$350.00 MXN</div>
              </div>
              <div class="thumb-desc desc-icons text-lg-center">
                <div class="close d-block d-lg-none"><svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 11"><path d="M6.921 5.672l3.75-3.75-1.25-1.25-3.75 3.75-3.75-3.75-1.25 1.25 3.75 3.75-3.75 3.75 1.25 1.25 3.75-3.75 3.75 3.75 1.25-1.25-3.75-3.75z" fill="#090909"/></svg></div>
                <div class="desc-title d-block d-lg-none">
                  <h4 class="h2">Descripción</h4>
                </div>
                <p>Un<strong>blush y lip-tint</strong><img width="10" src="{{ 'sundae-icon-heart.svg' | asset_url }}" alt=""> en uno de fórmula <strong>mousse</strong><img src="{{ 'sundae-icon-mouss.svg' | asset_url }}" alt="">construíble con acabado mate aterciopelado. Pensado para aplicarse en mejillas y labios para crear un efecto water-color.</p>
              </div>

              <div class="thumb-actions ctn-center d-block d-md-flex">
                <a href="/" class="btn btn-sundae link">Agregar a bolsa</a>
                <a href="/" class="link ml-md-20 link-detail">ver DETALLE</a>
              </div>

              <div class="desc-rotate d-block d-lg-none">
                <p class="link link-u">Descripción</p>
              </div>
            </div>
          </div>

          <!-- PRODUCT  -->
          <div class="col-sm-6 col-md-6 mb-30 stagger-child">
            <div class="thumb-product product">
              <a href="/">
                <div class="thumb-img product__container--main col-10 mx-auto">
                  <img src="{{ 'sundae-product-01.png' | asset_url }}" alt="Cream Puff">
                  <div class="thumb-img--hover product__container--hover">
                    <img src="{{ 'sundae-product-hover-01.png' | asset_url }}" alt="">
                  </div>
                </div>
              </a>
              <div class="thumb-title text-center">
                <a href="/" class="h2 d-block">Brow Freckz</a>
                <div class="tag-b">$350.00 MXN</div>
              </div>
              <div class="thumb-desc desc-icons text-lg-center">
                <div class="close d-block d-lg-none"><svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 11"><path d="M6.921 5.672l3.75-3.75-1.25-1.25-3.75 3.75-3.75-3.75-1.25 1.25 3.75 3.75-3.75 3.75 1.25 1.25 3.75-3.75 3.75 3.75 1.25-1.25-3.75-3.75z" fill="#090909"/></svg></div>
                <div class="desc-title d-block d-lg-none">
                  <h4 class="h2">Descripción</h4>
                </div>
                <p>Plumón para deficir<strong>cejas</strong><img src="{{ 'sundae-icon-glasses.svg' | asset_url }}" alt="">y crear <strong>faux–freckles</strong><img src="{{ 'sundae-icon-freckles.svg' | asset_url }}" alt="">. con una <strong>brocha</strong><img src="{{ 'sundae-icon-brush.svg' | asset_url }}" alt="">ultra delgada y en diagonal que te permite dibujar cada pelito, así como una punta súper fina.</p>
              </div>

              <div class="thumb-actions ctn-center d-block d-md-flex">
                <a href="/" class="btn btn-sundae link">Agregar a bolsa</a>
                <a href="/" class="link ml-md-20 link-detail">ver DETALLE</a>
              </div>

              <div class="desc-rotate d-block d-lg-none">
                <p class="link link-u">Descripción</p>
              </div>
            </div>
          </div>

          <!-- PRODUCT  -->
          <div class="col-sm-6 col-md-6 mb-30 stagger-child">
            <div class="thumb-product product">
              <a href="/">
                <div class="thumb-img product__container--main col-10 mx-auto">
                  <img src="{{ 'sundae-product-01.png' | asset_url }}" alt="Cream Puff">
                  <div class="thumb-img--hover product__container--hover">
                    <img src="{{ 'sundae-product-hover-01.png' | asset_url }}" alt="">
                  </div>
                </div>
              </a>
              <div class="thumb-title text-center">
                <a href="/" class="h2 d-block">Cheeky Sculpt</a>
                <div class="tag-b">$350.00 MXN</div>
              </div>
              <div class="thumb-desc desc-icons text-lg-center">
                <div class="close d-block d-lg-none"><svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 11"><path d="M6.921 5.672l3.75-3.75-1.25-1.25-3.75 3.75-3.75-3.75-1.25 1.25 3.75 3.75-3.75 3.75 1.25 1.25 3.75-3.75 3.75 3.75 1.25-1.25-3.75-3.75z" fill="#090909"/></svg></div>
                <div class="desc-title d-block d-lg-none">
                  <h4 class="h2">Descripción</h4>
                </div>
                <p>Una <strong>brocha vegana</strong><img src="{{ 'sundae-icon-vegan.svg' | asset_url }}" alt="">de <strong>cerdas ultra suaves</strong><img src="{{ 'sundae-icon-cloud.svg' | asset_url }}" alt="">. diseñada para adaptarse a las curvas de tu cara. Perfecta para aplicar nuestro Mami Color en mejillas y en el puente de la nariz para crear looks naturales.</p>
              </div>

              <div class="thumb-actions ctn-center d-block d-md-flex">
                <a href="/" class="btn btn-sundae link">Agregar a bolsa</a>
                <a href="/" class="link ml-md-20 link-detail">ver DETALLE</a>
              </div>

              <div class="desc-rotate d-block d-lg-none">
                <p class="link link-u">Descripción</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="sundae-marquee py-100 pb-125 py-md-170 py-lg-200">
      <div class="container-fluid">
        <div class="row text-center">
          <div class="col-lg-9 mx-auto text-center mb-20 desc-icons fade-on-scroll">
            <p><strong>SIN</strong>ingredientes dañinos. con<strong>TODO</strong>lo bueno.</p>
          </div>

          <div class="marquee fade-on-scroll">
            <span class="h1"><img src="{{ 'sundae-icon-marquee01.svg' | asset_url }} " alt="">Sin fragancias</span>
            <span class="h1"><img src="{{ 'sundae-icon-marquee02.svg' | asset_url }}" alt="">Sin Gluten</span>
            <span class="h1"><img src="{{ 'sundae-icon-marquee03.svg' | asset_url }}" alt="">Sin formaldehídos</span>
            <span class="h1"><img src="{{ 'sundae-icon-marquee01.svg' | asset_url }} " alt="">Sin fragancias</span>
            <span class="h1"><img src="{{ 'sundae-icon-marquee02.svg' | asset_url }}" alt="">Sin Gluten</span>
            <span class="h1"><img src="{{ 'sundae-icon-marquee03.svg' | asset_url }}" alt="">Sin formaldehídos</span>
          </div>

          <div class="marquee fade-on-scroll" data-direction="right">
            <span class="h1"><img src="{{ 'sundae-icon-marquee04.svg' | asset_url }}" alt="">Libre de parabenos</span>
            <span class="h1"><img src="{{ 'sundae-icon-marquee05.svg' | asset_url }}" alt="">Libre de crueldad</span>
            <span class="h1"><img src="{{ 'sundae-icon-marquee04.svg' | asset_url }}" alt="">Libre de parabenos</span>
            <span class="h1"><img src="{{ 'sundae-icon-marquee05.svg' | asset_url }}" alt="">Libre de crueldad</span>
          </div>

          <div class="marquee fade-on-scroll">
            <span class="h1"><img src="{{ 'sundae-icon-marquee06.svg' | asset_url }}" alt="">Sin aceite mineral</span>
            <span class="h1"><img src="{{ 'sundae-icon-marquee03.svg' | asset_url }}" alt="">Sin sulfatos</span>
            <span class="h1"><img src="{{ 'sundae-icon-marquee07.svg' | asset_url }}" alt="">Sin alcohol</span>
            <span class="h1"><img src="{{ 'sundae-icon-marquee06.svg' | asset_url }}" alt="">Sin aceite mineral</span>
            <span class="h1"><img src="{{ 'sundae-icon-marquee03.svg' | asset_url }}" alt="">Sin sulfatos</span>
            <span class="h1"><img src="{{ 'sundae-icon-marquee07.svg' | asset_url }}" alt="">Sin alcohol</span>
          </div>

        </div>
      </div>
    </section>

    <section class="sundae-ig stagger-on-scroll">
      <div class="graphics">
        <img class="icon-hover stagger-child" src="{{ 'sundae-sticker-04.png' | asset_url }}" alt="">
      </div>
      <div class="container-fluid p-0">
        <div class="row no-gutters">

          <!-- IMG  -->
          <div class="col-md-6 col-lg-4 order-md-1 stagger-child img-container">
            <img class="w-100" src="{{ 'sundae-03.jpg' | asset_url }}" alt="">
          </div>

          <!-- IMG  -->
          <div class="col-md-6 col-lg-4 order-md-1  stagger-child img-container">
            <img class="w-100" src="{{ 'sundae-03.jpg' | asset_url }}" alt="">
          </div>

          <!-- card  -->
          <div class="col-md-6 col-lg-4 order-md-3 order-lg-2  stagger-child">
            <div class="card-ig movable">
              <div class="icon-number"><svg width="11" height="11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.5 2.805c.469 0 .914.14 1.336.375.422.234.75.562.984.984.235.422.375.867.375 1.336 0 .492-.14.938-.375 1.36-.234.421-.562.75-.984.984a2.71 2.71 0 01-1.336.351c-.492 0-.938-.117-1.36-.351a2.486 2.486 0 01-.984-.985A2.733 2.733 0 012.805 5.5c0-.469.117-.914.351-1.336.235-.422.563-.75.985-.984.421-.235.867-.375 1.359-.375zm0 4.453a1.7 1.7 0 001.242-.516c.328-.328.516-.75.516-1.242 0-.469-.188-.89-.516-1.242-.351-.328-.773-.516-1.242-.516-.492 0-.914.188-1.242.516A1.7 1.7 0 003.742 5.5c0 .492.164.914.516 1.242.328.352.75.516 1.242.516zm3.445-4.57c0-.165-.07-.305-.187-.446-.14-.117-.281-.187-.445-.187a.6.6 0 00-.446.187.586.586 0 00-.187.446c0 .187.047.328.187.445.117.14.258.187.446.187a.509.509 0 00.421-.187.726.726 0 00.211-.446zm1.782.632c0 .446.023 1.172.023 2.18 0 1.031-.023 1.758-.047 2.203-.023.445-.094.82-.187 1.149-.141.398-.375.75-.657 1.03a2.825 2.825 0 01-1.007.634 4.188 4.188 0 01-1.172.21c-.446.024-1.172.024-2.18.024-1.031 0-1.758 0-2.203-.023-.445-.024-.82-.094-1.149-.235a2.418 2.418 0 01-1.03-.61 2.727 2.727 0 01-.634-1.03 4.014 4.014 0 01-.21-1.149C.25 7.258.25 6.531.25 5.5c0-1.008 0-1.734.023-2.18.024-.445.094-.843.211-1.172.141-.375.352-.726.633-1.007A2.777 2.777 0 012.148.484 5.106 5.106 0 013.297.297 43.31 43.31 0 015.5.25c1.008 0 1.734.023 2.18.047.445.023.843.094 1.172.187.375.141.726.375 1.007.657.282.28.516.632.657 1.007.093.329.164.727.21 1.172zM9.602 8.594c.093-.258.14-.68.187-1.266 0-.328.024-.82.024-1.453v-.75c0-.633-.024-1.125-.024-1.453-.047-.586-.094-1.008-.187-1.266a1.777 1.777 0 00-1.008-1.008c-.258-.093-.68-.14-1.266-.187-.351 0-.844-.024-1.453-.024h-.75c-.633 0-1.125.024-1.453.024-.586.047-1.008.094-1.266.187-.492.188-.82.54-1.008 1.008-.093.258-.164.68-.187 1.266-.024.351-.024.844-.024 1.453v.75c0 .633 0 1.125.024 1.453.023.586.094 1.008.187 1.266.188.492.54.82 1.008 1.008.258.093.68.164 1.266.187.328.024.82.024 1.453.024h.75c.633 0 1.125 0 1.453-.024.586-.023 1.008-.094 1.266-.187.469-.188.82-.54 1.008-1.008z" fill="#E07457"/></svg></div>
              <h2>Prueba nuestro nuevo filtro en tu carita!</h2>
              <div class="movable-desc">
                <p>Tenemos una sorpresa para ti en forma de Filtro. Visita nuestro Instagram para probarlo en tu carita!</p>
                <a class="btn btn-sundae link mt-30" href="/" target="_blank">Visitar instagram</a>
              </div>
              <div class="movable-icon"><img src="{{ 'sundae-icon-filter.svg' | asset_url }}" alt=""></div>
            </div>
          </div>

          <!-- instagram IMAGE  -->
          <div class="col-md-6 col-lg-4 order-md-2 order-lg-3 stagger-child">
            <div class="bg-beige px-40 py-40 px-md-60 py-md-60">
              <img class="w-100" src="{{ 'sundae-03.jpg' | asset_url }}" alt="">
              <div class="card-desc link d-flex justify-content-between mt-15">
                <div class=""><a href="/" class="link"> <span class="icon-sundae-heart icon-sundae-heart--xs mr-2"></span>@momijibeauty</a></div>
                <div>23.ago.2020</div>
              </div>
            </div>
          </div>

           <!-- IMG  -->
          <div class="col-12 col-lg-8 order-5 stagger-child img-container">
            <img class="w-100" src="{{ 'sundae-04.jpg' | asset_url }}" alt="">
          </div>
        </div>
      </div>
    </section>
</main>

{% comment %} <script src="https://code.jquery.com/jquery-1.9.1.js"></script> {% endcomment %}
<script src="{{ 'marquee.js' | asset_url }}"></script>
<script src="{{ 'noframework.waypoints.min.js' | asset_url }}" ></script>
<script src="{{ 'anagrama.animate.js' | asset_url }}" ></script>
<script src="{{ 'velocity.min.js' | asset_url }}" ></script>
<script src="{{ 'velocity.ui.min.js' | asset_url }}" ></script>
<script>
    $('.marquee').marquee('destroy');
    var marquees = $('.marquee').marquee({
      duplicated: true,
      gap: 30,
      duration: 70000,
      delayBeforeStart: 0,
      startVisible: true,
      pauseOnHover: true,
      // allowCss3Support: false
    })

  $(document).on('click', '.desc-rotate', function() {
    $('.product').removeClass('active');
    $(this).parent().addClass('active');
  });

  $(document).on('click', '.product .close', function() {
    $('.product').removeClass('active');
    $(this).parent().removeClass('');
  });
  </script>