<div class="swiper-container-barra">
    <div class="swiper-wrapper header__banner col-12">
        {% if section.settings.barra_anuncios1_link == blank %}
        <p class="swiper-slide swiper-slide-paragraph">{{ section.settings.barra_anuncios1 }}</p>
        {% else %}
        <p class="swiper-slide swiper-slide-paragraph"><a href="{{ section.settings.barra_anuncios1_link }}">{{
                section.settings.barra_anuncios1 }}</a></p>
        {% endif %}
        {% if section.settings.barra_anuncios2 == blank %}
        {% else %}
        {% if section.settings.barra_anuncios2_link == blank %}
        <p class="swiper-slide swiper-slide-paragraph">{{ section.settings.barra_anuncios2 }}</p>
        {% else %}
        <p class="swiper-slide swiper-slide-paragraph"><a href="{{ section.settings.barra_anuncios2_link }}">{{
                section.settings.barra_anuncios2 }}</a></p>
        {% endif %}
        {% endif %}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>


{% style %}
.swiper-container-barra {
width: 100%;
height: 100%;
margin-left: auto;
margin-right: auto;
position: relative;
overflow: hidden;
list-style: none;
padding: 1px;
z-index: 1;
text-align: center;
background-color: #f06c4e;
}
.swiper-slide-paragraph a{
    font-family: "GT Super Text Book", serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: none;
    letter-spacing: inherit;
}
@media (max-width: 991.98px) {
    .swiper-slide-paragraph a {
        font-size: 14px;
    } 
}
@media (max-width: 767px) {
    .swiper-slide-paragraph a {
        font-size: 12px;
        padding: 0 20px 0px 0px;
    } 
}
@media (max-width: 425px) {
    .swiper-slide-paragraph a {
        font-size: 10px;
        padding: 0px;
    } 
}

{% endstyle %}