
    {% comment %} <div class="header__banner">
        <div class="">
        {% if section.settings.link_barra_anuncios == blank %}
            <p>{{ section.settings.barra_anuncios }}</p>
        {% else %}
            <a href="{{ section.settings.link_barra_anuncios }}">{{ section.settings.barra_anuncios }}</a>
        {% endif %}
        </div>
        <div class="">
            <a>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, vel ex. Accusamus, ad! Ipsum.</a>
        </div>
    </div> {% endcomment %}

<div class="swiper-container-barra">
    <div class="swiper-wrapper header__banner">
        <p class="swiper-slide content">{{ section.settings.barra_anuncios1 }}</p>
    {% if section.settings.barra_anuncios2 == blank %}
    {% else %}
        <p class="swiper-slide content">{{ section.settings.barra_anuncios2 }}</p>
    {% endif %}
    </div>
</div>