<a href="{{ article.url }}">
    <div {% if skincare %} class="skincare-blog col-lg-12 bg-white d-flex mb-3 px-0"
    {% elsif selfcare %} class="selfcare-blog col-lg-12 bg-white d-flex mb-3 px-0"
    {% elsif resenas %} class="resenas-blog col-lg-12 bg-white d-flex mb-3 px-0"
    {% elsif kbeauty %} class="kbeauty-blog col-lg-12 bg-white d-flex mb-3 px-0"
    {% else entrevistas %} class="entrevistas-blog col-lg-12 bg-white d-flex mb-3 px-0"
    {% endif %}>
        
        <div class="col-lg-3 list__thumb p-0">
            {% if article.image %}
            <img src="{{ article.image.src | img_url: '640x' }}" class="">
            {% endif %}
        </div>

        <div class="col-lg-9 py-3">
            <h3 class="h3">{{ article.title }}</h3>
            {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
            <div class="">
            <p>
            Por {{ article.author }} - {{ article.published_at | date: format: 'abbreviated_date' }}
            </p>
            </div>
        </div>

    </div>
</a>