    {%- comment -%}
A   {%- endcomment -%}
<div class="modal" id="modal" data-info="1">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Aceite de rosas']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="{{ crema-ojos.svg | asset_url }}" alt="{{ page.metafields['Aceite de rosas']['title'] }}">{%- endcomment -%}
        <b>{{ page.metafields['Aceite de rosas']['question'] }}</b>
        <p>{{ page.metafields['Aceite de rosas']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
A  {%- endcomment -%}
<div class="modal" id="modal" data-info="2">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Ácido hialurónico']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Ácido hialurónico']['question'] }}</b>
        <p>{{ page.metafields['Ácido hialurónico']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
A  {%- endcomment -%}
<div class="modal" id="modal" data-info="3">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Ácido salicílico']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Ácido salicílico']['question'] }}</b>
        <p>{{ page.metafields['Ácido salicílico']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
A  {%- endcomment -%}
<div class="modal" id="modal" data-info="4">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Adenosina ']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Adenosina ']['question'] }}</b>
        <p>{{ page.metafields['Adenosina ']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
A  {%- endcomment -%}
<div class="modal" id="modal" data-info="5">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['AHAs']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['AHAs']['question'] }}</b>
        <p>{{ page.metafields['AHAs']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
A  {%- endcomment -%}
<div class="modal" id="modal" data-info="6">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Algas marinas']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Algas marinas']['question'] }}</b>
        <p>{{ page.metafields['Algas marinas']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
A  {%- endcomment -%}
<div class="modal" id="modal" data-info="7">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Aloe']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Aloe']['question'] }}</b>
        <p>{{ page.metafields['Aloe']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
A  {%- endcomment -%}
<div class="modal" id="modal" data-info="8">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Ampoule ']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Ampoule ']['question'] }}</b>
        <p>{{ page.metafields['Ampoule ']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
A  {%- endcomment -%}
<div class="modal" id="modal" data-info="9">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Arbol de té']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Arbol de té']['question'] }}</b>
        <p>{{ page.metafields['Arbol de té']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
A  {%- endcomment -%}
<div class="modal" id="modal" data-info="10">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Arbutina']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Arbutina']['question'] }}</b>
        <p>{{ page.metafields['Arbutina']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
A  {%- endcomment -%}
<div class="modal" id="modal" data-info="11">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Arcilla de caolín']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Arcilla de caolín']['question'] }}</b>
        <p>{{ page.metafields['Arcilla de caolín']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
A  {%- endcomment -%}
<div class="modal" id="modal" data-info="12">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Arroz']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Arroz']['question'] }}</b>
        <p>{{ page.metafields['Arroz']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
B  {%- endcomment -%}
<div class="modal" id="modal" data-info="13">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['BHAs']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['BHAs']['question'] }}</b>
        <p>{{ page.metafields['BHAs']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
B  {%- endcomment -%}
<div class="modal" id="modal" data-info="14">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Bubble mask']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Bubble mask']['question'] }}</b>
        <p>{{ page.metafields['Bubble mask']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
C  {%- endcomment -%}
<div class="modal" id="modal" data-info="15">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Caléndula']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Caléndula']['question'] }}</b>
        <p>{{ page.metafields['Caléndula']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
C  {%- endcomment -%}
<div class="modal" id="modal" data-info="16">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Centella asiática']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Centella asiática']['question'] }}</b>
        <p>{{ page.metafields['Centella asiática']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
C  {%- endcomment -%}
<div class="modal" id="modal" data-info="17">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Ceramidas']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Ceramidas']['question'] }}</b>
        <p>{{ page.metafields['Ceramidas']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
C  {%- endcomment -%}
<div class="modal" id="modal" data-info="18">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Chok Chok']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Chok Chok']['question'] }}</b>
        <p>{{ page.metafields['Chok Chok']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
F  {%- endcomment -%}
<div class="modal" id="modal" data-info="19">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Fermentados']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Fermentados']['question'] }}</b>
        <p>{{ page.metafields['Fermentados']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
G  {%- endcomment -%}
<div class="modal" id="modal" data-info="20">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Galactomyces']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Galactomyces']['question'] }}</b>
        <p>{{ page.metafields['Galactomyces']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
G  {%- endcomment -%}
<div class="modal" id="modal" data-info="21">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Ginseng']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Ginseng']['question'] }}</b>
        <p>{{ page.metafields['Ginseng']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
G  {%- endcomment -%}
<div class="modal" id="modal" data-info="22">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Glass Skin']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Glass Skin']['question'] }}</b>
        <p>{{ page.metafields['Glass Skin']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
G  {%- endcomment -%}
<div class="modal" id="modal" data-info="23">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Gwang (광)']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Gwang (광)']['question'] }}</b>
        <p>{{ page.metafields['Gwang (광)']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
H  {%- endcomment -%}
<div class="modal" id="modal" data-info="24">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Hanbang']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Hanbang']['question'] }}</b>
        <p>{{ page.metafields['Hanbang']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
H  {%- endcomment -%}
<div class="modal" id="modal" data-info="25">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Honey Skin']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Honey Skin']['question'] }}</b>
        <p>{{ page.metafields['Honey Skin']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
J  {%- endcomment -%}
<div class="modal" id="modal" data-info="26">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Jugo de abedul']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Jugo de abedul']['question'] }}</b>
        <p>{{ page.metafields['Jugo de abedul']['meaning'] }}</p>
      </div>
    </div>
</div>

  {%- comment -%}
M
  {%- endcomment -%}
<div class="modal" id="modal" data-info="27">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['MascarillaMoldeadora']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['MascarillaMoldeadora']['question'] }}</b>
        <p>{{ page.metafields['MascarillaMoldeadora']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
M  {%- endcomment -%}
<div class="modal" id="modal" data-info="28">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Mucina de caracol']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Mucina de caracol']['question'] }}</b>
        <p>{{ page.metafields['Mucina de caracol']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
N  {%- endcomment -%}
<div class="modal" id="modal" data-info="29">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Niacinamida']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Niacinamida']['question'] }}</b>
        <p>{{ page.metafields['Niacinamida']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
P  {%- endcomment -%}
<div class="modal" id="modal" data-info="30">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Pack']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Pack']['question'] }}</b>
        <p>{{ page.metafields['Pack']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
P  {%- endcomment -%}
<div class="modal" id="modal" data-info="31">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Péptidos']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Péptidos']['question'] }}</b>
        <p>{{ page.metafields['Péptidos']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
P  {%- endcomment -%}
<div class="modal" id="modal" data-info="32">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Propóleos']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Propóleos']['question'] }}</b>
        <p>{{ page.metafields['Propóleos']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
S SIMPLIFICADOR DE RUTINA  {%- endcomment -%}
<div class="modal" id="modal" data-info="33">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Productos híbridos']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Productos híbridos']['question'] }}</b>
        <p>{{ page.metafields['Productos híbridos']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
V  {%- endcomment -%}
<div class="modal" id="modal" data-info="34">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Vitamina C']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Vitamina C']['question'] }}</b>
        <p>{{ page.metafields['Vitamina C']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
W  {%- endcomment -%}
<div class="modal" id="modal" data-info="35">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Whitening']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Whitening']['question'] }}</b>
        <p>{{ page.metafields['Whitening']['meaning'] }}</p>
      </div>
    </div>
</div>

    {%- comment -%}
Z  {%- endcomment -%}
<div class="modal" id="modal" data-info="36">
  <div class="background"></div>
    <div class="modal__container">
      <div class="close-btn" id="close"></div>
      <h1>{{ page.metafields['Zzon Zzon (쫀쫀)']['title'] }}</h1>
      <div class="modal__container-info">
        {%- comment -%}<img src="img/svg/products/crema-ojos.svg" alt="{{ page.metafields['Ácido hialurónico']['title'] }}" />{%- endcomment -%}
        <b>{{ page.metafields['Zzon Zzon (쫀쫀)']['question'] }}</b>
        <p>{{ page.metafields['Zzon Zzon (쫀쫀)']['meaning'] }}</p>
      </div>
    </div>
</div>