          <ol class="ol--glosary mb-90">

  <!-- A --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li id="1">{{ page.metafields['Aceite de rosas']['title'] }}</li>
                <li id="2">{{ page.metafields['Ácido hialurónico']['title'] }}</li>
                <li id="3">{{ page.metafields['Ácido salicílico']['title'] }}</li>
                <li id="4">{{ page.metafields['Adenosina ']['title'] }}</li>
                <li id="5">{{ page.metafields['AHAs']['title'] }}</li>
                <li id="6">{{ page.metafields['Algas marinas']['title'] }}</li>
                <li id="7">{{ page.metafields['Aloe']['title'] }}</li>
                <li id="8">{{ page.metafields['Ampoule ']['title'] }}</li>
                <li id="9">{{ page.metafields['Arbol de té']['title'] }}</li>
                <li id="10">{{ page.metafields['Arbutina']['title'] }}</li>
                <li id="11">{{ page.metafields['Arcilla de caolín']['title'] }}</li>
                <li id="12">{{ page.metafields['Arroz']['title'] }}</li>
              </ul>
            </li>

  <!-- B --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li id="13">{{ page.metafields['BHAs']['title'] }}</li>
                <li id="14">{{ page.metafields['Bubble mask']['title'] }}</li>
              </ul>
            </li>

  <!-- C --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li id="15">{{ page.metafields['Caléndula']['title'] }}</li>
                <li id="16">{{ page.metafields['Centella asiática']['title'] }}</li>
                <li id="17">{{ page.metafields['Ceramidas']['title'] }}</li>
                <li id="18">{{ page.metafields['Chok Chok']['title'] }}</li>
              </ul>
            </li>

  <!-- D --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li>No hay elementos</li>
              </ul>
            </li>

  <!-- E --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li>No hay elementos</li>
              </ul>
            </li>

  <!-- F --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li id="19">{{ page.metafields['Fermentados']['title'] }}</li>
              </ul>
            </li>

  <!-- G --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li id="20">{{ page.metafields['Galactomyces']['title'] }}</li>
                <li id="21">{{ page.metafields['Ginseng']['title'] }}</li>
                <li id="22">{{ page.metafields['Glass Skin']['title'] }}</li>
                <li id="23">{{ page.metafields['Gwang (광)']['title'] }}</li>
              </ul>
            </li>

  <!-- H --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li id="24">{{ page.metafields['Hanbang']['title'] }}</li>
                <li id="25">{{ page.metafields['Honey Skin']['title'] }}</li>
              </ul>
            </li>

  <!-- I --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li>No hay elementos</li>
              </ul>
            </li>

  <!-- J --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li id="26">{{ page.metafields['Jugo de abedul']['title'] }}</li>
              </ul>
            </li>

  <!-- K --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li>No hay elementos</li>
              </ul>
            </li>

  <!-- L --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li>No hay elementos</li>
              </ul>
            </li>

  <!-- M --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li id="27">{{ page.metafields['MascarillaMoldeadora']['title'] }}</li>
                <li id="28">{{ page.metafields['Mucina de caracol']['title'] }}</li>
              </ul>
            </li>

  <!-- N --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li id="29">{{ page.metafields['Niacinamida']['title'] }}</li>
              </ul>
            </li>

  <!-- O --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li>No hay elementos</li>
              </ul>
            </li>

  <!-- P --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li id="30">{{ page.metafields['Pack']['title'] }}</li>
                <li id="31">{{ page.metafields['Péptidos']['title'] }}</li>
                <li id="32">{{ page.metafields['Productos híbridos']['title'] }}</li>
                <li id="33">{{ page.metafields['Propóleos']['title'] }}</li>
              </ul>
            </li>

  <!-- Q --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li>No hay elementos</li>
              </ul>
            </li>

  <!-- R --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li>No hay elementos</li>
              </ul>
            </li>

  <!-- S --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li>No hay elementos</li>
              </ul>
            </li>

  <!-- T --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li>No hay elementos</li>
              </ul>
            </li>

  <!-- U --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li>No hay elementos</li>
              </ul>
            </li>

  <!-- V --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li id="34">{{ page.metafields['Vitamina C']['title'] }}</li>
              </ul>
            </li>

  <!-- W --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li id="35">{{ page.metafields['Whitening']['title'] }}</li>
              </ul>
            </li>

  <!-- X --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li>No hay elementos</li>
              </ul>
            </li>

  <!-- Y --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li>No hay elementos</li>
              </ul>
            </li>

  <!-- Z --><li>
              <ul class="list-unstyled columns" data-columns="2">
                <li id="36">{{ page.metafields['Zzon Zzon (쫀쫀)']['title'] }}</li>
              </ul>
            </li>

          </ol>