{% include 'tag-logic' %}
{%- comment -%}
Grid item sin container div de estilo
{%- endcomment -%}
<a href="{{ product.url | within: collection }}" {% if soon %} class="product soon" {% elsif new %} class="product new" {% elsif momi %} class="product momi" {% else %} class="product" {% endif %} > {%- comment -%} se tiene que hacer cuatro clases diferentes: product, product new, product momi, product soon sacado de variables asignadas en tag-logic snippet. {%- endcomment -%}
    <div class="product__container">
        <div class="product__container--main img-container">
            <img src="{{ product | img_url: 'x2000' }}" alt="{{ product.title | escape }}">
        </div>
        <div class="product__container--hover">
            <img src="{{ product.images.last | img_url: 'x2000' }}" alt="{{ product.title | escape }}">
        </div> 
    </div>
    <div class="product__info">
        <div class="product__info--brand">
            <p>{{ product.vendor }}</p>
            <button class="btn__wishlist"></button>
        </div>
        <div class="product__info--name">
            <p>{{ product.title }}</p>
            <span>{{ product.price | money }}</span>
        </div>
    </div>
</a>
{%- comment -%}
Grid item sin container div de estilo - END
{%- endcomment -%}