{%- comment -%}
Grid item sin container div de estilo
{%- endcomment -%}

{% include 'tag-logic' %}

{%- comment -%}<style>
 Hide when not loaded - Best practice - Move to a css file 
.swym-button.swym-add-to-watchlist-view-product:not(.swym-loaded){display: none;}
</style>{%- endcomment -%}
{%- comment -%}{% include 'swym-product-view', product: product %}{%- endcomment -%}

<a href="{{ product.url | within: collection }}" {% if soon %} class="product soon" {% elsif new %} class="product new" {% elsif momi %} class="product momi" {% else %} class="product" {% endif %} > {%- comment -%} se tiene que hacer cuatro clases diferentes: product, product new, product momi, product soon sacado de variables asignadas en tag-logic snippet. {%- endcomment -%}
    <div class="product__container">
        <div class="product__container--main img-container">
            <img src="{{ product | img_url: '496x' }}" alt="{{ product.title | escape }}">
        </div>
        <div class="product__container--hover">
            <img src="{{ product.images.last | img_url: '496x' }}" alt="{{ product.title | escape }}">
        </div> 
    </div>
    <div class="product__info">
        <div class="product__info--brand">
            <p>by {{ product.vendor }}</p>
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            {%- comment -%}<button class="btn__wishlist product_{{product.id}}" data-swaction="addToWatchlist" data-product-id="{{product.id | json}}"></button>{%- endcomment -%}
        </div>
        <div class="product__info--name">
            <p>{{ product.title }}</p>
        {% if product.compare_at_price_max == 0 or product.compare_at_price_max == product.price %}
            <span>{{ product.price | money }}</span>
        {% else product.compare_at_price_max > product.price %}
            <span class="compare--at">{{ product.compare_at_price_max | money }}</span>
            <span>{{ product.price | money }}</span>        
        {% endif %}
        </div>

    </div>
</a>

{%- comment -%}
Grid item sin container div de estilo - END
{%- endcomment -%}