{% include 'tag-logic' %}

<a  href="{{ product.url | within: collection }}"
    class=  "{% if soon %}product soon
            {% elsif new %}product new
            {% else %}product
            {% endif %}
            " >
    <div class="product__container">
        <div class="product__container--main img-container">
            <img src="{{ product | img_url: '496x' }}" alt="{{ product.title | escape }}">
        </div>
        <div class="product__container--hover">
            <img src="{{ product.images.last | img_url: '496x' }}" alt="{{ product.title | escape }}">
        </div> 
    </div>
    {% include 'grid-item-icons' %}
    <div class="product__info">
        <div class="product__info--brand">
            <p>by {{ product.vendor }}</p>
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        </div>
        <div class="product__info--name">
            <p>{{ product.title }}</p>
        {% if product.compare_at_price_max == 0 or product.compare_at_price_max == product.price %}
            <span>{{ product.price | money }}</span>
        {% else product.compare_at_price_max > product.price %}
            <span class="compare--at">{{ product.compare_at_price_max | money }}</span>
            <span>{{ product.price | money }}</span>        
        {% endif %}
        </div>
    </div>
</a>