{% include 'tag-logic' %}

<a href="{{ product.url | within: collection }}"
    class=  "{% if soon %}product soon
            {% elsif new %}product new
            {% else %}product
            {% endif %}
            " >
    <div class="product__container">
        <div class="product__container--main img-container">
            <img src="{{ product | img_url: '496x' }}" alt="{{ product.title | escape }}">
        </div>
        <div class="product__container--hover">
            <img src="{{ product.images.last | img_url: '496x' }}" alt="{{ product.title | escape }}">
        </div> 
    </div>
    {% include 'grid-item-icons' %}
    <div class="product__info">
        <div class="product__info--brand">
            <p>by {{ product.vendor }}</p>
            <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{product.id}}" data-product-title="{{product.title}}" data-product-type="{{product.type}}" style="display: block;"></span>
            {% comment %} <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span> {% endcomment %}
        </div>
        <div class="product__info--iva">
            <p>IVA incluido</p>

            {% if product.variants.size > 1 %}
                Hasta {{ product.compare_at_price_min | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_min | money_without_currency | times: 100 | replace: '.0', '' | append: "% OFF"}}
            {% else %}
              {{ product.compare_at_price_min | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_min | money_without_currency | times: 100 | replace: '.0', ''| append: "% OFF"}}
            {% endif %}

        </div>
        <div class="product__info--name-price">
            <div class="product__info--name">
                <p>{{ product.title }}</p>
            </div>
            <div class="product__info--price">
            {% if product.compare_at_price_max == 0 or product.compare_at_price_max == product.price %}
                <span>{{ product.price | money }}</span>
            {% else product.compare_at_price_max > product.price %}
                <span class="compare--at">{{ product.compare_at_price_max | money }}</span>
                <span>{{ product.price | money }}</span>        
            {% endif %}
            </div>
        </div>
    </div>
</a>