<div id="mm_cartoverlay" class="mm_cartoverlay minicart-summ" style="right: -110vw;">
{%- comment -%}<div id="mm_cartoverlay" class="mm_cartoverlay minicart-summ" style="right: -400px;">{%- endcomment -%}
  <div class="cartoverlay" id="cart-content">
    <div id="cart_temp_late" class="shopify-section">
      <div data-section-type="cart-template" data-ajax-update="true">

        <div class="cart__header">
          <span class='closecart_mm close-btn'></span>
{%- comment -%}<span class='closecart_mm'>&#10006;</span>{%- endcomment -%}
          <div class="majortitle">{{ 'cart.general.title' | t }}</div>
        </div>

        {% assign shipping_value = settings.costo_enviogratis | times: 100 %}
        {% assign shipping_value_x = settings.costo_envio_x | times: 100 %}
        {% assign cart_total = cart.total_price %}
        {% assign shipping_value_left = shipping_value | minus: cart_total %}
        {% assign shipping_value_x_left = shipping_value_x | minus: cart_total %}

        {% if cart.item_count != 0 %}
        <form action="/cart" method="post" id="cartform" style="display:{% if cart.item_count == 0 %}none{% else %}block{% endif %};">
          <div class="minicart-nosubtotal"><!-- /.minicart-nosubtotal -->

          {% assign promo_vigente = settings.promo_vigente %}
          {% case promo_vigente %}

          {%- comment -%}
          Envío gratis al agregar un producto (o varios) X en carrito.
          {%- endcomment -%}
            {% when 'agrega_producto' %}
              {% if settings.x_product == blank and settings.x_product_tag == blank %}
                <p class="cartfreeshipping">SELECCIONAR PRODUCTO DE PROMOCIÓN, TAG REQUERIDO O CAMBIAR DE TIPO DE PROMOCIÓN</p>
              {% elsif settings.x_product != blank %}
              {% capture settings_product %}
                {{ all_products[settings.x_product].id }}
              {% endcapture %}
              {% assign prod_id = settings_product | times: 1 %}
                {% for item in cart.items %}
                  {% if item.product.id == prod_id %}
                    {% assign prod_select = true %}
                  {% endif %}
                {% endfor %}
                  <p class="cartfreeshipping">
                {% if prod_select or shipping_value_left <= 0 %}
                  ¡Tu orden califica para envío gratis!
                {% else %}
                  ¡Agrega un <a href="{{ all_products[settings.x_product].url }}" rel="noopener noreferrer"> {{ all_products[settings.x_product].title }} </a> para que tu envío sea gratis!
                {% endif %}
                  </p>
              {% else settings.x_product_tag != blank %}
                {% assign tag = settings.x_product_tag %}
                {% assign promo = settings.promo_txt %}
                {% for item in cart.items %}
                  {% if item.product.tags contains tag %}
                    {% assign selected_product = true %}
                  {% endif %}
                {% endfor %}
                  <p class="cartfreeshipping">
                {% if selected_product or shipping_value_left <= 0 %}
                  ¡Tu orden califica para envío gratis!
                {% else %}
                    {% capture bundle %}
                    Agrega {{ promo }} para que tu envío sea gratis.
                    {% endcapture %}
                    {{ bundle }}
                {% endif %}
                  </p>
              {% endif %}

          {%- comment -%}
          Producto (ya sea en stock o escondido) de regalo, en compras arriba de X.
          {%- endcomment -%}
            {% when 'incluye_regalo' %}
            
            {% assign shipping_value_promo = settings.costo_enviogratis_x | times: 100 %}
            {% assign cart_total_promo = cart.total_price %}
            {% assign shipping_value_left_promo = shipping_value_promo | minus: cart_total_promo %}
            {% assign falta_x = shipping_value_left_promo | money %}
            {% assign promo_x = settings.copy_regalo %}
            {% assign mememe = settings.textop %}

              {% if including_product != false %}
                <p class="cartfreeshipping">
                  {% if shipping_value_left_promo > 0 %}
                    {% capture printeo %}
                      Agrega {{ falta_x }} para recibir {{ promo_x }}
                    {% endcapture %}
                    {{ printeo }}
                  {% else %}
                    {% capture printeo2 %}
                      {{ mememe }} {{ promo_x }}
                    {% endcapture %}
                    {{ printeo2 }}
                  {% endif %}
                </p>
              {% endif %}

          {%- comment -%}
          Mensaje custom.
          {%- endcomment -%}
            {% when 'mensaje_custom' %}
            {% assign mensaje = settings.mensaje %}
                <p class="cartfreeshipping">
                {% capture mensaje_custom %}
                  {{ mensaje }}
                {% endcapture %}
                  {{ mensaje_custom }}
                </p>

          {%- comment -%}
          Envío gratis en compras arriba de X.
          {%- endcomment -%}
            {% when 'envio_gasto' %}
                <p class="cartfreeshipping">
                  {% if shipping_value_left > 0 %}
                  ¡Agrega {{ shipping_value_left | money }} para que tu envío sea gratis!
                  {% else %}
                  Tu orden califica para envío gratis.
                  {% endif %}
                </p>

          {%- comment -%}
          Envío en XX en compras arriba de X.
          {%- endcomment -%}
            {% when 'envio_gasto_x' %}
                <p class="cartfreeshipping">
                  {% if cart_total < shipping_value_x %}
                    Agrega {{ shipping_value_x_left | money }} para que tu envío cueste {{ settings.envio_x | times: 100 | money }} MXN.
                  {% elsif cart_total >= shipping_value_x and cart_total < shipping_value %}
                    ¡Tu orden califica para envío en {{ settings.envio_x | times: 100 | money }} MXN!<br />Agrega {{ shipping_value_left | money }} más para que tu envío sea gratis.
                  {% else %}
                    ¡Tu orden califica para envío gratis!
                  {% endif %}
                </p>

          {% endcase %}

            <div class="cart__body">  
              <ul class="item-list divider">
                {% for item in cart.items %}
                <li class="item cf product-2-cruiser-65l">
                  <div class="imagedesc">
                    <div class="image">
                      <a href="{{ item.url }}">
                        <img src="{{item.image | img_url:'x73'}}">
                      </a>
                    </div>
                    <a class="remove_mm" data-variant_id="{{item.id}}">
                      &#10006;
                    </a>
                  </div>
                  <div class="quantity-container">
                    <div class="desc">
                      <div>
                        <a class="name" href="{{ item.url }}">{{ item.product.title }}</a>
                        {% if item.product.variants.size > 1 %}
                        <div class="variant">{{ item.variant.title }}</div>
                        {% endif %}
                      </div>

                    </div>
                    <div class="d-flex pt-2 align-items-center">
                      <div data-variant="{{ item.id }}" class="quantity buttoned-input mt-0">
                        <a class="notabutton quantity-down" href="#"> - </a>
                        <input class="select-on-focus" type="text" size="2" id="updates_1" name="updates[]" value="{{item.quantity}}" data-line="1" aria-label="Quantity">
                        <a class="notabutton quantity-up " href="#"> + </a>
                      </div>
                        {%- comment -%}No se puede agregar precio compare at por ser carrito aja. Requiere un tempate de json diferente.{%- endcomment -%}
                      <div class="line-total" data-line="1">
                        <span class="theme-money">{{ item.line_price | money }}</span>
                      </div>
                    </div>
                  </div>
                </li><!-- /.item -->
                {% endfor %}
              </ul>
            </div>

          </div><!-- /.minicart-nosubtotal -->

          <div class="cart__footer">
            {% include 'cart_recommend' %}
            {% include 'regalo_carrito' %}
            <div class="cf checkout-subtotal-container">
              <div class="checkout-subtotal-container__left">
                <h4 class="subtotalMinicart">{{ 'cart.general.subtotal' | t }}</h4>
              </div>
              <div class="checkout-subtotal-container__right">
                <h4 class="subtotal h1-style"><span class="theme-money">{{ cart.total_price | money }}</span></h4>
              </div>
            </div>

            {% include 'estas-ahorrando' %}

            <div class="cf">
              <div class="checkout-col">
                <div class="btn__main btn--red checkout-buttons">
                  <input type="submit" class="button button--large text-link" id="update-cart" name="checkout" value="Pagar">
                </div>
              </div>

              {% if settings.tyc_text != blank %}
                <a onclick="reveal('terminos_condiciones');" class="tyc">{{ settings.tyc_title }}</a> 
                <b class="hidden_tyc cartfreeshipping" id="terminos_condiciones">{{ settings.tyc_text }}</b>
              {% endif %}

            </div>
          </div>

        </form>
        {% else %}
        <div class="col-md-12 carTempty">
          <h2>{{ 'cart.general.title' | t }}</h2>
          <h5>{{ 'cart.general.empty' | t }} </h5>
          <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
        </div>
        
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
// First we get the viewport height and we multiple it by 1% to get a value for a vh unit
let vh = window.innerHeight * 0.01;
// Then we set the value in the --vh custom property to the root of the document
document.documentElement.style.setProperty('--vh', `${vh}px`);
</script>