{% assign top = linklists.header-principal-sin-skincare %}
{% assign rutina = linklists.header-skincare-rutina %}
{% assign tipoDePiel = linklists.header-skincare-tipo-de-piel %}
{% assign soluciones = linklists.header-skincare-soluciones %}

<div class="mobile__header">
  <div class="mobile-btn link__mobile" id="close">
    <div class="nav-btn"></div>
  </div>
</div>

<ul class="mobile-nav list-unstyled">
  <li class="nav-item">
    <form class="search-input d-block d-md-none search" action="/search">
        <input type="hidden" name="type" value="product">
        <input type="text" name="q" placeholder="Buscar" value="{{ search.terms | escape }}">
        <button type="submit" class="search-btn" name="button">
            <img src="{{ 'search.svg' | asset_url }}" alt="Search">
        </button>
    </form>
  </li>
  <li class="main-item nav-item accordion">
    <a class="h3">Skincare</a>
    <ul id="accordion-items" class="list-unstyled accordion-items">
      <li class="accordion-item" data-id="rutina">
        <a class="h3">{{ rutina.title }}</a>
      </li>
      <li class="accordion-item" data-id="tipoDePiel">
        <a class="h3">{{ tipoDePiel.title }}</a>
      </li>
      <li class="accordion-item" data-id="soluciones">
        <a class="h3">{{ soluciones.title }}</a>
      </li>
      <li class="accordion-item">
        <a href="/pages/marcas">ver marcas</a>
        <span> / </span>
        <a href="/collections/all">ver todos</a>
      </li>
    </ul>
  </li>
  {% for link in top.links %}
  <li class="main-item nav-item accordion"><a class="h3" href="{{ link.url }}">{{ link.title }}</a> </li>
  {% endfor %}
</ul>

<div class="mobile__footer d-block d-md-none">
  <div class="header__currency nav-item">
      <img src="{{ 'currency.svg' | asset_url }}" alt="Currency">
      <select name="price" id="">
        <option value="MXN">MXN</option>
      </select>
  </div>
  {% if shop.customer_accounts_enabled %}
      {% if customer %}
        {% if customer.first_name != blank %}
          {% capture first_name %}
            <a class="nav-item" href="/account">{{ customer.first_name }}</a>
            {% endcapture %}
          <a class="nav-item" href="/account">Hola, {{ customer.first_name | truncatewords: 1, "" }}</a>
        {% else %}
          <a class="nav-item" href="/account">{{ 'layout.customer.account' | t }}</a>
        {% endif %}
        {{ 'layout.customer.log_out' | t | customer_logout_link }}
      {% else %}
        {{ 'layout.customer.log_in' | t | customer_login_link }}
        <span> / </span>
        {{ 'layout.customer.create_account' | t | customer_register_link }}
      {% endif %}
  {% endif %}
  <a class="nav-item swym-wishlist" href="#swym-wishlist" id="close">Mi Wishlist</a>
</div>


<div class="accordion-items--second" style="display: none" data-info="rutina">
  {% include 'regresar-mobile' %}
  <h3><a class="h3">{{ rutina.title }}</a></h3>
  <ul class="list-unstyled">
    {% for link in rutina.links %}
    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="accordion-items--second" style="display: none" data-info="tipoDePiel">
  {% include 'regresar-mobile' %}
  <h3><a class="h3">{{ tipoDePiel.title }}</a></h3>
  <ul class="list-unstyled">
    {% for link in tipoDePiel.links %}
    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="accordion-items--second" style="display: none" data-info="soluciones">
  {% include 'regresar-mobile' %}
  <h3><a class="h3">{{ soluciones.title }}</a></h3>
  <ul class="list-unstyled">
    {% for link in soluciones.links %}
    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
  </ul>
</div>