{%- comment -%}
limpiadoraceite
limpiadoragua
exfoliante
tonico
esencia
suero
mascarilla
cremadeojos
cremahidratante
protectorsolar
{%- endcomment -%}

{% if limpiadoraceite %}
    <div>
        <b>Paso 1. Limpiador base aceite</b>
        <p>Retira el maquillaje e impurezas.</p>
        <a class="link--orange" href="/collections/limpieza-y-exfoliacion">explorar limpiadores base aceite</a>
    </div>
    <figure><img alt="Limpiador base aceite" src="{{ 'limpiador-aceite.svg' | asset_url }}" /></figure>
{% endif %}

{% if limpiadoragua %}
    <div>
        <b>Paso 2. Limpiador base agua</b>
        <p>Elimina los residuos del primer paso.</p>
        <a class="link--orange" href="/collections/limpieza-y-exfoliacion">explorar limpiadores base agua</a>
    </div>
    <figure><img alt="Limpiador base agua" src="{{ 'limpiador-agua.svg' | asset_url }}" /></figure>
{% endif %}

{% if exfoliante %}
    <div>
        <b>Paso 3. Exfoliante</b>
        <p>Elimina células muertas y abre paso a una piel nueva.</p>
        <a class="link--orange" href="/collections/limpieza-y-exfoliacion">explorar exfoliantes</a>
    </div>
    <figure><img alt="Exfoliante" src="{{ 'exfoliante.svg' | asset_url }}" /></figure>
{% endif %}

{% if tonico %}
    <div>
        <b>Paso 4. Tónico</b>
        <p>Equilibra el pH y la hidratación de tu piel.</p>
        <a class="link--orange" href="/collections/tonicos">explorar tónicos</a>
    </div>
    <figure><img alt="Tónico" src="{{ 'tonico.svg' | asset_url }}" /></figure>
{% endif %}

{% if esencia %}
    <div>
        <b>Paso 5. Esencia</b>
        <p>El paso coreano por excelencia: un boost de hidratación para tu piel.</p>
        <a class="link--orange" href="/collections/esencias">explorar esencias</a>
    </div>
    <figure><img alt="Esencia" src="{{ 'escencia.svg' | asset_url }}" /></figure>
{% endif %}

{% if suero %}
    <div>
        <b>Paso 6. Suero</b>
        <p>Un tratamiento dirigido a una necesidad especifica.</p>
        <a class="link--orange" href="/collections/serums">explorar sueros</a>
    </div>
    <figure><img alt="Suero" src="{{ 'suero.svg' | asset_url }}" /></figure>
{% endif %}

{% if mascarilla %}
    <div>
        <b>Paso 7. Mascarilla</b>
        <p>Un tratamiento de spa en casa.</p>
        <a class="link--orange" href="/collections/mascarillas">explorar mascarillas</a>
    </div>
    <figure><img alt="Mascarilla" src="{{ 'mascarilla.svg' | asset_url }}" /></figure>
{% endif %}

{% if cremadeojos %}
    <div>
        <b>Paso 8. Crema de ojos</b>
        <p>Revitaliza y le da amor al contorno de tus ojos.</p>
        <a class="link--orange" href="/collections/ojos">explorar cremas de ojos</a>
    </div>
    <figure><img alt="Crema de ojos" src="{{ 'crema-ojos.svg' | asset_url }}" /></figure>
{% endif %}

{% if cremahidratante %}
    <div>
        <b>Paso 9. Crema hidratante</b>
        <p>Brinda la hidratación necesaria a tu piel.</p>
        <a class="link--orange" href="/collections/cremas">explorar cremas hidratantes</a>
    </div>
    <figure><img alt="Crema hidratante" src="{{ 'humectante.svg' | asset_url }}" /></figure>
{% endif %}

{% if protectorsolar %}
    <div>
        <b>Paso 10. Protector solar</b>
        <p>Protege tu piel del daño ocasionado por los rayos UVB y UVA.</p>
        <a class="link--orange" href="/collections/protector-solar">explorar protectores solares</a>
    </div>
    <figure><img alt="protector solar" src="{{ 'fps.svg' | asset_url }}" /></figure>
{% endif %}