{%- comment -%}
limpiadoraceite
limpiadoragua
exfoliante
tonico
esencia
suero
mascarilla
cremadeojos
cremahidratante
protectorsolar
{%- endcomment -%}

{% if aceite %}
    <div>
        <b>Paso 1. Limpiador base aceite</b>
        <p>Derrite todo rastro de maquillaje y suciedad acumulada durante el día, mientras acondiciona y nutre la piel.</p>
        <a class="link--orange" href="/collections/limpiadores">explorar limpiadores base aceite</a>
    </div>
    <figure><img alt="Limpiador base aceite" src="{{ 'limpiador-aceite.svg' | asset_url }}" /></figure>
{% endif %}

{% if agua %}
    <div>
        <b>Paso 2. Limpiador base agua</b>
        <p>Retira los residuos del limpiador a base de aceite para asegurarte de que tu piel esté completamente limpia y lista para seguir con los pasos restantes de tu rutina.</p>
        <a class="link--orange" href="/collections/limpiadores">explorar limpiadores base agua</a>
    </div>
    <figure><img alt="Limpiador base agua" src="{{ 'limpiador-agua.svg' | asset_url }}" /></figure>
{% endif %}

{% if exfoliante %}
    <div>
        <b>Paso 3. Exfoliante</b>
        <p>De dos a tres veces por semana, exfolia tu piel después de limpiar y antes de aplicar un tónico. Esto ayudará a eliminar células muertas y así reducir puntos negros, acné, manchas, piel opaca, así como signos del envejecimiento como líneas finas y arrugas. Este paso es un must que te ayudará a que tu piel se vea radiante, más joven y permitirá que el resto de tu rutina se absorba mejor y sea más efectiva.</p>
        <a class="link--orange" href="/collections/exfoliantes">explorar exfoliantes</a>
    </div>
    <figure><img alt="Exfoliante" src="{{ 'exfoliante.svg' | asset_url }}" /></figure>
{% endif %}

{% if tonico %}
    <div>
        <b>Paso 4. Tónico</b>
        <p>Equilibra el pH y la hidratación de tu piel, permitiendo que el resto de tu rutina se absorba mejor. También puede tener propiedades exfoliantes.</p>
        <a class="link--orange" href="/collections/tonicos">explorar tónicos</a>
    </div>
    <figure><img alt="Tónico" src="{{ 'tonico.svg' | asset_url }}" /></figure>
{% endif %}

{% if esencia %}
    <div>
        <b>Paso 5. Esencia</b>
        <p>El paso coreano por excelencia y el que nunca falta en su rutina. Las esencias son ligeramente más espesas que un tónico, pero menos viscosas que un suero, y le brinda a tu piel un boost de hidratación y nutrición.</p>
        <a class="link--orange" href="/collections/esencias">explorar esencias</a>
    </div>
    <figure><img alt="Esencia" src="{{ 'escencia.svg' | asset_url }}" /></figure>
{% endif %}

{% if suero %}
    <div>
        <b>Paso 6. Suero</b>
        <p>Un tratamiento súper concentrado de activos que tratan necesidades específicas de la piel.</p>
        <a class="link--orange" href="/collections/sueros">explorar sueros</a>
    </div>
    <figure><img alt="Suero" src="{{ 'suero.svg' | asset_url }}" /></figure>
{% endif %}

{% if mascarilla %}
    <div>
        <b>Paso 7. Mascarilla</b>
        <p>De dos a tres veces por semana, aplica la mascarilla para darle a tu piel un tratamiento de spa enfocado a sus necesidades específicas.</p>
        <a class="link--orange" href="/collections/mascarillas">explorar mascarillas</a>
    </div>
    <figure><img alt="Mascarilla" src="{{ 'mascarilla.svg' | asset_url }}" /></figure>
{% endif %}

{% if cremadeojos %}
    <div>
        <b>Paso 8. Crema de ojos</b>
        <p>La piel del contorno de ojos es mucho más delgada y delicada que la del resto de nuestra cara, por lo tanto, requiere cuidados especiales y una crema específica para tratarla adecuadamente.</p>
        <a class="link--orange" href="/collections/ojos">explorar cremas de ojos</a>
    </div>
    <figure><img alt="Crema de ojos" src="{{ 'crema-ojos.svg' | asset_url }}" /></figure>
{% endif %}

{% if cremahidratante %}
    <div>
        <b>Paso 9. Crema hidratante</b>
        <p>Su función principal es brindarle aún más hidratación a tu piel, sellar y a todos los productos que aplicaste antes, para evitar su evaporación.</p>
        <a class="link--orange" href="/collections/hidratantes">explorar cremas hidratantes</a>
    </div>
    <figure><img alt="Crema hidratante" src="{{ 'humectante.svg' | asset_url }}" /></figure>
{% endif %}

{% if protectorsolar %}
    <div>
        <b>Paso 10. Protector solar</b>
        <p>Protege tu piel de los rayos UVA y UVB y sus posibles de daños como el envejecimiento prematuro y el cáncer de piel.</p>
        <a class="link--orange" href="/collections/protector-solar-1">explorar protectores solares</a>
    </div>
    <figure><img alt="protector solar" src="{{ 'fps.svg' | asset_url }}" /></figure>
{% endif %}