{%- assign blog_handle = 'momiji-talks' -%}

{%- unless blogs[blog_handle].empty? or blogs[blog_handle].articles.size == 0 -%}
<h1>Momiji Talks.</h1>
    <div class="container--info">
    {%- for article in blogs[blog_handle].articles limit: 1 -%}
        <h2 class="text-link">{{ article.tags | join: " - " }}</h2>
        <h3>{{ article.title }}</h3>
        {%- assign content = article.excerpt_or_content -%}
        <p>{{ content | strip_html | truncatewords: 32 }}
            <a class="a__more" href="{{ article.url }}" target="_blank"> Leer más</a>
        </p>
        <a href="/blogs/{{ blog_handle }}" class="btn__main" target="_blank">Visita momiji talks</a>
    {%- endfor -%}
    </div>
{%- endunless -%}