{%- comment -%}
Filtros laterales para desktop y tablet
{%- endcomment -%}

{% assign rutina = linklists.header-skincare-rutina %}
{% assign tipoDePiel = linklists.header-skincare-tipo-de-piel %}
{% assign soluciones = linklists.header-skincare-soluciones %}

<div class="filter accordions__container">
    
    <a class="accordion">{{ rutina.title }}</a>

    <ul class="list-unstyled panel">
    {% for link in rutina.links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
    </ul>

    <a class="accordion">{{ tipoDePiel.title }}</a>

    <ul class="list-unstyled panel">
    {% for link in tipoDePiel.links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
    </ul>

    <a class="accordion">{{ soluciones.title }}</a>

    <ul class="list-unstyled panel">
    {% for link in soluciones.links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
    </ul>

    {% comment %} POR MARCA
    <a class="accordion">Marcas</a>

    <ul class="list-unstyled panel">
    {% for product_vendor in shop.vendors %}
        <li>{{ product_vendor | link_to_vendor }}</li>
    {% endfor %}
    </ul>
    {% endcomment %}

</div>



                    {% comment %} Filtros: Mobile 2 - Filtros {% endcomment %}
  <div class="filter__modal filtr">

    <div class="close-btn" id="close"></div>

    <div class="row row-mobile">
      <div class="col-12">
        <h3>Categorías</h3>
      </div>
    </div>

    <div class="row filters type row-mobile">
      <div class="col-12">
        <div class="filters__item" data-info="skincare">
          <a class="h3 nav-item" data-info="skincare">Skincare</a>
          <div class="filter__applied">
            <p>Filtro aplicado</p>
            <p>Filtro aplicado</p>
            <p>Filtro aplicado</p>
            <p>Filtro aplicado</p>
          </div>
        </div>
        <div class="filters__item">
          <a class="h3 nav-item" data-info="marcas">Marcas</a>
        </div>
        <div class="filters__item">
          <a class="h3 nav-item" data-info="kit momiji">Kit Momiji</a>
        </div>

      </div>

      <div class="col-12 filter__btns">
        <a href="javascript:void(0)" class="btn__main deseleccionar">Borrar</a>
        <a href="javascript:void(0)" class="btn__main aplicar">Aplicar</a>
      </div>
    </div>


    <div class="subFiltros">
      <div class="modulo--sub" data-id="skincare">

        <div class="row">
          <div class="col-12 breadcrumb">
            <a class="breadcrumb--back">Categorías </a><span class="text-link"> / </span><a class="breadcrumb--this"> Rutina</a>
          </div>
        </div>

        <div class="row subfilters">
          <div class="col-12">

            <div class="subfilters__item">
              <a>
                <span class="text-link">Limpiadores</span>
              </a>
            </div>

            <div class="subfilters__item">
              <a>
                <span class="text-link">Toners</span>
              </a>
            </div>

            <div class="subfilters__item">
              <a>
              <span class="text-link">tratamientos</span>
              </a>
            </div>

            <div class="subfilters__item">
              <a>
              {% comment %}{% endcomment %}<span class="text-link">exfoliantes</span>
              </a>
            </div>

            <div class="subfilters__item">
              <a>
              {% comment %}{% endcomment %}<span class="text-link">esencias</span>
              </a>
            </div>

            <div class="subfilters__item">
              <a>
              {% comment %}{% endcomment %}<span class="text-link">humectantes</span>
              </a>
            </div>
            <div class="filter__btns">
              <a href="javascript:void(0)" class="btn__main deseleccionar">Borrar</a>
              <a href="javascript:void(0)" class="btn__main apply">Aplicar</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

{%- comment -%}
Filtros laterales para desktop y tablet - END
{%- endcomment -%}