 {% comment %} {{ 'shopify_common.js' | shopify_asset_url | script_tag }} {% endcomment %}

<main class="cuenta">
  
  <section class="cuenta__detalle section__principal">
    <div class="container">
      <div class="row">
          <div class="col-12 cuenta__title">
              {% comment %} Mi cuenta {% endcomment %}
              <h2>{{ 'customer.account.title' | t }}</h2>
              <a class="btn__main" href="/account/logout">{{ 'layout.customer.log_out' | t }}</a>
          </div>
      </div>

      <div class="row mt-50 row-mobile">
        <div class="col-md-12 col-lg-6 p-0">
          <div class="col-12 section__title">
          {% comment %} Historial de ordenes {% endcomment %}
            <h3>{{ 'customer.orders.title' | t }}</h3>
          </div>

        {% comment %} Layout desktop END {% endcomment %}
          <div class="col-12 d-none d-md-block">
            <table>
              <tr>
                <th>{{ 'customer.orders.order_number' | t }}</th>
                <th>{{ 'customer.orders.date' | t }}</th>
                <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th>{{ 'shopify.checkout.order_summary.discount_title' | t }}</th>
                <th>{{ 'customer.orders.total' | t }}</th>
              </tr>
              {% if customer.orders.size != 0 %}
              {% for order in customer.orders %}
              <tr>
                <td>{{ order.name | link_to: order.customer_url }}</td>
                <td>{{ order.created_at | date: format: 'month_day_year' }}</td>
                <td>{{ order.fulfillment_status_label }}</td>
                {% if order.total_discounts != 0 %}
                  {% for discount_application in order.discount_applications %}
                    <td>{{ discount_application.title }}</td>
                  {% endfor %}
                  {% else %}
                    <td>Ninguno</td>
                {% endif %}
                <td>{{ order.total_price | money }}</td>
              </tr>
              {% endfor %}
              {% else %}
                <p>{{ 'customer.orders.none' | t }}</p>
              {% endif %}
            </table>
          </div>
        {% comment %} Layout desktop END {% endcomment %}

        {% comment %} Layout moviles {% endcomment %}
          <div class="col-12 d-md-none">
          {% if customer.orders.size != 0 %}
          {% for order in customer.orders %}
            <div class="card__order">
              <table>
                <tr>
                  <th>{{ 'customer.orders.order_number' | t }}</th>
                  <td>{{ order.name | link_to: order.customer_url }}</td>
                </tr>
                <tr>
                  <th>{{ 'customer.orders.date' | t }}</th>
                  <td>{{ order.created_at | date: format: 'month_day_year' }}</td>
                </tr>
                <tr>
                  <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                  <td>{{ order.fulfillment_status_label }}</td>
                </tr>
                <tr>
                  <th>{{ 'shopify.checkout.order_summary.discount_label' | t }}</th>
                  {% if order.total_discounts != 0 %}
                  {% for discount_application in order.discount_applications %}
                    <td>{{ discount_application.title }}</td>
                  {% endfor %}
                  {% else %}
                    <td>Ninguno</td>
                  {% endif %}
                </tr>
                <tr>
                  <th>{{ 'customer.orders.total' | t }}</th> 
                  <td>{{ order.total_price | money }}</td>
                </tr>
              </table>
            </div>
          {% endfor %}  
          {% else %}
            <p>{{ 'customer.orders.none' | t }}</p>
          {% endif %}          
          </div>
        {% comment %} Layout moviles END {% endcomment %}  

        </div>

        <div class="col-md-12 col-lg-6 br">
          <div class="row">
            <div class="col-md-12 col-lg-9 mx-auto">
              <div class="row">
                <div class="col-12 section__title">
                  <h3>{{ 'shopify.page_titles.addresses' | t }}</h3>
                </div>
                <div class="col-md-6 col-lg-12 cuenta__direccion">
                  <b>{{ customer.name }}</b>
                  <p>{{ customer.email }}</p>
                  <p>{{ customer.metafields['customer']['birthday'] }}</p>
                </div>

                <div class="btn--100 col mt-4 mb-4">
                  <a class="btn__main col-12" href="/account/addresses">{{ 'customer.account.view_addresses' | t }}</a>
                </div>

              {% for address in customer.addresses %}
                <div class="col-md-6 col-lg-12 cuenta__direccion mt-2 mb-2">
                {% if address == customer.default_address %}
                  <p class="text-link">{{ 'customer.addresses.default' | t }}</p>
                {% endif %}
                  <b>{{ address.name }}</b>
                  <p>{{ address.email }}</p>
                  <address data-addressId={{ address.id }}>{{ address.company }}, {{ address.address2 }}, {{ address.address1 }}, {{ address.city }}, {{ address.province_code }}, {{ address.country }}. {{ 'shopify.addresses.zip_code'| t }} {{ address.zip }}</address>
                  <p>{{ address.phone }}</p>
                  <hr>
                </div>
              {% endfor %}

              </div>
              
            </div>
            
          </div>
        </div>
      </div>
        
    </div>
  </section>
    
</main>