
<main class="cuenta">
  
  <section class="cuenta__detalle section__principal">
    <div class="container">
      <div class="row">
          <div class="col-12 cuenta__title">
              <h2>{{ 'customer.account.title' | t }}</h2>
              <a class="btn__main" href="borrar-cuenta.html">Borrar cuenta</a>
          </div>
      </div>

      <div class="row mt-50 row-mobile">
        <div class="col-md-12 col-lg-6 p-0">
          <div class="col-12 section__title">
            <h3>{{ 'customer.orders.title' | t }}</h3>
          </div>
        {% paginate customer.orders by 20 %}
          <div class="col-12 d-none d-md-block">
            {% if customer.orders.size != 0 %}
            <table>
              <tr>
                <th>{{ 'customer.orders.order_number' | t }}</th>
                <th>{{ 'customer.orders.date' | t }}</th>
                <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th>{{ 'customer.orders.total' | t }}</th>
              </tr>
            {% for order in customer.orders %}
              <tr>
                <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
                <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
                <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
              </tr>
            {% endfor %}
            </table>
            {% else %}
            <p>{{ 'customer.orders.none' | t }}</p>
            {% endif %}
          </div>
          {% if paginate.pages > 1 %}
            {% include 'pagination' %}
          {% endif %}
        {% endpaginate %}

          <div class="col-12 d-md-none">
        {% paginate customer.orders by 20 %}
        {% if customer.orders.size != 0 %}
          {% for order in customer.orders %}
            <div class="card__order">
              <table>
                <tr>
                  <th>{{ 'customer.orders.order_number' | t }}</th>
                  <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
                </tr>
                <tr>
                  <th>{{ 'customer.orders.date' | t }}</th>
                  <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
                </tr>
                <tr>
                  <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                  <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                </tr>
                <tr>
                  <th>{{ 'customer.orders.total' | t }}</th> 
                  <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                </tr>
              </table>
            </div>
              {% endfor %}
              {% else %}
              <p>{{ 'customer.orders.none' | t }}</p>
              {% endif %}
          </div>
          <br>
          {% if paginate.pages > 1 %}
            {% include 'pagination' %}
          {% endif %}
        {% endpaginate %}
        </div>


        <div class="col-md-12 col-lg-6 br">
          <div class="row">
            <div class="col-md-12 col-lg-9 mx-auto">
              <div class="row">
                <div class="col-12 section__title">
                  <h3>{{ 'customer.account.details' | t }}</h3>
                </div>

              {% for address in customer.addresses %}
                <div class="col-md-6 col-lg-12 cuenta__direccion">
                {% if address == customer.default_address %}
                  <p class="text-link">Dirección principal</p>
                  <b>{{ customer.name }}</b>
                  <p>{{ customer.email }}</p>
                 <!-- <p>{{ customer.metafields.customer.birthday }}</p> -->
                  <address>{{ customer.default_address | format_address }}</address>
                  <p>Teléfono: {{ customer.default_address.phone }}</p>
                  <div class="btn--100">
                    <a class="btn__main" href="{{ edit_customer_address_link: address.id }}">{{ 'customer.addresses.edit' | t }}</a>
                    <a class="btn__main btn__main--lighter" href="{{delete_customer_address_link: address.id }}">{{ 'customer.addresses.delete' | t }}</a>
                  </div>
                  {% else %}
                  <p class="text-link">Dirección</p>
                  <address>{{ address | format_address }}</address>
                  <p>Teléfono: {{ address.phone }}</p>
                  <div class="btn--100">
                    <a class="btn__main" href="{{ edit_customer_address_link: address.id }}">{{ 'customer.addresses.edit' | t }}</a>
                    <a class="btn__main btn__main--lighter" href="{{delete_customer_address_link: address.id }}">{{ 'customer.addresses.delete' | t }}</a>
                  </div>
                  {% endif %} 
                </div>
              {% endfor %}

                <div class="col-12 cuenta__agregar">
                  <p class="text-link">AGREGAR NUEVA DIRECCIÓN<a href="cuenta-direccion.html" class="btn__more"></a></p>
                </div>
              </div>
              
            </div>
            
          </div>
        </div>
      </div>
        
    </div>
  </section>
    
</main>



{%- comment -%}

<h1>{{ 'customer.account.title' | t }}</h1>

<h2>{{ 'customer.orders.title' | t }}</h2>

{% paginate customer.orders by 20 %}
  {% if customer.orders.size != 0 %}
    <table class="responsive-table">
      <thead>
        <tr>
          <th>{{ 'customer.orders.order_number' | t }}</th>
          <th>{{ 'customer.orders.date' | t }}</th>
          <th>{{ 'customer.orders.payment_status' | t }}</th>
          <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
          <th>{{ 'customer.orders.total' | t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for order in customer.orders %}
          <tr class="responsive-table-row">
            <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
            <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
            <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
            <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
            <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>{{ 'customer.orders.none' | t }}</p>
  {% endif %}

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}

{% endpaginate %}

<h2>{{ 'customer.account.details' | t }}</h2>

{{ customer.default_address | format_address }}

<a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
{%- endcomment -%}