{% comment %}
  The data-label attributes on <td> elements are mobile-friendly
  helpers used for responsive-table labels
{% endcomment %}

<main class="cuenta">
  <section class="cuenta__detalle section__principal">
    <div class="container-fluid">

      {% comment %} <p><a href="/account">{{ 'customer.account.return' | t }}</a></p> {% endcomment %}

      <div class="row products__category--name row-mobile d-lg-flex">
        <div class="col-md-8">
            <h2>{{ 'customer.order.title' | t: name: order.name }}</h2>
        </div>
      </div>

      {%- comment -%}
          RESPONSIVE DESKTOP TABLE
      {%- endcomment -%}
      <div class="d-sm-none d-xs-none col-12 d-md-block mt-3">
        <table class="responsive-table">
          <thead>
            <tr>
              <th>{{ 'customer.order.product' | t }}</th>
              <th>{{ 'customer.order.sku' | t }}</th>
              <th>{{ 'customer.order.price' | t }}</th>
              <th>{{ 'customer.order.quantity' | t }}</th>
              <th>{{ 'customer.order.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {% for line_item in order.line_items %}
              <tr id="{{ line_item.key }}" class="responsive-table-row">
                <td data-label="{{ 'customer.order.product' | t }}">
                  <a href="{{ line_item.product.url }}" class="h3" title="{{ line_item.title }}">{{ line_item.title }}</a>
                  {% unless line_item.product.has_only_default_variant %}
                    <span class="text-link">{{ line_item.variant.title }}</span><br />
                  {% endunless %}
                  <span>by {{ line_item.product.vendor }}</span>
                  {% if line_item.fulfillment %}
                    <dl>
                      <dt>{{ 'customer.order.fulfilled_at' | t }}</dt>
                      <dd>{{ line_item.fulfillment.created_at | date: format: 'month_day_year' }}</dd>

                      {% if line_item.fulfillment.tracking_url %}
                        <dt>{{ 'customer.order.tracking_url' | t }}</dt>
                        <dd>
                          <a href="{{ line_item.fulfillment.tracking_url }}">
                            {{ 'customer.order.track_shipment' | t }}
                          </a>
                        </dd>
                      {% endif %}

                      <dt>{{ 'customer.order.tracking_company' | t }}</dt>
                      <dd>{{ line_item.fulfillment.tracking_company }}</dd>

                      {% if line_item.fulfillment.tracking_number %}
                        <dt>{{ 'customer.order.tracking_number' | t }}</dt>
                        <dd>{{ line_item.fulfillment.tracking_number }}</dd>
                      {% endif %}
                    </dl>
                  {% endif %}
                </td>
                <td data-label="{{ 'customer.order.sku' | t }}">{{ line_item.sku }}</td>
                <td data-label="{{ 'customer.order.price' | t }}">{{ line_item.price | money }}</td>
                <td data-label="{{ 'customer.order.quantity' | t }}">{{ line_item.quantity }}</td>
                <td data-label="{{ 'customer.order.total' | t }}">{{ line_item.quantity | times: line_item.price | money }}</td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr class="responsive-table-row">
              <td colspan="4" class="small--hide text-right">{{ 'customer.order.subtotal' | t }}</td>
              <td data-label="{{ 'customer.order.subtotal' | t }}">{{ order.subtotal_price | money }}</td>
            </tr>

            {% for discount in order.discounts %}
              <tr>
                <td colspan="4" class="small--hide text-right">{{ discount.code }} {{ 'customer.order.discount' | t }}</td>
                <td data-label="{{ 'customer.order.discount' | t }}">{{ discount.savings | money }}</td>
              </tr>
            {% endfor %}

            {% for shipping_method in order.shipping_methods %}
              <tr>
                <td colspan="4" class="small--hide text-right">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</td>
                <td data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</td>
              </tr>
            {% endfor %}

            {% for tax_line in order.tax_lines %}
              <tr>
                <td colspan="4" class="small--hide text-right">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
                <td data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</td>
              </tr>
            {% endfor %}

            <tr>
              <td colspan="4" class="small--hide text-right">{{ 'customer.order.total' | t }}</td>
              <td data-label="{{ 'customer.order.total' | t }}">{{ order.total_price | money }} {{ order.currency }}</td>
            </tr>
          </tfoot>
        </table>
      </div>{%- comment -%} RESPONSIVE DESKTOP TABLE END {%- endcomment -%}

      {%- comment -%}
          RESPONSIVE MOBILE TABLE
      {%- endcomment -%}
      <div class="d-xl-none d-lg-none d-md-none col-xs-12 col-sm-12 align-self-sm-center mt-3">
            {% comment %} <div class="">
              <div class="">{{ 'customer.order.product' | t }}</div>
              <div class="">{{ 'customer.order.sku' | t }}</div>
              <div class="">{{ 'customer.order.price' | t }}</div>
              <div class="">{{ 'customer.order.quantity' | t }}</div>
              <div class="">{{ 'customer.order.total' | t }}</div>
            </div> {% endcomment %}
            
            <div class="row">
            {% for line_item in order.line_items %}
              <div id="{{ line_item.key }}" class="mt-3">
                <div class="mb-3" data-label="{{ 'customer.order.product' | t }}">
                  <a href="{{ line_item.product.url }}" class="h3" title="{{ line_item.title }}">{{ line_item.title }}</a>
                  {% unless line_item.product.has_only_default_variant %}
                    <span class="text-link">{{ line_item.variant.title }}</span><br />
                  {% endunless %}
                  <span>by {{ line_item.product.vendor }}</span>
                  {% if line_item.fulfillment %}
                    <dl>
                      <dt>{{ 'customer.order.fulfilled_at' | t }}</dt>
                      <dd>{{ line_item.fulfillment.created_at | date: format: 'month_day_year' }}</dd>

                      {% if line_item.fulfillment.tracking_url %}
                        <dt>{{ 'customer.order.tracking_url' | t }}</dt>
                        <dd>
                          <a href="{{ line_item.fulfillment.tracking_url }}">
                            {{ 'customer.order.track_shipment' | t }}
                          </a>
                        </dd>
                      {% endif %}

                      <dt>{{ 'customer.order.tracking_company' | t }}</dt>
                      <dd>{{ line_item.fulfillment.tracking_company }}</dd>

                      {% if line_item.fulfillment.tracking_number %}
                        <dt>{{ 'customer.order.tracking_number' | t }}</dt>
                        <dd>{{ line_item.fulfillment.tracking_number }}</dd>
                      {% endif %}
                    </dl>
                  {% endif %}
                </div>
                <div data-label="{{ 'customer.order.sku' | t }}">{{ 'customer.order.sku' | t }}: {{ line_item.sku }}</div>
                <div data-label="{{ 'customer.order.price' | t }}">{{ 'customer.order.price' | t }}: {{ line_item.price | money }}</div>
                <div data-label="{{ 'customer.order.quantity' | t }}">{{ 'customer.order.quantity' | t }}: {{ line_item.quantity }}</div>
                <div data-label="{{ 'customer.order.total' | t }}">{{ 'customer.order.total' | t }}: {{ line_item.quantity | times: line_item.price | money }}</div>
              </div>
            {% endfor %}
            </div>

            <hr>

            <div class="row mt-3 flex-column">
              <div class="mb-3">
                <div class="">{{ 'customer.order.subtotal' | t }}</div>
                <div data-label="{{ 'customer.order.subtotal' | t }}">{{ order.subtotal_price | money }}</div>
              </div>

              {% for discount in order.discounts %}
                <div class="mb-3">
                  <div class="">{{ discount.code }} {{ 'customer.order.discount' | t }}</div>
                  <div data-label="{{ 'customer.order.discount' | t }}">{{ discount.savings | money }}</div>
                </div>
              {% endfor %}

              {% for shipping_method in order.shipping_methods %}
                <div class="mb-3">
                  <div class="">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</div>
                  <div data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</div>
                </div>
              {% endfor %}

              {% for tax_line in order.tax_lines %}
                <div class="mb-3">
                  <div class="">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</div>
                  <div data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</div>
                </div>
              {% endfor %}

              <div class="mb-3">
                <div class="">{{ 'customer.order.total' | t }}</div>
                <div data-label="{{ 'customer.order.total' | t }}">{{ order.total_price | money }} {{ order.currency }}</div>
              </div>
            </div>

      </div>{%- comment -%} RESPONSIVE MOBILE TABLE END {%- endcomment -%}

      <hr>

      <div class="row first-baseline">
        <div class="col-md-4 col-xs-12">
          <h3 class="mt-3">{{ 'shopify.checkout.stock.status_column_header' | t }}</h3>
          <p class="">Creada el {{ 'customer.order.date' | t: date: order.created_at | date: format: 'short' }}</p>
          {% if order.cancelled %}
            {%- assign cancelled_at = order.cancelled_at | date: format: 'short' -%}
            <p class="">{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
            <p class="">{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
          {% endif %}
        </div>
        <div class="col-md-4 col-xs-12">
          <h3 class="mt-3">{{ 'customer.order.billing_address' | t }}</h3>
          <p>{{ 'customer.order.payment_status' | t }}: {{ order.financial_status_label }}</p>
          {{ order.billing_address | format_address }}
        </div>
        <div class="col-md-4 col-xs-12">
          <h3 class="mt-3">{{ 'customer.order.shipping_address' | t }}</h3>
          <p>{{ 'customer.order.fulfillment_status' | t }}: {{ order.fulfillment_status_label }}</p>
          {{ order.shipping_address | format_address }}
        </div>
      </div>

    </div>
  </section>
</main>