{% assign articulos_pp = section.settings.articulos %}
<main class="section__principal bg-purple" style="opacity: 1;">
  <div class="container">
    <div class="col-md-12 p-0 mb-2">

      {% include 'blog-header' %}

      <div class=" mb-3 pb-2 border-bottom border-dark">
      </div>

    </div>

    <div class="row">

      {% paginate blog.articles by articulos_pp %} {%- comment -%}podemos dejarlo a decision del usuario con un capture??{%- endcomment -%}

        {%- assign blog_title = blog.title -%}

        {% if current_tags %}
          {% capture blog_title %}{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}{% endcapture %}
        {% endif %}

      {% comment %}
      Article Previews
      ====================
      {% endcomment %}
      <div class="col-md-12 col-lg-12">
        <div class="row thumbs">
          {% for article in blog.articles %}
            <div class="col-md-6 col-lg-4 mb-3 pl-2 px-2">
              <div class="bg-white">

                {% if article.image %}
                {% include 'blog-tag-logic' %}
                  <a href="{{ article.url }}"
                  {% if skincare %} class="skincare-blog"
                  {% elsif selfcare %} class="selfcare-blog"
                  {% elsif resenas %} class="resenas-blog"
                  {% elsif kbeauty %} class="kbeauty-blog"
                  {% elsif entrevistas %} class="entrevistas-blog"
                  {% else lifestyle %} class="lifestyle-blog"
                  {% endif %}>
                  <img data-src="{{ article.image.src | img_url: '640x' }}" class="pb-3 lazyload">
                    {%- comment -%}{% include 'responsive-image' with
                      image: article.image,
                      max_width: 1024,
                      max_height: 1024,
                      wrapper_class: 'product__container'
                    %}{%- endcomment -%}
                  </a>
                {% endif %}

                <a href="{{ article.url }}">
                  <h3 class="h6 pr-3 pl-3">{{ article.title }}</h3>
                </a>

                {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
                <div class="pr-3 pl-3 pb-3">
                  <b>
                  Por {{ article.author }} - {{ article.published_at | date: format: 'abbreviated_date' }}
                    {%- comment -%}{{ 'blogs.article.author_on_date_html' | t: author: article.author, date: date }}{%- endcomment -%}
                  </b>
                </div>

                <div class="rte pr-3 pl-3 pb-3">
                  {% if article.excerpt.size > 0 %}
                    {{ article.excerpt }}
                  {% else %}
                    <p>
                      {{ article.content | strip_html | truncatewords: 100 }}
                    </p>
                  {% endif %}
                </div>

                <div class="pr-3 pl-3 pb-3">
                  <p>
                    <a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }} &rarr;</a>
                  </p>
                </div>

                {%- comment -%}
                {% if blog.comments_enabled? or article.tags.size > 0 %}
                  <ul>
                    {% if blog.comments_enabled? %}
                      <li>
                        <a href="{{ article.url }}#comments">
                          {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
                        </a>
                      </li>
                    {% endif %}

                    {% if article.tags.size > 0 %}
                      {% for tag in article.tags %}
                        <li>
                          <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
                          {% unless forloop.last %}, {% endunless %}
                        </li>
                      {% endfor %}
                    {% endif %}
                  </ul>
                {% endif %}
                {%- endcomment -%}

              </div>
            </div>
          {% endfor %}
        </div>
      </div>

        {% if paginate.pages > 1 %}
        <div class="col-md-12 loader">
          {% include 'pagination' %}
        </div>
        {% endif %}

      {% endpaginate %}
    </div>
  </div>
</main>

{% schema %}
  {
    "name": "Blogposts por pagina",
    "settings": [
      {
      "type": "range",
      "id": "articulos",
      "label": "Articles per page",
      "min": 12,
      "max": 108,
      "step": 3,
      "default": 30
      }
    ]
  }
{% endschema %}