
{%- assign productos_por_pagina = section.settings.productos_por_pagina_rango -%}

<section class="products__category--header section__header">
  <div class="container-fluid p0" style="background: url({{ section.settings.imagen | img_url: '1200x' }})no-repeat;background-size: cover; background-position: right;">
    <div class="row">
      <div class="col-md-6 offset-md-0 col-lg-8 offset-lg-1 col-xl-8 offset-xl-1 header--title">
        {%- comment -%}
        Breadcrumbs
        {%- endcomment -%}
        <div class="breadcrumb">
        {% include 'breadcrumbs' %}
        </div>
        {%- comment -%}
        Breadcrumbs END
        {%- endcomment -%}
        <h2>{{ section.settings.titulo }}</h2>
        <p>{{ section.settings.descripcion }}</p>
      </div>
    </div>
  </div>
</section>


<section class="products__category--items">
  <div class="container">
      <div class="row">

        <div class="col-md-12 d-lg-none">
          <!-- TITULO NOMBRE MOBILE Y TABLETA -->
            <div class="row products__category--name row-mobile">
                <div class="col-md-8">
                  <h2>{{ collection.title }}&nbsp;<span class="text-link d-none d-md-inline-flex">&nbsp;{{ collection.all_products_count}}&nbsp;productos</span></h2>
                </div>
                
                <!-- FILTROS Y ORDENAR -->
                <div class="col-6 col-md-4">
                  {% include 'collection-sorting' %}
                </div>

                <div class="d-block d-md-none filter__categoria col-6">
                  <div class="trigger">
                    <a>categorías</a>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-3 d-none d-md-block">
            <!-- FILTROS TABLETA , DESKTOP -->
            {% include 'sidebar-filters' %}
        </div>

        <div class="col-md-9">
            <div class="d-md-none">
              <span class="text-link">{{ collection.all_products_count}}&nbsp;productos</span>
            </div>

            <!-- TITULO PARA DESKTOP -->
            <div class="row products__category--name row-mobile d-none d-lg-flex ">
                <div class="col-md-8">
                  <h2>{{ collection.title }}&nbsp;<span class="text-link">&nbsp;{{ collection.all_products_count}}&nbsp;productos</span></h2>
                </div>
                
                <!-- FILTROS Y ORDENAR -->
                <div class="col-md-4">
                    {% include 'collection-sorting' %}
                </div>
            </div>

              
            <div class="row thumbs">
            {% paginate collection.products by productos_por_pagina %}
            {% for product in collection.products limit: productos_por_pagina  %}
              <div class="col-md-4">
                {% include 'grid-item' %}
              </div>
            {% endfor %}
            
              <div class="loader mb-90">
                {% include 'pagination' %}
              </div>
            {% endpaginate %}

            </div>
        </div>
      </div>
  </div>
</section>
        
{%- comment -%}
<form method="post" action="/cart/add">
  <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
  <input type="submit" value="Add to cart" class="btn" />
      <input type="hidden" name="return_to" value="back" />
</form>
{%- endcomment -%}

{%- comment -%}
{% paginate collection.products by 12 %}
  <header role="banner">
    <h1>{{ collection.title }}</h1>
    {% if collection.description != blank %}
      <div class="rte">
        {{ collection.description }}
      </div>
    {% endif %}

    {% if collection.all_tags.size > 0 %}
      <ul>
        {% for tag in collection.all_tags %}
          {% if current_tags contains tag %}
            <li class="active">
              {{ tag | link_to_remove_tag: tag }}
            </li>
          {% else %}
            <li>
              {{ tag | link_to_tag: tag }}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  </header>

  <div>
    {% for product in collection.products %}
      <div>
        {% if product.featured_image != blank %}
          <a href="{{ product.url | within: collection }}">
            {% include 'responsive-image' with
              image: product.featured_image,
              max_width: 700,
              max_height: 800
            %}
          </a>
        {% endif %}

        <p>
          <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
        </p>
        <p>
          {% if product.compare_at_price > product.price %}

            {% if product.price_varies %}
              {%- assign sale_price = product.price | money -%}
              {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
              {{ 'products.product.on_sale' | t }}
              {{ product.price | money }}
            {% endif %}

          {% else %}

            {% if product.price_varies %}
              {%- assign price = product.price | money -%}
              {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
              {{ product.price | money }}
            {% endif %}

          {% endif %}

          {% if product.compare_at_price > product.price %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <s>{{ product.compare_at_price | money }}</s>
          {% endif %}

          {% unless product.available %}
            {{ 'products.product.sold_out' | t }}
          {% endunless %}
        </p>
      </div>

    {% else %}
      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
        {% for i in (1..8) %}
          <a href="#">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
          </a>

          <p>
            <a href="#">{{ 'homepage.onboarding.product_title' | t }}</a>
          </p>

          <p>
            {{ 1999 | money }}
          </p>
        {% endfor %}
      {% else %}
        <p>{{ 'collections.general.no_matches' | t }}</p>
      {% endif %}

    {% endfor %}
  </div>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
{% endpaginate %}
{%- endcomment -%}

{% schema %}
  {
    "name": "Colección",
    "settings": [
      {
      "type": "range",
      "id": "productos_por_pagina_rango",
      "label": "Productos por página",
      "min": 3,
      "max": 48,
      "step": 3,
      "default": 12
      },
      {
      "type": "image_picker",
      "id": "imagen",
      "label": "Selecciona la imagen de fondo",
      "info": "1200 x 400px .jpg 96dpi"
      },
      {
        "type": "text",
        "id": "titulo",
        "label": "Título",
        "default": "Our top-selling, holy grail products."
      },
      {
        "type": "textarea",
        "id": "descripcion",
        "label": "Descripción",
        "default": "No es un concurso de popularidad, pero si lo fuera, estos serían los ganadores de Momiji."
      }
    ]
  }
{% endschema %}