{%- assign productos_por_pagina = section.settings.productos_por_pagina_rango -%}

<section class="products__category--header section__header">
  <div class="container-fluid p0" style="background: url({% if collection.image %}{{ collection.image | img_url: '2880x', format: 'pjpg' }}{% else %}{{ section.settings.imagen | img_url: '2880x', format: 'pjpg' }}{% endif %})no-repeat;background-size: cover; background-position: right;">
    <div class="row">
      <div class="col-md-6 offset-md-0 col-lg-8 offset-lg-1 col-xl-8 offset-xl-1 header--title">
        <div class="breadcrumb">
        {% include 'breadcrumbs' %}
        </div>
        <h2>
        {% if collection.metafields.coleccion.copy == blank %}
          {%- comment -%}{{ section.settings.titulo }}{%- endcomment -%}
          {{ collection.title }}
        {% else %}
          {{ collection.metafields['coleccion']['copy'] }}
        {% endif %}
        </h2>
        <p>
        {% if collection.description == blank %}
          {{ section.settings.descripcion }}
        {% else %}
          {{ collection.description }}
        {% endif %}
        </p>
      </div>
    </div>
  </div>
</section>


<section class="products__category--items">
  <div class="container">
      <div class="row">

        <div class="col-md-12 d-lg-none">
          {% comment %} TITULO NOMBRE MOBILE Y TABLETA {% endcomment %}
            <div class="row products__category--name row-mobile">
                <div class="col-md-8">
                  <h2>{{ collection.title }}&nbsp;<span class="text-link d-none d-md-inline-flex">&nbsp;{{ collection.all_products_count}}&nbsp;productos</span></h2>
                </div>
                
                {% comment %} FILTROS Y ORDENAR {% endcomment %}
                <div class="col-12 col-md-4">
                  {% include 'collection-sorting' %}
                </div>

                {% comment %} Filtros moviles {% endcomment %}
                {%- comment -%}
                <div class="d-block d-md-none filter__categoria col-6">
                  <div class="trigger">
                    <a>categorías</a>
                  </div>
                </div>
                {%- endcomment -%}
            </div>
        </div>

        <div class="col-3 d-none d-md-block">
            {% comment %} FILTROS TABLETA , DESKTOP {% endcomment %}
            {% comment %} {% include 'sidebar-filters' %} {% endcomment %}

            {%- comment -%}Filter & Search app inject{%- endcomment -%}
            <div id="bc-sf-filter-tree"></div>
        </div>

        <div class="col-md-9">
            <div class="d-md-none">
              <span class="text-link">{{ collection.all_products_count}}&nbsp;productos</span>
            </div>

            {% comment %} TITULO PARA DESKTOP {% endcomment %}
            <div class="row products__category--name row-mobile d-none d-lg-flex ">
                <div class="col-md-8">
                  <h2>{{ collection.title }}&nbsp;<span class="text-link">&nbsp;{{ collection.all_products_count}}&nbsp;productos</span></h2>
                </div>
                
                {% comment %} FILTROS Y ORDENAR {% endcomment %}
                <div class="col-md-4">
                    {% include 'collection-sorting' %}
                </div>
            </div>

              
            <div id="bc-sf-filter-products" class="row thumbs">
            {% paginate collection.products by productos_por_pagina %}
            {% for product in collection.products limit: productos_por_pagina  %}
              <div class="col-md-6 col-lg-4">
                {% include 'grid-item' %}
              </div>
            {% endfor %}
              <div class="loader mb-90">
                {% include 'pagination' %}
              </div>
            {% endpaginate %}
            </div>
        </div>
      </div>
  </div>
</section>

{% schema %}
  {
    "name": "Colección",
    "settings": [
      {
      "type": "range",
      "id": "productos_por_pagina_rango",
      "label": "Products per page",
      "min": 3,
      "max": 135,
      "step": 3,
      "default": 12
      },
      {
      "type": "image_picker",
      "id": "imagen",
      "label": "Select default background image for collection",
      "info": "2880w x 960h px, 72DPI, JPEG 50% ~ 52%."
      },
      {
        "type": "text",
        "id": "titulo",
        "label": "Default copy title for collections",
        "default": "Our top-selling, holy grail products."
      },
      {
        "type": "textarea",
        "id": "descripcion",
        "label": "Default copy description for collections",
        "default": "No es un concurso de popularidad, pero si lo fuera, estos serían los ganadores de Momiji."
      }
    ]
  }
{% endschema %}