<section class="home__steps section__header bg-blue">
<div class="container">
    <div class="row">
    <div class="col-md-6 col-lg-5 section__container">
        <h1 class="text-link">Rutina Coreana</h1>
        <h2>{{ section.settings.title }}</h2>
        <h3>{{ section.settings.subtitle }}</h3>
        <b>{{ section.settings.desc-bold }}</b>
        <p>{{ section.settings.desc }}</p>
    </div>
    <div class="col-md-6 offset-md-0 offset-lg-1 section__img">

        <div class="img__info" data-info="hover-1">
        <b>{{ section.settings.paso1_title }}</b>
        <p>{{ section.settings.paso1_desc }}</p>
        </div>

        <div class="img__info" data-info="hover-2">
        <b>{{ section.settings.paso2_title }}</b>
        <p>{{ section.settings.paso2_desc }}</p>
        </div>

        <div class="img__info" data-info="hover-3">
        <b>{{ section.settings.paso3_title }}</b>
        <p>{{ section.settings.paso3_desc }}</p>
        </div>

        <div class="img__info" data-info="hover-4">
        <b>{{ section.settings.paso4_title }}</b>
        <p>{{ section.settings.paso4_desc }}</p>
        </div>

        <div class="img__info" data-info="hover-5">
        <b>{{ section.settings.paso5_title }}</b>
        <p>{{ section.settings.paso5_desc }}</p>
        </div>

        <div class="img__info" data-info="hover-6">
        <b>{{ section.settings.paso6_title }}</b>
        <p>{{ section.settings.paso6_desc }}</p>
        </div>

        <div class="img__info" data-info="hover-7">
        <b>{{ section.settings.paso7_title }}</b>
        <p>{{ section.settings.paso7_desc }}</p>
        </div>

        <div class="img__info" data-info="hover-8">
        <b>{{ section.settings.paso8_title }}</b>
        <p>{{ section.settings.paso8_desc }}</p>
        </div>

        <div class="img__info" data-info="hover-9">
        <b>{{ section.settings.paso9_title }}</b>
        <p>{{ section.settings.paso9_desc }}</p>
        </div>

        <div class="img__info" data-info="hover-10">
        <b>{{ section.settings.paso10_title }}</b>
        <p>{{ section.settings.paso10_desc }}</p>
        </div>

        <svg width="100%" height="100%" viewBox="0 0 458 400" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="rosa----rojo" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Home" transform="translate(-614.000000, -1448.000000)">
                    <g id="rutina" transform="translate(0.000000, 1327.000000)">
                        <g id="ilustracion" transform="translate(614.000000, 121.000000)">
                            <g id="ilustracion-nueva">
                                <g id="Stroke-48" transform="translate(0.000000, 318.000000)" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round">
                                    <polygon id="Stroke-47" points="0.5 14.741 457.166 14.741 457.166 0.741 0.5 0.741"></polygon>
                                </g>
                                <g id="Stroke-50" transform="translate(0.000000, 139.000000)" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round">
                                    <polygon id="Stroke-49" points="0.5 14.624 457.166 14.624 457.166 0.624 0.5 0.624"></polygon>
                                </g>
                                <a href="{{ section.settings.paso2_link }}">
                                <g id="hover-2" transform="translate(97.000000, 9.000000)">
                                    <path d="M23.3656,14.2482 L46.1186,14.2482 L46.1186,9.3962 C46.1186,8.8442 45.6716,8.3962 45.1186,8.3962 L23.3656,8.3962 L1.6116,8.3962 C1.0596,8.3962 0.6116,8.8442 0.6116,9.3962 L0.6116,14.2482 L23.3656,14.2482 Z" id="Stroke-43" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M37.7777,128.8995 C37.7627,129.2535 37.5707,129.5715 37.2577,129.7375 C36.0587,130.3745 32.4107,130.7565 23.3657,130.7565 C14.3247,130.7565 10.6757,130.3765 9.4747,129.7385 C9.1607,129.5725 8.9677,129.2525 8.9547,128.8965 L8.2827,110.8085 L0.5137,14.2795 L23.2667,14.2485 L46.0197,14.2165 L38.5177,110.7675 L37.7777,128.8995 Z" id="Stroke-44" stroke="#231F20" fill="#F9FCFC" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M29.6654,123.8224 C29.6654,127.4484 26.8484,127.2574 23.3734,127.2574 C19.8984,127.2574 17.0814,127.4484 17.0814,123.8224 C17.0814,120.1964 19.8984,117.2574 23.3734,117.2574 C26.8484,117.2574 29.6654,120.1964 29.6654,123.8224 Z" id="Stroke-45" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M8.7289,123.0939 C9.9989,123.5279 14.1509,123.6339 23.4029,123.6209 C32.4919,123.6089 36.6569,123.5299 38.0019,123.0769" id="Stroke-42" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M8.2826,110.8087 C8.2826,110.8087 11.9056,111.5237 23.4026,111.5067 C34.8996,111.4917 38.5176,110.7677 38.5176,110.7677" id="Stroke-46" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <g id="number" transform="translate(32.000000, 0.000000)">
                                        <g id="number/inactive" transform="translate(3.000000, 2.000000)">
                                            <circle id="Oval" fill="#FAF2FA" cx="9.5" cy="10.5" r="9.5"></circle>
                                            <text id="1" font-family="GTWalsheim, GT Walsheim" font-size="11" font-weight="normal" line-spacing="28" letter-spacing="0.200000003" fill="#0A0A0A">
                                                <tspan x="6.43886719" y="12.4">2</tspan>
                                            </text>
                                        </g>
                                    </g>
                                </g>
                                </a>
                                <a href="{{ section.settings.paso3_link }}">
                                <g id="hover-3" transform="translate(157.000000, 28.000000)">
                                    <polygon id="Stroke-22" stroke="#231F20" fill="#F9FCFC" stroke-linecap="round" stroke-linejoin="round" points="57.5033 13.2042 47.8673 91.7432 10.6323 91.7432 0.9963 13.2042"></polygon>
                                    <path d="M56.5033,6.3527 L1.9963,6.3527 C1.4433,6.3527 0.9963,6.7997 0.9963,7.3527 L0.9963,13.2047 L57.5033,13.2047 L57.5033,7.3527 C57.5033,6.7997 57.0563,6.3527 56.5033,6.3527 Z" id="Stroke-23" stroke="#231F20" fill="#F9FCFC" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M46.637,110.1759 C46.609,110.6049 46.314,110.9679 45.898,111.0749 C44.04,111.5539 38.456,111.7569 29.249,111.7569 C20.043,111.7569 14.459,111.5539 12.602,111.0749 C12.186,110.9679 11.891,110.6049 11.863,110.1759 L10.632,91.7429 L47.867,91.7429 L46.637,110.1759 Z" id="Stroke-24" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <g id="number" transform="translate(42.000000, 0.000000)">
                                        <g id="number/inactive" transform="translate(3.000000, 2.000000)">
                                            <circle id="Oval" fill="#FAF2FA" cx="9.5" cy="10.5" r="9.5"></circle>
                                            <text id="1" font-family="GTWalsheim, GT Walsheim" font-size="11" font-weight="normal" line-spacing="28" letter-spacing="0.200000003" fill="#0A0A0A">
                                                <tspan x="6.2484375" y="12.4">3</tspan>
                                            </text>
                                        </g>
                                    </g>
                                </g>
                                </a>
                                <a href="{{ section.settings.paso1_link }}">
                                <g id="hover-1" transform="translate(26.000000, 73.000000)">
                                    <path d="M31.4183,31.2794 L58.0583,31.2794 C58.6263,31.2794 59.0803,30.8054 59.0573,30.2374 L58.5123,17.2604 C58.4903,16.7664 58.1183,16.3614 57.6253,16.3094 C54.8633,16.0174 45.4993,15.1544 31.4183,15.1544 C17.3383,15.1544 7.9733,16.0174 5.2113,16.3094 C4.7183,16.3614 4.3463,16.7664 4.3243,17.2604 L3.7793,30.2374 C3.7563,30.8054 4.2103,31.2794 4.7783,31.2794 L31.4183,31.2794 Z" id="Stroke-33" stroke="#231F20" fill="#F9FCFC" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M62.5189,66.757 C62.9459,66.636 63.2359,66.242 63.2359,65.798 L63.2359,35.776 C63.2359,34.3 62.1199,33.063 60.6509,32.916 C59.3579,32.788 57.9169,32.627 57.1949,32.487 C56.8459,32.421 56.5019,32.295 56.4479,31.282 L7.2749,31.282 C7.2199,32.295 6.8759,32.421 6.5279,32.487 C5.8049,32.627 4.3649,32.788 3.0719,32.916 C1.6029,33.063 0.4859,34.3 0.4859,35.776 L0.4859,65.798 C0.4859,66.242 0.7759,66.636 1.2039,66.757 L62.5189,66.757 Z" id="Stroke-34" stroke="#231F20" fill="#F9FCFC" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <g id="number" transform="translate(45.000000, 0.000000)">
                                        <g id="number/inactive" transform="translate(3.000000, 2.000000)">
                                            <circle id="Oval" fill="#FAF2FA" cx="9.5" cy="10.5" r="9.5"></circle>
                                            <text id="1" font-family="GTWalsheim, GT Walsheim" font-size="11" font-weight="normal" line-spacing="28" letter-spacing="0.200000003" fill="#0A0A0A">
                                                <tspan x="7.53164062" y="12.4">1</tspan>
                                            </text>
                                        </g>
                                    </g>
                                </g>
                                </a>
                                <a href="{{ section.settings.paso4_link }}">
                                <g id="hover-4" transform="translate(314.000000, 4.000000)">
                                    <path d="M24.5013,135.756008 C35.9473,135.756008 41.8583,135.819402 44.9103,134.863549 C46.8563,134.251406 48.1673,132.452619 48.1673,130.429975 L48.1673,47.7204468 C48.1673,43.0441953 45.6623,38.7205693 41.5873,36.3611473 L35.8293,33.0290333 C35.5223,32.8507395 35.3343,32.5258484 35.3343,32.1742133 L35.3343,31.256 L13.6673,31.256 L13.6673,32.1742133 C13.6673,32.5258484 13.4793,32.8507395 13.1723,33.0290333 L7.4153,36.3611473 C3.3393,38.7205693 0.8343,43.0441953 0.8343,47.7204468 L0.8343,130.429975 C0.8343,132.452619 2.1453,134.251406 4.0913,134.862558 C7.1433,135.819402 13.0533,135.756008 24.5013,135.756008 Z" id="Stroke-25" stroke="#231F20" fill="#F9FCFC" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M35.3343,30.8869629 L35.3343,10.245 C35.3343,9.64 34.9343,9.112 34.3483,8.96 C32.8423,8.567 29.5973,7.923 24.5013,7.923 C19.4073,7.923 16.1643,8.566 14.6573,8.959 C14.0693,9.112 13.6673,9.642 13.6673,10.248 L13.6673,30.8869629" id="Stroke-26" stroke="#231F20" fill="#F9FCFC" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <g id="number" transform="translate(26.000000, 0.000000)">
                                        <g id="number/inactive" transform="translate(3.000000, 2.000000)">
                                            <circle id="Oval" fill="#FAF2FA" cx="9.5" cy="10.5" r="9.5"></circle>
                                            <text id="1" font-family="GTWalsheim, GT Walsheim" font-size="11" font-weight="normal" line-spacing="28" letter-spacing="0.200000003" fill="#0A0A0A">
                                                <tspan x="6.28945312" y="12.4">4</tspan>
                                            </text>
                                        </g>
                                    </g>
                                </g>
                                </a>
                                <a href="{{ section.settings.paso5_link }}">
                                <g id="hover-5" transform="translate(378.000000, 0.000000)">
                                    <path d="M20.2904,44.2843 C13.1224,44.3073 7.3174,44.8753 4.3734,45.4073 C2.1744,45.8053 0.5804,47.7133 0.5804,49.9483 L0.5804,136.4583 C0.5804,138.2803 2.0574,139.7573 3.8794,139.7573 L36.6364,139.7573 C38.4584,139.7573 39.9354,138.2803 39.9354,136.4583 L39.9354,49.9483 C39.9354,47.7133 38.3414,45.8053 36.1424,45.4073 C33.1974,44.8753 28.3934,44.3073 21.2254,44.2843 L20.2904,44.2843 Z" id="Stroke-17" stroke="#231F20" fill="#F9FCFC" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M6.8851,44.7872 L6.8851,2.0042 C6.8851,1.7272 7.1381,1.5032 7.4491,1.5032 C7.4491,1.5032 13.6631,0.5002 20.8221,0.5002 C27.6971,0.5002 33.0661,1.5032 33.0661,1.5032 C33.3771,1.5032 33.6311,1.7272 33.6311,2.0042 L33.6311,44.7872 L33.6311,45.0172 C30.6971,44.6292 26.6341,44.3022 21.2251,44.2842 L20.2901,44.2842 C14.7961,44.3022 10.1031,44.6402 6.8851,45.0362 L6.8851,44.7872 Z" id="Stroke-18" stroke="#231F20" fill="#F9FCFC" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M0.5804,116.1671 L39.9344,116.1671" id="Stroke-19" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M0.766,48.5001 L39.701,48.5001" id="Stroke-20" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M6.8851,37.8341 L33.6311,37.8341" id="Stroke-21" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <g id="number" transform="translate(24.000000, 31.000000)">
                                        <g id="number/inactive" transform="translate(3.000000, 2.000000)">
                                            <circle id="Oval" fill="#FAF2FA" cx="9.5" cy="10.5" r="9.5"></circle>
                                            <text id="1" font-family="GTWalsheim, GT Walsheim" font-size="11" font-weight="normal" line-spacing="28" letter-spacing="0.200000003" fill="#0A0A0A">
                                                <tspan x="6.0140625" y="12.4">5</tspan>
                                            </text>
                                        </g>
                                    </g>
                                </g>
                                </a>
                                <a href="{{ section.settings.paso6_link }}">
                                <g id="hover-6" transform="translate(26.000000, 215.000000)">
                                    <path d="M24.3841,39.2413 L28.9391,42.9503 C31.1081,44.7163 32.3661,47.3643 32.3661,50.1613 L32.3661,100.7413 C32.3661,102.3973 31.0241,103.7413 29.3661,103.7413 L16.4031,103.7413 L16.4491,103.7413 L3.4861,103.7413 C1.8291,103.7413 0.4861,102.3973 0.4861,100.7413 L0.4861,50.1613 C0.4861,47.3643 1.7441,44.7163 3.9131,42.9503 L8.4681,39.2413 L24.3841,39.2413 Z" id="Fill-1" fill="#F9FCFC"></path>
                                    <path d="M24.3841,39.2413 L28.9391,42.9503 C31.1081,44.7163 32.3661,47.3643 32.3661,50.1613 L32.3661,100.7413 C32.3661,102.3973 31.0241,103.7413 29.3661,103.7413 L16.4031,103.7413 L16.4491,103.7413 L3.4861,103.7413 C1.8291,103.7413 0.4861,102.3973 0.4861,100.7413 L0.4861,50.1613 C0.4861,47.3643 1.7441,44.7163 3.9131,42.9503 L8.4681,39.2413 L24.3841,39.2413 Z" id="Stroke-3" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M26.6761,39.2413 L6.1761,39.2413 C5.6241,39.2413 5.1761,38.7933 5.1761,38.2413 L5.1761,24.5743 C5.1761,24.0213 5.6241,23.5743 6.1761,23.5743 L26.6761,23.5743 C27.2291,23.5743 27.6761,24.0213 27.6761,24.5743 L27.6761,38.2413 C27.6761,38.7933 27.2291,39.2413 26.6761,39.2413" id="Fill-5" fill="#F9FCFC"></path>
                                    <path d="M26.6761,39.2413 L6.1761,39.2413 C5.6241,39.2413 5.1761,38.7933 5.1761,38.2413 L5.1761,24.5743 C5.1761,24.0213 5.6241,23.5743 6.1761,23.5743 L26.6761,23.5743 C27.2291,23.5743 27.6761,24.0213 27.6761,24.5743 L27.6761,38.2413 C27.6761,38.7933 27.2291,39.2413 26.6761,39.2413 Z" id="Stroke-7" stroke="#231F20" fill="#F9FCFC" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M22.0931,23.5743 L22.0931,6.5743 C22.0931,3.4443 19.5561,0.9073 16.4261,0.9073 C13.2961,0.9073 10.7591,3.4443 10.7591,6.5743 L10.7591,23.5743 L22.0931,23.5743 Z" id="Stroke-9" stroke="#231F20" fill="#F9FCFC" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <polygon id="Stroke-11" stroke="#231F20" fill="#F9FCFC" stroke-linecap="round" stroke-linejoin="round" points="13.301 56.148 19.551 56.148 19.551 39.242 13.301 39.242"></polygon>
                                    <polygon id="Stroke-13" stroke="#231F20" fill="#F9FCFC" stroke-linecap="round" stroke-linejoin="round" points="0.486 91.991 32.367 91.991 32.367 56.147 0.486 56.147"></polygon>
                                    <g id="number" transform="translate(15.000000, 8.000000)">
                                        <g id="number/inactive" transform="translate(3.000000, 2.000000)">
                                            <circle id="Oval" fill="#FAF2FA" cx="9.5" cy="10.5" r="9.5"></circle>
                                            <text id="1" font-family="GTWalsheim, GT Walsheim" font-size="11" font-weight="normal" line-spacing="28" letter-spacing="0.200000003" fill="#0A0A0A">
                                                <tspan x="6.26601562" y="12.4">6</tspan>
                                            </text>
                                        </g>
                                    </g>
                                </g>
                                </a>
                                <a href="{{ section.settings.paso7_link }}">
                                <g id="hover-7" transform="translate(75.000000, 199.000000)">
                                    <path d="M100.93,14.5245 C100.93,13.8365 102.486,13.0855 103.174,13.0855 L103.174,0.0625 L19.649,0.0625 L19.649,13.0855 C20.337,13.0855 21.893,13.8365 21.893,14.5245 C21.893,15.2125 20.337,16.0225 19.649,16.0225 L19.649,119.7415 L103.174,119.7415 L103.174,16.0225 C102.486,16.0225 100.93,15.2125 100.93,14.5245 Z" id="Stroke-14" stroke="#231F20" fill="#F9FCFC" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M58.9964,68.3224 C54.4434,68.3224 50.7544,64.6324 50.7544,60.0814 C50.7544,55.5294 54.4434,51.8394 58.9954,51.8394 C63.5474,51.8394 67.2374,55.5284 67.2374,60.0804 C67.2374,64.6324 63.5484,68.3224 58.9964,68.3224 M43.4374,102.0104 C35.8684,102.0104 29.7314,98.5854 29.7314,94.3594 C29.7314,90.1334 35.8684,86.7074 43.4374,86.7074 C51.0074,86.7074 57.1434,90.1334 57.1434,94.3594 C57.1434,98.5854 51.0074,102.0104 43.4374,102.0104 M19.6384,60.0804 C19.6384,55.5284 23.3284,51.8394 27.8804,51.8394 C32.4324,51.8394 36.1214,55.5294 36.1214,60.0814 C36.1214,64.6324 32.4324,68.3224 27.8794,68.3224 C23.3274,68.3224 19.6384,64.6324 19.6384,60.0804 M43.4374,71.5994 C47.3424,71.5994 50.5174,74.7754 50.5174,78.6794 C50.5174,79.3984 49.9354,79.9814 49.2164,79.9814 C48.4974,79.9814 47.9154,79.3984 47.9154,78.6794 C47.9154,76.2114 45.9064,74.2024 43.4374,74.2024 C40.9694,74.2024 38.9604,76.2114 38.9604,78.6794 C38.9604,79.3984 38.3784,79.9814 37.6594,79.9814 C36.9394,79.9814 36.3574,79.3984 36.3574,78.6794 C36.3574,74.7754 39.5334,71.5994 43.4374,71.5994 M80.2664,69.7064 C80.2664,68.8544 83.1514,68.1654 86.7194,68.1604 C86.4174,56.7104 82.7794,46.2344 76.9004,37.9684 C74.4234,40.4034 71.9764,41.8904 71.3864,41.3004 C70.7824,40.6964 72.3474,38.1534 74.8804,35.6194 C74.9284,35.5714 74.9754,35.5264 75.0234,35.4794 C67.1254,25.7504 55.8974,19.6714 43.4374,19.6714 C30.9784,19.6714 19.7574,25.7564 11.8544,35.4824 C11.9014,35.5284 11.9484,35.5724 11.9954,35.6194 C14.5284,38.1534 16.0934,40.6964 15.4894,41.3004 C14.8974,41.8914 12.4434,40.3984 9.9624,37.9554 C4.0794,46.2214 0.4574,56.7084 0.1564,68.1604 C3.7234,68.1654 6.6094,68.8544 6.6094,69.7064 C6.6094,70.5564 3.7234,71.2474 0.1564,71.2514 C0.2994,76.6634 1.1834,81.8594 2.6964,86.7084 C4.3854,92.1194 6.8584,97.0964 9.9624,101.4574 C12.4434,99.0124 14.8974,97.5204 15.4894,98.1124 C16.0934,98.7164 14.5284,101.2594 11.9954,103.7924 C11.9484,103.8394 11.9014,103.8834 11.8544,103.9294 C19.7574,113.6564 30.9784,119.7414 43.4374,119.7414 C55.8964,119.7414 67.1184,113.6564 75.0204,103.9294 C74.9744,103.8834 74.9274,103.8394 74.8804,103.7924 C72.3474,101.2594 70.7824,98.7164 71.3864,98.1124 C71.9774,97.5204 74.4324,99.0124 76.9134,101.4574 C82.7964,93.1904 86.4174,82.7034 86.7194,71.2514 C83.1514,71.2474 80.2664,70.5564 80.2664,69.7064" id="Fill-15" fill="#F9FCFC"></path>
                                    <path d="M58.9964,68.3224 C54.4434,68.3224 50.7544,64.6324 50.7544,60.0814 C50.7544,55.5294 54.4434,51.8394 58.9954,51.8394 C63.5474,51.8394 67.2374,55.5284 67.2374,60.0804 C67.2374,64.6324 63.5484,68.3224 58.9964,68.3224 Z M43.4374,102.0104 C35.8684,102.0104 29.7314,98.5854 29.7314,94.3594 C29.7314,90.1334 35.8684,86.7074 43.4374,86.7074 C51.0074,86.7074 57.1434,90.1334 57.1434,94.3594 C57.1434,98.5854 51.0074,102.0104 43.4374,102.0104 Z M19.6384,60.0804 C19.6384,55.5284 23.3284,51.8394 27.8804,51.8394 C32.4324,51.8394 36.1214,55.5294 36.1214,60.0814 C36.1214,64.6324 32.4324,68.3224 27.8794,68.3224 C23.3274,68.3224 19.6384,64.6324 19.6384,60.0804 Z M43.4374,71.5994 C47.3424,71.5994 50.5174,74.7754 50.5174,78.6794 C50.5174,79.3984 49.9354,79.9814 49.2164,79.9814 C48.4974,79.9814 47.9154,79.3984 47.9154,78.6794 C47.9154,76.2114 45.9064,74.2024 43.4374,74.2024 C40.9694,74.2024 38.9604,76.2114 38.9604,78.6794 C38.9604,79.3984 38.3784,79.9814 37.6594,79.9814 C36.9394,79.9814 36.3574,79.3984 36.3574,78.6794 C36.3574,74.7754 39.5334,71.5994 43.4374,71.5994 Z M80.2664,69.7064 C80.2664,68.8544 83.1514,68.1654 86.7194,68.1604 C86.4174,56.7104 82.7794,46.2344 76.9004,37.9684 C74.4234,40.4034 71.9764,41.8904 71.3864,41.3004 C70.7824,40.6964 72.3474,38.1534 74.8804,35.6194 C74.9284,35.5714 74.9754,35.5264 75.0234,35.4794 C67.1254,25.7504 55.8974,19.6714 43.4374,19.6714 C30.9784,19.6714 19.7574,25.7564 11.8544,35.4824 C11.9014,35.5284 11.9484,35.5724 11.9954,35.6194 C14.5284,38.1534 16.0934,40.6964 15.4894,41.3004 C14.8974,41.8914 12.4434,40.3984 9.9624,37.9554 C4.0794,46.2214 0.4574,56.7084 0.1564,68.1604 C3.7234,68.1654 6.6094,68.8544 6.6094,69.7064 C6.6094,70.5564 3.7234,71.2474 0.1564,71.2514 C0.2994,76.6634 1.1834,81.8594 2.6964,86.7084 C4.3854,92.1194 6.8584,97.0964 9.9624,101.4574 C12.4434,99.0124 14.8974,97.5204 15.4894,98.1124 C16.0934,98.7164 14.5284,101.2594 11.9954,103.7924 C11.9484,103.8394 11.9014,103.8834 11.8544,103.9294 C19.7574,113.6564 30.9784,119.7414 43.4374,119.7414 C55.8964,119.7414 67.1184,113.6564 75.0204,103.9294 C74.9744,103.8834 74.9274,103.8394 74.8804,103.7924 C72.3474,101.2594 70.7824,98.7164 71.3864,98.1124 C71.9774,97.5204 74.4324,99.0124 76.9134,101.4574 C82.7964,93.1904 86.4174,82.7034 86.7194,71.2514 C83.1514,71.2474 80.2664,70.5564 80.2664,69.7064 Z" id="Stroke-16" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <g id="number" transform="translate(61.000000, 25.000000)">
                                        <g id="number/inactive" transform="translate(3.000000, 2.000000)">
                                            <circle id="Oval" fill="#FAF2FA" cx="9.5" cy="10.5" r="9.5"></circle>
                                            <text id="1" font-family="GTWalsheim, GT Walsheim" font-size="11" font-weight="normal" line-spacing="28" letter-spacing="0.200000003" fill="#0A0A0A">
                                                <tspan x="6.79921875" y="12.4">7</tspan>
                                            </text>
                                        </g>
                                    </g>
                                </g>
                                </a>
                                <a href="{{ section.settings.paso9_link }}">
                                <g id="hover-9" transform="translate(315.000000, 175.000000)">
                                    <path d="M21.9007,8.7824 L0.9687,8.7824 L0.9687,15.2904 C0.9687,15.2904 5.6077,72.8324 6.7377,94.1374 C7.4817,108.1674 8.2377,124.4854 8.3787,127.5544 C8.3937,127.8744 8.5707,128.1624 8.8477,128.3214 L15.1987,131.9654 C15.1987,131.9654 16.7487,132.6674 21.9007,132.6674" id="Stroke-35" stroke="#231F20" fill="#F9FCFC" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M21.9017,8.7824 L42.8337,8.7824 L42.8337,15.2904 C42.8337,15.2904 38.1947,72.8324 37.0647,94.1374 C36.3207,108.1674 35.5647,124.4854 35.4237,127.5544 C35.4097,127.8744 35.2327,128.1624 34.9547,128.3214 L28.6037,131.9654 C28.6037,131.9654 27.0537,132.6674 21.9017,132.6674" id="Stroke-37" stroke="#231F20" fill="#F9FCFC" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M42.8333,15.2902 L21.9003,15.2902" id="Stroke-38" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <polygon id="Stroke-39" stroke="#231F20" fill="#F9FCFC" stroke-linecap="round" stroke-linejoin="round" points="29.4671 137.7745 29.4671 132.6675 14.3351 132.6675 14.3351 137.7745 12.4801 137.7745 12.4801 142.7465 17.5701 143.7415 26.2341 143.7415 31.3221 142.7465 31.3221 137.7745"></polygon>
                                    <path d="M8.848,128.3214 C8.848,128.3214 22.296,132.0874 34.954,128.3214" id="Stroke-40" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M14.3353,137.7745 L29.4673,137.7745" id="Stroke-41" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M0.9691,15.2902 L21.9021,15.2902" id="Stroke-36" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <g id="number" transform="translate(29.000000, 0.000000)">
                                        <g id="number/inactive" transform="translate(3.000000, 2.000000)">
                                            <circle id="Oval" fill="#FAF2FA" cx="9.5" cy="10.5" r="9.5"></circle>
                                            <text id="1" font-family="GTWalsheim, GT Walsheim" font-size="11" font-weight="normal" line-spacing="28" letter-spacing="0.200000003" fill="#0A0A0A">
                                                <tspan x="6.26601562" y="12.4">9</tspan>
                                            </text>
                                        </g>
                                    </g>
                                </g>
                                </a>
                                <a href="{{ section.settings.paso8_link }}">
                                <g id="hover-8" transform="translate(194.000000, 250.000000)">
                                    <path d="M39.2503,6.7413 C55.5093,6.7413 65.0153,7.4263 70.5613,8.1903 C74.9753,8.7983 78.2503,12.5853 78.2503,17.0413 L78.2503,56.3853 C78.2503,61.8243 74.2553,66.4463 68.8683,67.2003 C62.9723,68.0253 54.4723,68.7413 39.2503,68.7413 C24.0283,68.7413 15.5273,68.0253 9.6323,67.2003 C4.2453,66.4463 0.2503,61.8243 0.2503,56.3853 L0.2503,17.0413 C0.2503,12.5853 3.5253,8.7983 7.9383,8.1903 C13.4843,7.4263 22.9913,6.7413 39.2503,6.7413 Z" id="Stroke-27" stroke="#231F20" fill="#F9FCFC" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M0.2503,32.3136 L78.2503,32.3136" id="Stroke-28" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <g id="number" transform="translate(62.000000, 0.000000)">
                                        <g id="number/inactive" transform="translate(3.000000, 2.000000)">
                                            <circle id="Oval" fill="#FAF2FA" cx="9.5" cy="10.5" r="9.5"></circle>
                                            <text id="1" font-family="GTWalsheim, GT Walsheim" font-size="11" font-weight="normal" line-spacing="28" letter-spacing="0.200000003" fill="#0A0A0A">
                                                <tspan x="6.12246094" y="12.4">8</tspan>
                                            </text>
                                        </g>
                                    </g>
                                </g>
                                </a>
                                <a href="{{ section.settings.paso10_link }}">
                                <g id="hover-10" transform="translate(369.000000, 213.000000)">
                                    <path d="M46.7464,105.7413 C47.2164,105.7413 47.6654,105.5433 47.9714,105.1853 C56.1154,95.6413 62.8334,78.1933 62.8334,57.2293 C62.8334,27.5263 48.8244,3.4473 31.5444,3.4473 C14.2644,3.4473 0.2564,27.5263 0.2564,57.2293 C0.2564,78.1933 6.9744,95.6413 15.1184,105.1853 C15.4234,105.5433 15.8724,105.7413 16.3434,105.7413 L46.7464,105.7413 Z" id="Stroke-29" stroke="#231F20" fill="#F9FCFC" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M46.7455,105.7413 C47.2165,105.7413 47.6655,105.5433 47.9715,105.1843 C54.4835,97.5533 60.0835,84.8693 62.0655,69.3743 L62.0645,69.3663 C62.0645,69.3663 50.4755,77.2363 31.5455,77.2363 C12.6135,77.2363 1.0245,69.3663 1.0245,69.3663 L1.0215,69.3673 C3.0045,84.8653 8.6045,97.5533 15.1185,105.1843 C15.4235,105.5433 15.8735,105.7413 16.3445,105.7413 L46.7455,105.7413 Z" id="Stroke-31" stroke="#231F20" fill="#F9FCFC" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M3.6087,82.1359 L59.4807,82.1359" id="Stroke-30" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M50.4759,14.4054 C45.2199,7.5294 38.6599,3.4474 31.5439,3.4474 C24.4289,3.4474 17.8679,7.5304 12.6119,14.4084 L12.6139,14.4094 C12.6139,14.4094 18.8719,11.0854 31.5439,11.0854 C44.2159,11.0854 50.4759,14.4094 50.4759,14.4094 L50.4759,14.4054 Z" id="Stroke-32" stroke="#231F20" fill="#F9FCFC" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <g id="number" transform="translate(38.000000, 0.000000)">
                                        <g id="number/inactive" transform="translate(3.000000, 2.000000)">
                                            <circle id="Oval" fill="#FAF2FA" cx="9.5" cy="10.5" r="9.5"></circle>
                                            <text id="1" font-family="GTWalsheim, GT Walsheim" font-size="11" font-weight="normal" line-spacing="28" letter-spacing="0.200000003" fill="#0A0A0A">
                                                <tspan x="3.95996093" y="12.4">10</tspan>
                                            </text>
                                        </g>
                                    </g>
                                </g>
                                </a>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    
    </div>
    </div>
    <div class="row btn--position">
    <div class="col-md-6 offset-md-6 text-center">
        <a href="{{ section.settings.link_boton }}" class="btn__main">{{ section.settings.texto_boton }}</a>
    </div>
    </div>
</div>
</section>

{% schema %}
  {
    "name": "Diez pasos",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Título",
        "default": "Título de la sección."
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtítulo",
        "default": "Subtítuo del encabezado."
      },
      {
        "type": "textarea",
        "id": "desc-bold",
        "label": "Descripción bold",
        "default": "Título bold de la descripción."
      },
      {
        "type": "textarea",
        "id": "desc",
        "label": "Descripción párrafo",
        "default": "Texto descriptivo."
      },
      {
        "type": "text",
        "id": "paso1_title",
        "label": "Paso 1",
        "default": "Limpieza base aceite"
      },
      {
        "type": "textarea",
        "id": "paso1_desc",
        "label": "Descripción paso 1",
        "default": "Descripción limpieza base aceite"
      },
      {
        "type": "url",
        "id": "paso1_link",
        "label": "Colección paso 1"
      },
      {
        "type": "text",
        "id": "paso2_title",
        "label": "Paso 2",
        "default": "Limpieza base agua"
      },
      {
        "type": "textarea",
        "id": "paso2_desc",
        "label": "Descripción paso 2",
        "default": "Descripción limpieza base agua"
      },
      {
        "type": "url",
        "id": "paso2_link",
        "label": "Colección paso 2"
      },
      {
        "type": "text",
        "id": "paso3_title",
        "label": "Paso 3",
        "default": "Exfoliante"
      },
      {
        "type": "textarea",
        "id": "paso3_desc",
        "label": "Descripción",
        "default": "Descripción exfoliante"
      },
     {
        "type": "url",
        "id": "paso3_link",
        "label": "Colección paso 3"
      },
      {
        "type": "text",
        "id": "paso4_title",
        "label": "Paso 4",
        "default": "Tónico"
      },
      {
        "type": "textarea",
        "id": "paso4_desc",
        "label": "Descripción",
        "default": "Descripción tónico"
      },
     {
        "type": "url",
        "id": "paso4_link",
        "label": "Colección paso 4"
      },
      {
        "type": "text",
        "id": "paso5_title",
        "label": "Paso 5",
        "default": "Esencia"
      },
      {
        "type": "textarea",
        "id": "paso5_desc",
        "label": "Descripción",
        "default": "Descripción esencia"
      },
     {
        "type": "url",
        "id": "paso5_link",
        "label": "Colección paso 5"
      },
      {
        "type": "text",
        "id": "paso6_title",
        "label": "Paso 6",
        "default": "Suero"
      },
      {
        "type": "textarea",
        "id": "paso6_desc",
        "label": "Descripción",
        "default": "Descripción suero"
      },
     {
        "type": "url",
        "id": "paso6_link",
        "label": "Colección paso 6"
      },
      {
        "type": "text",
        "id": "paso7_title",
        "label": "Paso 7",
        "default": "Mascarilla"
      },
      {
        "type": "textarea",
        "id": "paso7_desc",
        "label": "Descripción",
        "default": "Descripción mascarilla"
      },
     {
        "type": "url",
        "id": "paso7_link",
        "label": "Colección paso 7"
      },
      {
        "type": "text",
        "id": "paso8_title",
        "label": "Paso 8",
        "default": "Crema"
      },
      {
        "type": "textarea",
        "id": "paso8_desc",
        "label": "Descripción",
        "default": "Descripción crema"
      },
     {
        "type": "url",
        "id": "paso8_link",
        "label": "Colección paso 8"
      },
      {
        "type": "text",
        "id": "paso9_title",
        "label": "Paso 9",
        "default": "Mascarilla de noche"
      },
      {
        "type": "textarea",
        "id": "paso9_desc",
        "label": "Descripción",
        "default": "Descripción mascarila de noche"
      },
     {
        "type": "url",
        "id": "paso9_link",
        "label": "Colección paso 9"
      },
      {
        "type": "text",
        "id": "paso10_title",
        "label": "Paso 10",
        "default": "Protector solar"
      },
      {
        "type": "textarea",
        "id": "paso10_desc",
        "label": "Descripción",
        "default": "Descripción protector solar"
      },
     {
        "type": "url",
        "id": "paso10_link",
        "label": "Colección paso 10"
      },
      {
        "type": "text",
        "id": "texto_boton",
        "label": "Texto del botón",
        "default": "Texto del Botón"
      },
      {
        "type": "url",
        "id": "link_boton",
        "label": "Link del botón"
      }
    ],
    "presets": [
      {
        "name": "Diez pasos",
        "category": "Collection"
      }
    ]
  }
{% endschema %}