<div id="featured-product__info">
    <div id="wrapper__test">        
        <div id="wrapper__additional-info">
            <div class="info-card__title"><p>Ingredientes:</p></div>
            <div id="grid__additional-info">
              <div class="grid__info-card">
                <h3 class="additional-info__title">62% alcohol*</h3>
                <p>Elimina bacterias de manera efectiva y segura.</p>
              </div>
              <div class="grid__info-card">
                <h3 class="additional-info__title">Hialuronato de sodio</h3>
                <p>Derivado de ácido hialurónico de mejor absorción que hidrata la piel de manera más profunda.</p>
              </div>
              <div class="grid__info-card">
                <h3 class="additional-info__title">Agua de rosas</h3>
                <p>Hidrata, calma y está llena de antioxidantes. Además, tiene propiedades antibacterianas y antisépticas.</p>
              </div>
              <div class="grid__info-card">
                <h3 class="additional-info__title">Extracto de lavanda</h3>
                <p>Hidrata y le da a Handy un aroma relajante.</p>
              </div>
              <div class="disclaimer"><p>*Los Centros para el Control y la Prevención de Enfermedades (CDC) recomiendan utilizar un desinfectante de manos con un porcentaje mayor a 60% de alcohol para
      eliminar bacterias y microbios. El uso de gel antibacterial no reemplaza el lavado de manos, pero si no tienes acceso inmediato a agua y jabón, es una buena opción
      para desinfectarlas.</p></div>
            </div>
        </div>
    </div>
</div>

<style>
#featured-product__info {
    width: 100%;
    position: relative;
    /*overflow: hidden; */
{% if section.settings.background_image %}
    background-image: url({{ section.settings.background_image | img_url: '2107x' }});
{% endif %}
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: scroll;
    background-color: {{ settings.featured_product_background_color }};
}
#featured-product__info .img-wrapper__test {
    display: flex;
    width: 100%;
    height: 100vh;
}
#wrapper__additional-info {
    /*position: absolute;
    margin: 40px 30px;
    top: 0;*/
    /*width: 100vw;
    height: 100vh;*/
    min-width: 300px;
    min-height: 300px;
    padding: 60px 0;
   /* max-width: calc(100vw - 60px);
    max-height: calc(100vh - 80px);
    overflow: hidden; */
}
#wrapper__additional-info .info-card__title {
  background-color: {{ settings.featured_product_font_color }};
  /*width: fit-content;*/
  width: max-content;
  padding: 5px 10px 9px;
}
#wrapper__additional-info .info-card__title p {
  color: {{ settings.featured_product_background_color }};
}
#grid__additional-info {
  display: flex;
  flex-wrap: wrap;
}
#grid__additional-info p, .grid__info-card {
  color: {{ settings.featured_product_font_color }};
}
#grid__additional-info .grid__info-card {
  padding: 14px 0;
  margin: 0 50px 0 0;
  max-width: 28ch;
  min-width: 25ch;
}
#grid__additional-info .disclaimer {
  padding-top: 40px;
  width: 80%;
}
#grid__additional-info .disclaimer p {
  font-family: "GT Standard Beta A3", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 85%;
  line-height: 1.2;
  letter-spacing: -0.03em;
}
.additional-info__title, #grid__additional-info .grid__info-card, #wrapper__additional-info .info-card__title p {
  font-family: "GT Standard Beta A3", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;
}
.additional-info__title {
  border-bottom: 2px solid {{ settings.featured_product_font_color }};
  padding-bottom: 14px;
}
.grid__info-card h3 + p {
  margin-top: 14px;
}

</style>

{% schema %}
  {
    "name": "Featured product info",
    "settings": [
      {
        "type": "product",
        "id": "borrar",
        "label": "Product"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      }
    ],
    "presets": [
      {
        "name": "Featured product info",
        "category": "Product"
      }
    ]
  }
{% endschema %}