<div id="featured-product__info">
    <div id="featured-product__wrapper">        
        <div id="wrapper__additional-info">
            <div class="info-card__title"><p>{{ section.settings.titulo }}</p></div>
            <div id="grid__additional-info">
            {% for block in section.blocks %}
              <div class="grid__info-card">
                <h3 class="additional-info__title">{{ block.settings.titulo }}</h3>
                <p>{{ block.settings.descripcion}}</p>
              </div>
            {% endfor %}
              <div class="disclaimer"><p>{{ section.settings.disclaimer }}</p></div>
            </div>
        </div>
    </div>
</div>

<style>
#featured-product__info {
{% if section.settings.background_image %}
    background-image: url({{ section.settings.background_image | img_url: '2107x' }});
{% endif %}
}
</style>

{% schema %}
  {
    "name": "Featured Product Info",
    "settings": [
      {
        "type": "text",
        "id": "titulo",
        "label": "Título de sección"
      },
      {
        "type": "textarea",
        "id": "disclaimer",
        "label": "Disclaimer"
      }
    ],
    "presets": [
      {
        "name": "Featured Product Info",
        "category": "Product"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Bullet point",
        "settings": [
          {
            "id": "titulo",
            "type": "text",
            "label": "Título de bullet"
          },
          {
            "id": "descripcion",
            "type": "textarea",
            "label": "Descripción"
          }
        ]
      }
    ]
  }
{% endschema %}