{% assign footer-left = linklists.footer-momiji-beauty %}
{% assign footer-right = linklists.footer-para-clientes %}

<footer>
  <div class="container section__spacers">
    <div class="row row-mobile">
      <div class="col-12 footer__logo">
        <a href="{{ shop.url }}"><img src="{{ 'momiji-logo-rgb.svg' | asset_url }}" alt="Momiji"></a>
        <div class="footer__redes">
          <b>{{ section.settings.texto_redes }}</b>
          <a href="{{ section.settings.facebook_url }}" target="_blank"><i class="ico--fb"></i></a>
          <a href="{{ section.settings.twitter_url }}" target="_blank"><i class="ico--tw"></i></a>
          <a href="{{ section.settings.instagram_url }}" target="_blank"><i class="ico--ig"></i></a>
          <a href="{{ section.settings.youtube_url }}" target="_blank"><i class="ico--yt"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          <div class="footer__item col-12 col-md-7 col-lg-5">
            <b>{{ section.settings.servicioalcliente_title }}</b>
            <p>Envíanos un correo a
              <a class="a__more" href="mailto:{{ section.settings.email_sc }}">{{ section.settings.email_sc }}</a>
            <p>{{ section.settings.horario_atencion }}</p>
            </p>
          </div>
          <div class="footer__item col-6 col-md-5 col-lg-3">
            <b>{{ footer-left.title }}</b>
            <ul class="list-sitemap list-unstyled">
              {% for link in footer-left.links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="footer__item col-6 col-md-7 col-lg-3">
            <b>{{ footer-right.title }}</b>
            <ul class="list-sitemap list-unstyled">
              {% for link in footer-right.links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </div>

          <div class="col-md-5 col-lg-12 footer__derechos d-none d-md-block">
            <p>© {{ "now" | date: "%Y" }} {{ shop.name }}. Todos los Derechos reservados.</p>
          </div>
        </div>
      </div>
        

      <div class="col-md-5 bl">
        {% include 'newsletter', subscribe_source: 'footer' %}
        <div class="col-12 col-lg-10 mx-auto footer__quiz">
          {%- comment -%} QUIZ AUN NO ACTIVO
          <img src="{{ 'quiz.svg' | asset_url }}" alt="Take Quiz">
          <a href="/">{{ section.settings.quiz_title }}</a>
          {%- endcomment -%}
        </div>
      </div>
      <div class="col-md-5 col-lg-12 footer__derechos d-block d-md-none mt-50">
        <p>© {{ "now" | date: "%Y" }} {{ shop.name }}. Todos los Derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "Redes Sociales"
      },
      {
        "type": "text",
        "id": "texto_redes",
        "label": "Texto de redes sociales",
        "default": "Conecta con nosotros"
      },
      {
        "type": "text",
        "id": "facebook_url",
        "label": "Link de Facebook",
        "default": "https://www.facebook.com/momijiproducts/"
      },
      {
        "type": "text",
        "id": "twitter_url",
        "label": "Link de Twitter",
        "default": "https://twitter.com/momijibeautymx"
      },
      {
        "type": "text",
        "id": "instagram_url",
        "label": "Link de Instagram",
        "default": "https://www.instagram.com/momijibeauty/"
      },
      {
        "type": "text",
        "id": "youtube_url",
        "label": "Link de YouTube",
        "default": "https://www.youtube.com/channel/UCz6pAEEa3ve1uBIilUAKjMw"
      },
      {
        "type": "header",
        "content": "Menú Servicio al cliente"
      },
      {
        "type": "text",
        "id": "servicioalcliente_title",
        "label": "Título servicio al cliente",
        "default": "Servicio al cliente"
      },
      {
        "type": "text",
        "id": "email_sc",
        "label": "Email servicio a clientes",
        "default": "help@momijibeauty.com"
      },
      {
        "type": "text",
        "id": "horario_atencion",
        "label": "Horario de atención",
        "default": "Lunes a Viernes: 10am—5pm"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "textarea",
        "id": "newsletter_title",
        "label": "Título newsletter",
        "default": "Únete al club momiji..."
      },
      {
        "type": "header",
        "content": "Quiz"
      },
      {
        "type": "text",
        "id": "quiz_title",
        "label": "Título quiz",
        "default": "Toma nuestro skin quiz"
      }
    ]
  }
{% endschema %}
