<footer>
  <div class="container section__spacers">
    <div class="row row-mobile">
      <div class="col-12 footer__logo">
        <img src="{{ 'logo.png' | asset_url }}" alt="Momiji">
        <div class="footer__redes">
          <b>Conecta con nosotros</b>
          <a href="https://www.facebook.com/momijiproducts/" target="_blank"><i class="ico--fb"></i></a>
          <a href="https://twitter.com/momijibeautymx" target="_blank"><i class="ico--tw"></i></a>
          <a href="https://www.instagram.com/momijibeauty/?hl=es-la" target="_blank"><i class="ico--ig"></i></a>
          <a href="https://www.youtube.com/channel/UCz6pAEEa3ve1uBIilUAKjMw/" target="_blank"><i class="ico--yt"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          <div class="footer__item col-12 col-md-7 col-lg-5">
            <b>Servicio al cliente</b>
            <p>Envíanos un correo a
              <a class="a__more" href="mailto:servicioalcliente@momiji.com">servicioalcliente@momiji.com</a>
            <p>Lunes a Sábado: 10am—5pm</p>
            </p>
          </div>
          <div class="footer__item col-6 col-md-5 col-lg-3">
            <b>Momiji Beauty</b>
            <ul class="list-sitemap list-unstyled">
              <li><a href="about.html">¿Quiénes somos?</a></li>
              <li><a href="work.html">Trabaja con nosotros</a></li>
              <li><a href="legal.html">Aviso de Privacidad</a></li>
              <li><a href="contacto.html">Contacto </a></li>
            </ul>
          </div>
          <div class="footer__item col-6 col-md-7 col-lg-3">
            <b>Para clientes</b>
            <ul class="list-sitemap list-unstyled">
              <li><a href="legal.html">FAQ</a></li>
              <li><a href="legal.html">Pagos y envíos</a></li>
              <li><a href="legal.html">Políticas de Compra</a></li>
            </ul>
          </div>

          <div class="col-md-5 col-lg-12 footer__derechos d-none d-md-block">
            <p>© {{ "now" | date: "%Y" }} {{ shop.name }}. Todos los Derechos reservados.</p>
          </div>
        </div>
      </div>
        

      <div class="col-md-5 bl">
        <form action="" class="col-12 col-lg-10 mx-auto footer__newsletter">
          <label for="newsletter"><b>Unete al club Momiji para recibir noticias, novedades y descuentos para subscriptores.</b></label>
          <div class="field-container"><input type="text" placeholder="Tu correo aquí"><button class="btn__tri">▾</button></div>
        </form>

        <div class="col-12 col-lg-10 mx-auto footer__quiz"><img src="{{ 'quiz.svg' | asset_url }}" alt="Take Quiz"><a href="/">toma nuestro skin quiz</a></div>
      </div>
      <div class="col-md-5 col-lg-12 footer__derechos d-block d-md-none mt-50">
        <p>© {{ "now" | date: "%Y" }} {{ shop.name }}. Todos los Derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>

{%- comment -%}
<footer>

  {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
  <ul>
    {% for social in social_accounts %}
      {%- assign social_handle = social | handleize -%}
      {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
      {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

      {% if settings[social_link] != blank %}
        <li>
          <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
            {% include social_icon %}
            <span class="icon-fallback-text">{{ social }}</span>
          </a>
        </li>
      {% endif %}

    {% endfor %}
  </ul>

  {% if section.settings.show_payment_icons %}
    {% unless shop.enabled_payment_types == empty %}
      <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
      <ul class="payment-icons">
        {% for type in shop.enabled_payment_types %}
          <li>
            {{ type | payment_type_svg_tag: class: 'icon' }}
          </li>
        {% endfor %}
      </ul>
    {% endunless %}
  {% endif %}

  {%- assign footer_linklist = section.settings.footer_linklist -%}
  {% if linklists[footer_linklist].links.size > 0 %}
    <ul>
      {% for link in linklists[footer_linklist].links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  <div>
    <small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. {{ powered_by_link }}</small>
  </div>
</footer>
{%- endcomment -%}

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
