{% liquid 
  assign top = linklists.header-principal-sin-skincare
  assign rutina = linklists.header-skincare-rutina
  assign tipoDePiel = linklists.header-skincare-tipo-de-piel
  assign soluciones = linklists.header-skincare-soluciones
  assign ver_todo = linklists.ver-todo
  assign ultimoelemento = section.settings.last_item_menu_color %}

<header data-section-type="header">
  <div class="header">
    <div class="header__sitebanner d-md-flex"{% if section.settings.white == true %} style="background: #fff;"{% endif %}>
      <div class="header__currency align-items-center d-none d-md-flex">
        <!-- {% render 'currency-selector' %} -->
      </div>
      {% render 'barra-anuncios' %}
      
      <div class="header__cuenta d-none d-md-block">
        {% render 'header-account' %}
      </div>
    </div>

    <div class="header__nav d-flex justify-content-between">
      <!-- position-relative -->
      <nav class="d-flex align-items-center">
        <div class="mobile-btn d-none d-lg-none">
          <div class="nav-btn"></div>
        </div>
        <a href="#" id="burger-menu" class="d-block d-lg-none" data-toggle="show" data-target=".header-menu" role="button" aria-expanded="false" aria-controls="header-menu">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </a>
        <div class="header__nav--logo">
          <a href="/"><img src="{{ 'momiji-logo-rgb.svg' | asset_url }}" alt="{{ shop.name }}" itemprop="logo"></a>
        </div>
        <ul class="header__nav--menu list-unstyled">
          <li class="nav-item nav-item--cat"><a>Skincare</a>
            <div class="header__nav--level-2">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="menu-drawer">
                        <p class="h3">Marcas Momiji</p>
                        <ul class="sub-nav list-unstyled body-header">
                          <li>
                            <a href="/collections/momiji" class="w-100">
                              <div class="d-flex justify-content-between align-items-center icon-row pb-10 bb-black">
                                <div class="logo h-20">
                                  <img src="{{ "momiji.png" | asset_img_url: 'master' }}">
                                </div>
                                <div class="icon">
                                  <img src="{{ "momiji-icon.png" | asset_img_url: 'master' }}">
                                </div>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="/pages/momiji-life" class="w-100">
                              <div class="d-flex justify-content-between align-items-center icon-row py-10 bb-black">
                                <div class="logo h-20">
                                  <img src="{{ "momiji-life.png" | asset_img_url: 'master' }}">
                                </div>
                                <div class="icon">
                                  <img src="{{ "momiji-life-icon.png" | asset_img_url: 'master' }}">
                                </div>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="/collections/sundae" class="w-100">
                              <div class="d-flex justify-content-between align-items-center icon-row py-10 bb-black">
                                <div class="logo h-18">
                                  <img src="{{ "sundae.png" | asset_img_url: 'master' }}">
                                </div>
                                <div class="icon">
                                  <img src="{{ "sundae-icon.png" | asset_img_url: 'master' }}">
                                </div>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="col-lg-3">
                      <div class="menu-drawer">
                        <p class="h3">{{ rutina.title }}</p>
                        <ul class="sub-nav list-unstyled body-header">
                          {% for link in rutina.links %}
                          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>

                    <div class="col-lg-3">
                      <div class="menu-drawer">
                        <p class="h3">{{ soluciones.title }}</p>
                        <ul class="sub-nav list-unstyled body-header">
                          {% for link in soluciones.links %}
                          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>

                    <div class="col-lg-3">
                      <div class="menu-drawer">
                        <p class="h3">{{ tipoDePiel.title }}</p>
                        <ul class="sub-nav list-unstyled body-header">
                          {% for link in tipoDePiel.links %}
                          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                          {% endfor %}
                        </ul>
                      </div>

                      <div class="menu-drawer">
                        <p class="h3">Colecciones</p>
                        <ul class="sub-nav list-unstyled body-header">
                          <li>
                            <a href="/collections/clean-beauty">
                              Clean Beauty
                            </a>
                          </li>
                          <li>
                            <a href="/collections/kits">
                              Kits
                            </a>
                          </li>
                          <li>
                            <a href="/collections/vegan">
                              Vegan
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="menu-drawer">
                        <div class="h3 d-flex align-items-center justify-content-between">
                          Start Here
                          <!-- <div class="ml-auto">
                            <a href="#" class="text-link underline">
                              Toma nuestro beauty test
                            </a>
                          </div> -->
                        </div>
                        <ul class="list-unstyled d-flex justify-content-between align-items-center nav-image-list pt-05">
                          <li>
                            <a href="/products/personality-pen-taupe">
                              <figure>
                                <img src="{{ "Sundae_PPen_Taupe.jpg" | asset_img_url: 'master' }}" alt="Personality Pen Taupe">
                                {% comment %} <div class="image-tag image-tag-ribbon">
                                  {% render 'tag-best-seller' %}
                                </div> {% endcomment %}
                                <div class="image-tag image-tag-ribbon">
                                  {% render 'tag-new' %}
                                </div>
                              </figure>
                            </a>
                          </li>
                          <li>
                            <a href="/products/personality-pen-dark-brown">
                              <figure>
                                <img src="{{ "Sundae_PPen_DarkBrown.jpg" | asset_img_url: 'master' }}" alt="Personality Pen Dark Brown">
                                {% comment %} <div class="image-tag image-tag-ribbon">
                                  {% render 'tag-sale' %}
                                </div> {% endcomment %}
                                <div class="image-tag image-tag-ribbon">
                                  {% render 'tag-new' %}
                                </div>
                              </figure>
                            </a>
                          </li>
                          <li>
                            <a href="/products/k-tint-anime">
                              <figure>
                                <img src="{{ "Sundae_Ktint_Anime.jpg" | asset_img_url: 'master' }}" alt="K-Tint - Anime">
                                {% comment %} <div class="image-tag">
                                  {% render 'tag-momijis-pick' %}
                                </div> {% endcomment %}
                                <div class="image-tag image-tag-ribbon">
                                  {% render 'tag-new' %}
                                </div>
                              </figure>
                            </a>
                          </li>
                          <li>
                            <a href="/products/k-tint-duo-spoiler-alert">
                              <figure>
                                <img src="{{ "sundae_duo_spoiler_alert.jpg" | asset_img_url: 'master' }}" alt="K-Tint - Spoiler Alert Duo">
                                <div class="image-tag image-tag-ribbon">
                                  {% render 'tag-new' %}
                                </div>
                              </figure>
                            </a>
                          </li>
                          <li>
                            <a href="/products/eye-shine-hydrogel-patches-60-piezas">
                              <figure>
                                <img src="{{ "eyeshine.jpeg" | asset_img_url: 'master' }}" alt="Eye shine">
                                {% comment %} <div class="image-tag image-tag-ribbon">
                                  {% render 'tag-gift' %}
                                </div> {% endcomment %}
                                <div class="image-tag image-tag-ribbon">
                                  {% render 'tag-best-seller' %}
                                </div>
                              </figure>
                            </a>
                          </li>
                        </ul>
                      </div>

                      <div class="text-center pt-20">
                        {% for link in ver_todo.links %}
                          {% if forloop.last  %}
                            <a href="{{ link.url }}" class="underline text-link">{{ link.title }}</a> 
                            {% else %}
                            <a href="{{ link.url }}" class="underline text-link">{{ link.title }}</a> <span class="mx-05 text-link">/</span>
                          {% endif %}
                        {% endfor %}
                        <!-- <a href="#" class="text-link underline">Ver Marcas</a> / <a href="#" class="text-link underline">Ver todos los productos</a> -->
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </li>
          {% for link in top.links %}
          <li class="nav-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          {% comment %} <li class="nav-item">
            <a class="">On The Skin</a>
          </li>
          <li class="nav-item">
            <a>Momiji's Beauty Test</a>
          </li> {% endcomment %}
        </ul>
      </nav>

      <div class="header__nav--icons d-flex">
        <div class="header__icons--search d-none d-md-block">
          <a data-modal="search"><img src="{{ 'search.svg' | asset_url }}" alt="Search"></a>
        </div>
        {%- comment -%}<div class="header__icons--love d-none d-md-block">
          <a href="#swym-wishlist" class="swym-wishlist"><img src="{{ 'wishlist-header.svg' | asset_url }}" alt="Wishlist"></a>
        </div>{%- endcomment -%}
        <div class="header__icons--shop">
          <a href="/cart" class="cart-summary"><img src="{{ 'cart.svg' | asset_url }}" alt="Cart"><span class="cart-quantity">{{ cart.item_count }}</span></a>
        </div>
      </div>
    </div>

  </div>

  {%- comment -%} HEADER FIXED {%- endcomment -%}
  {%- comment -%} HEADER FIXED {%- endcomment -%}
  {%- comment -%} HEADER FIXED {%- endcomment -%}
  <div class="header-fixed">

    <div class="header__nav d-flex justify-content-between">
      <nav class="d-flex align-items-center">
        <div class="mobile-btn d-none d-lg-none">
          <div class="nav-btn"></div>
        </div>
        <a href="#" id="burger-menu" class="d-block d-lg-none" data-toggle="show" data-target=".header-menu" role="button" aria-expanded="false" aria-controls="header-menu">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </a>
        
        <div class="header__nav--logo">
          <a href="/"><img src="{{ 'momiji-logo-rgb.svg' | asset_url }}" alt="{{ shop.name }}"></a>
        </div>
        <ul class="header__nav--menu list-unstyled">
          <li class="nav-item nav-item--cat"><a>Skincare</a>
            <div class="header__nav--level-2">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="menu-drawer">
                        <p class="h3">Marcas Momiji</p>
                        <ul class="sub-nav list-unstyled body-header">
                          <li>
                            <a href="/collections/momiji" class="w-100">
                              <div class="d-flex justify-content-between align-items-center icon-row pb-10 bb-black">
                                <div class="logo h-20">
                                  <img src="{{ "momiji.png" | asset_img_url: 'master' }}">
                                </div>
                                <div class="icon">
                                  <img src="{{ "momiji-icon.png" | asset_img_url: 'master' }}">
                                </div>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="/pages/momiji-life" class="w-100">
                              <div class="d-flex justify-content-between align-items-center icon-row py-10 bb-black">
                                <div class="logo h-20">
                                  <img src="{{ "momiji-life.png" | asset_img_url: 'master' }}">
                                </div>
                                <div class="icon">
                                  <img src="{{ "momiji-life-icon.png" | asset_img_url: 'master' }}">
                                </div>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="/collections/sundae" class="w-100">
                              <div class="d-flex justify-content-between align-items-center icon-row py-10 bb-black">
                                <div class="logo h-18">
                                  <img src="{{ "sundae.png" | asset_img_url: 'master' }}">
                                </div>
                                <div class="icon">
                                  <img src="{{ "sundae-icon.png" | asset_img_url: 'master' }}">
                                </div>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="col-lg-3">
                      <div class="menu-drawer">
                        <p class="h3">{{ rutina.title }}</p>
                        <ul class="sub-nav list-unstyled body-header">
                          {% for link in rutina.links %}
                          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>

                    <div class="col-lg-3">
                      <div class="menu-drawer">
                        <p class="h3">{{ soluciones.title }}</p>
                        <ul class="sub-nav list-unstyled body-header">
                          {% for link in soluciones.links %}
                          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>

                    <div class="col-lg-3">
                      <div class="menu-drawer">
                        <p class="h3">{{ tipoDePiel.title }}</p>
                        <ul class="sub-nav list-unstyled body-header">
                          {% for link in tipoDePiel.links %}
                          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                          {% endfor %}
                        </ul>
                      </div>

                      <div class="menu-drawer">
                        <p class="h3">Colecciones</p>
                        <ul class="sub-nav list-unstyled body-header">
                          <li>
                            <a href="/collections/clean-beauty">
                              Clean Beauty
                            </a>
                          </li>
                          <li>
                            <a href="/collections/kits">
                              Kits
                            </a>
                          </li>
                          <li>
                            <a href="/collections/vegan">
                              Vegan
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="menu-drawer">
                        <div class="h3 d-flex align-items-center justify-content-between">
                          Start Here
                          {% comment %} <div class="ml-auto">
                            <a href="#" class="text-link underline">
                              Toma nuestro beauty test
                            </a>
                          </div> {% endcomment %}
                        </div>
                        <ul class="list-unstyled d-flex justify-content-between align-items-center nav-image-list pt-05">
                          <li>
                            <a href="/products/personality-pen-taupe">
                              <figure>
                                <img src="{{ "Sundae_PPen_Taupe.jpg" | asset_img_url: 'master' }}" alt="Personality Pen Taupe">
                                {% comment %} <div class="image-tag image-tag-ribbon">
                                  {% render 'tag-best-seller' %}
                                </div> {% endcomment %}
                                <div class="image-tag image-tag-ribbon">
                                  {% render 'tag-new' %}
                                </div>
                              </figure>
                            </a>
                          </li>
                          <li>
                            <a href="/products/personality-pen-dark-brown">
                              <figure>
                                <img src="{{ "Sundae_PPen_DarkBrown.jpg" | asset_img_url: 'master' }}" alt="Personality Pen Dark Brown">
                                {% comment %} <div class="image-tag image-tag-ribbon">
                                  {% render 'tag-sale' %}
                                </div> {% endcomment %}
                                <div class="image-tag image-tag-ribbon">
                                  {% render 'tag-new' %}
                                </div>
                              </figure>
                            </a>
                          </li>
                          <li>
                            <a href="/products/k-tint-anime">
                              <figure>
                                <img src="{{ "Sundae_Ktint_Anime.jpg" | asset_img_url: 'master' }}" alt="K-Tint - Anime">
                                {% comment %} <div class="image-tag">
                                  {% render 'tag-momijis-pick' %}
                                </div> {% endcomment %}
                                <div class="image-tag image-tag-ribbon">
                                  {% render 'tag-new' %}
                                </div>
                              </figure>
                            </a>
                          </li>
                          <li>
                            <a href="/products/k-tint-duo-spoiler-alert">
                              <figure>
                                <img src="{{ "sundae_duo_spoiler_alert.jpg" | asset_img_url: 'master' }}" alt="K-Tint - Spoiler Alert Duo">
                                <div class="image-tag image-tag-ribbon">
                                  {% render 'tag-new' %}
                                </div>
                              </figure>
                            </a>
                          </li>
                          <li>
                            <a href="/products/eye-shine-hydrogel-patches-60-piezas">
                              <figure>
                                <img src="{{ "eyeshine.jpeg" | asset_img_url: 'master' }}" alt="Eye Shine">
                                {% comment %} <div class="image-tag image-tag-ribbon">
                                  {% render 'tag-gift' %}
                                </div> {% endcomment %}
                                <div class="image-tag image-tag-ribbon">
                                  {% render 'tag-best-seller' %}
                                </div>
                              </figure>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="text-center pt-20">
                        {% for link in ver_todo.links %}
                          {% if forloop.last  %}
                            <a href="{{ link.url }}" class="underline text-link">{{ link.title }}</a> 
                            {% else %}
                            <a href="{{ link.url }}" class="underline text-link">{{ link.title }}</a> <span class="mx-05 text-link">/</span>
                          {% endif %}
                        {% endfor %}
                        <!-- <a href="#" class="text-link underline">Ver Marcas</a> / <a href="#" class="text-link underline">Ver todos los productos</a> -->
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </li>
          {% for link in top.links %}
          <li class="nav-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          {% comment %} <li class="nav-item">
            <a class="">On The Skin</a>
          </li>
          <li class="nav-item">
            <a>Momiji's Beauty Test</a>
          </li> {% endcomment %}
        </ul>
      </nav>

      <div class="header__nav--icons d-flex">
        <div class="header__cuenta d-none d-lg-none">
          {% render 'header-account' %}
        </div>
        <div class="header__icons--search d-none d-md-block">
          <a data-modal="search"><img src="{{ 'search.svg' | asset_url }}" alt="Search"></a>
        </div>
        {%- comment -%}<div class="header__icons--love d-none d-md-block">
          <a href="#swym-wishlist" class="swym-wishlist"><img src="{{ 'wishlist-header.svg' | asset_url }}" alt="Wishlist"></a>
        </div>{%- endcomment -%}
        <div class="header__icons--shop">
          <a href="/cart" class="cart-summary"><img src="{{ 'cart.svg' | asset_url }}" alt="Cart"><span class="cart-quantity">{{ cart.item_count }}</span></a>
        </div>
      </div>
    </div>

  </div>
</header>

{% if ultimoelemento == true %}
<style>
  header .header__nav--menu > li:last-child {
    color: {{ section.settings.last_item_color }};
  }
</style>
{% endif %}

{% schema %}

{
    "name": "Header",
    "settings": [
        {
            "type": "header",
            "content": "Barra de anuncios"
        }, {
            "type": "text",
            "id": "barra_anuncios1",
            "label": "Texto promocional 1:",
            "default": "Escribe aquí la promoción o anuncio."
        }, {
            "type": "url",
            "id": "barra_anuncios1_link",
            "label": "Link 1:"
        }, {
            "type": "text",
            "id": "barra_anuncios2",
            "label": "Texto promocional 2:",
            "default": "Escribe aquí la promoción o anuncio."
        }, {
            "type": "url",
            "id": "barra_anuncios2_link",
            "label": "Link 2:"
        }, {
            "type": "checkbox",
            "id": "white",
            "label": "Fondo blanco",
            "default": false,
            "info": "Hacer blanco el fondo de la barra de anuncios"
        }, {
            "type": "header",
            "content": "Menú"
        }, {
            "type": "checkbox",
            "id": "last_item_menu_color",
            "default": false,
            "label": "¿Último elemento de color?"
        }, {
            "type": "color",
            "id": "last_item_color",
            "label": "Color del último elemento",
            "default": "#0e0e0e"
        }
    ]
}

{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}