<header data-section-type="header">
<div class="header">
  <div class="header__sitebanner d-md-flex">
    <div class="header__currency align-items-center d-none d-md-flex">
      <img src="{{ 'currency.svg' | asset_url }}" alt="Moneda">
      <select name="price" id="">
        <option value="MXN">{{ cart.currency.iso_code }}</option>
      </select>
    </div>
    {% include 'barra-anuncios' %}
    <div class="header__cuenta d-none d-md-block">
      {% include 'header-account' %}
    </div>
  </div>

  <div class="header__nav d-flex justify-content-between">
    <nav class="d-flex align-items-baseline">

      <div class="mobile-btn d-lg-none">
        <div class="nav-btn"></div>
      </div>

{% assign top = linklists.header-principal-sin-skincare %}
{% assign rutina = linklists.header-skincare-rutina %}
{% assign tipoDePiel = linklists.header-skincare-tipo-de-piel %}
{% assign soluciones = linklists.header-skincare-soluciones %}

      <div class="header__nav--logo">
        <a href="/"><img src="{{ 'momiji-logo-rgb.svg' | asset_url }}" alt="{{ shop.name }}" itemprop="logo"></a>
      </div>
      <ul class="header__nav--menu list-unstyled">
        <li class="nav-item nav-item--cat"><a>Skincare</a>
          <div class="header__nav--level-2">
              <div class="container">
                <div class="row">
                  <div class="offset-lg-1 col-lg-3">
                    <div class="menu-drawer">
                      <p class="h3">{{ rutina.title }}</p>
                      <ul class="sub-nav list-unstyled">
                        {% for link in rutina.links %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>

                    <div class="menu-drawer">
                      <p class="h3">{{ tipoDePiel.title }}</p>
                      <ul class="sub-nav list-unstyled">
                        {% for link in tipoDePiel.links %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>

                  <div class="col-lg-3">
                    <div class="menu-drawer">
                      <p class="h3">{{ soluciones.title }}</p>
                      <ul class="sub-nav list-unstyled">
                        {% for link in soluciones.links %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>

                    <a href="/pages/marcas" class="a__all mt-30">ver marcas</a>
                    <span> / </span>
                    <a href="/collections/all" class="a__all mt-30">ver todos</a>
                  </div>

                  <div class="col-lg-4 br">
                    <div class="row">
                      <div class="col-md-8 mx-auto">
                        {% include 'producto-menu' %}
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </li>
        {% for link in top.links %}
        <li class="nav-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>

    <div class="header__nav--icons d-flex">
      <div class="header__icons--search d-none d-md-block">
        <a data-modal="search"><img src="{{ 'search.svg' | asset_url }}" alt="Search"></a>
      </div>
      {%- comment -%}<div class="header__icons--love d-none d-md-block">
        <a href="#swym-wishlist" class="swym-wishlist"><img src="{{ 'wishlist-header.svg' | asset_url }}" alt="Wishlist"></a>
      </div>{%- endcomment -%}
      <div class="header__icons--shop">
        <a href="/cart" class="cart-summary"><img src="{{ 'cart.svg' | asset_url }}" alt="Cart"><span class="cart-quantity">{{ cart.item_count }}</span></a>
      </div>
    </div>
  </div>

</div>

{%- comment -%} HEADER FIXED {%- endcomment -%}
{%- comment -%} HEADER FIXED {%- endcomment -%}
{%- comment -%} HEADER FIXED {%- endcomment -%}
<div class="header-fixed">

  <div class="header__nav d-flex justify-content-between">
    <nav class="d-flex align-items-baseline">

      <div class="mobile-btn d-lg-none">
        <div class="nav-btn"></div>
      </div>
      <div class="header__nav--logo">
        <a href="/"><img src="{{ 'momiji-logo-rgb.svg' | asset_url }}" alt="{{ shop.name }}"></a>
      </div>
      <ul class="header__nav--menu list-unstyled">
        <li class="nav-item nav-item--cat"><a>Skincare</a>
          <div class="header__nav--level-2">
              <div class="container">
                <div class="row">
                  <div class="offset-lg-1 col-lg-3">
                    <div class="menu-drawer">
                      <p class="h3">{{ rutina.title }}</p>
                      <ul class="sub-nav list-unstyled">
                        {% for link in rutina.links %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>

                    <div class="menu-drawer">
                      <p class="h3">{{ tipoDePiel.title }}</p>
                      <ul class="sub-nav list-unstyled">
                        {% for link in tipoDePiel.links %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>

                  <div class="col-lg-3">
                    <div class="menu-drawer">
                      <p class="h3">{{ soluciones.title }}</p>
                      <ul class="sub-nav list-unstyled">
                        {% for link in soluciones.links %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>                  

                    <a href="/pages/marcas" class="a__all mt-30">ver marcas</a>
                    <span> / </span>
                    <a href="/collections/all" class="a__all mt-30">ver todos</a>
                  </div>

                  <div class="col-lg-4 br">
                    <div class="row">
                      <div class="col-md-8 mx-auto">
                        {% include 'producto-menu' %}
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </li>
        {% for link in top.links %}
        <li class="nav-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>

    <div class="header__nav--icons d-flex">
      <div class="header__cuenta d-none d-lg-block">
        {% include 'header-account' %}
      </div>
      <div class="header__icons--search d-none d-md-block">
        <a data-modal="search"><img src="{{ 'search.svg' | asset_url }}" alt="Search"></a>
      </div>
      {%- comment -%}<div class="header__icons--love d-none d-md-block">
        <a href="#swym-wishlist" class="swym-wishlist"><img src="{{ 'wishlist-header.svg' | asset_url }}" alt="Wishlist"></a>
      </div>{%- endcomment -%}
      <div class="header__icons--shop">
        <a href="/cart" class="cart-summary"><img src="{{ 'cart.svg' | asset_url }}" alt="Cart"><span class="cart-quantity">{{ cart.item_count }}</span></a>
      </div>
    </div>
  </div>

</div>
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Barra de anuncios"
      },
      {
        "type": "text",
        "id": "barra_anuncios",
        "label": "Texto promocional:",
        "default": "Escribe aquí la promoción o anuncio."
      },
      {
        "type": "url",
        "id": "link_barra_anuncios",
        "label": "Url o link de la promoción.",
        "info": "Opcional"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "product",
        "id": "producto_menu",
        "label": "Producto de menú",
        "info": "Selecciona el producto que estará en el menú"
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
