{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<header>
<div class="header">
  <div class="header__sitebanner d-none d-md-flex">
    <div class="header__currency d-flex align-items-center">
      <img src="{{ 'currency.svg' | asset_url }}" alt="Currency">
      <select name="price" id="">
        <option value="MXN">MXN</option>
      </select>
    </div>
    <div class="header__banner">
      <p>{{ section.settings.barra_anuncios }}</p>
    </div>
  
    <div class="header__cuenta">
      {% if shop.customer_accounts_enabled %}
        <p>
          {% if customer %}
              {% if customer.first_name != blank %}
                {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
              {% else %}
                <a href="/account">{{ 'layout.customer.account' | t }}</a>
              {% endif %}
              {{ 'layout.customer.log_out' | t | customer_logout_link }}
          {% else %}
              {{ 'layout.customer.log_in' | t | customer_login_link }}
              <span> / </span>
              {{ 'layout.customer.create_account' | t | customer_register_link }}
          {% endif %}
        </p>
      {% endif %} 
    </div>
  </div>

  <div class="header__nav d-flex justify-content-between">
    <nav class="d-flex align-items-baseline">

      <div class="mobile-btn d-lg-none">
        <div class="nav-btn"></div>
      </div>

      <div class="header__nav--logo">
        <a href="index.html"><img src="{{ 'momiji-logo-rgb.svg' | asset_url }}" alt="{{ shop.name }}" itemprop="logo"></a>
      </div>
      <ul class="header__nav--menu list-unstyled">
        <li class="nav-item nav-item--cat"><a>Skincare</a>
          <div class="header__nav--level-2">
              <div class="container">
                <div class="row">
                  <div class="offset-lg-1 col-lg-3">
                    <div class="menu-drawer">
                      <p class="h3">Rutina</p>
                      <ul class="sub-nav list-unstyled">
                        <li><a href="products.html">Limpiadores</a></li>
                        <li><a href="products.html">Exfoliadores</a></li>
                        <li><a href="products.html">Toners</a></li>
                        <li><a href="products.html">Esencias</a></li>
                        <li><a href="products.html">Tratamientos</a></li>
                        <li><a href="products.html">Mascarillas</a></li>
                        <li><a href="products.html">Crema para ojos</a></li>
                        <li><a href="products.html">Protector solar</a></li>
                      </ul>
                    </div>

                    <div class="menu-drawer">
                      <p class="h3">Destacado</p>
                      <ul class="sub-nav list-unstyled">
                        <li><a href="products.html">All fixes</a></li>
                        <li><a href="products.html">Prevent</a></li>
                        <li><a href="products.html">Treat</a></li>
                        <li><a href="products.html">Clean</a></li>
                      </ul>
                    </div>
                  </div>

                  <div class="col-lg-3">
                    <div class="menu-drawer">
                      <p class="h3">Tipo de piel</p>
                      <ul class="sub-nav list-unstyled">
                        <li><a href="products.html">All products</a></li>
                        <li><a href="products.html">Face</a></li>
                        <li><a href="products.html">Body</a></li>
                        <li><a href="products.html">Hair</a></li>
                      </ul>
                    </div>

                     <div class="menu-drawer">
                      <p class="h3">Soluciones</p>
                      <ul class="sub-nav list-unstyled">
                        <li><a href="products.html">All products</a></li>
                        <li><a href="products.html">Face</a></li>
                        <li><a href="products.html">Body</a></li>
                        <li><a href="products.html">Hair</a></li>
                      </ul>
                    </div>
                    <a href="/collections/all" class="a__all mt-30">ir a productos</a>
                  </div>

                  <div class="col-lg-4 br">
                    <div class="row">
                      <div class="col-md-8 mx-auto">
                          <a href="detalle-producto.html" class="product">
                          <div class="product__container">
                            <div class="product__container--main"><img src="{{ 'product--img.png' | asset_url }}" alt="Milk"></div>
                            <div class="product__container--hover"><img src="{{ 'product--img--hover.png' | asset_url }}" alt="Milk"></div> 
                          </div>
                          <div class="product__info">
                            <div class="product__info--brand">
                              <p>Benton</p>
                              <button class="btn__wishlist"></button>
                            </div>
                            <div class="product__info--name">
                              <p>Ginseng Berry Eye Mask</p>
                              <span>$60.00</span>
                            </div>
                          </div>
                          </a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item"><a>Maquillaje</a></li>
        <li class="nav-item"><a>Kits Momiji</a></li>
        <li class="nav-item"><a>Novedades</a></li>
        <li class="nav-item"><a>Oferta</a></li>
        <li class="nav-item"><a>Momiji shop</a></li>
      </ul>
    </nav>

    <div class="header__nav--icons d-flex">
      <div class="header__icons--search d-none d-md-block">
        <a data-modal="search"><img src="{{ 'search.svg' | asset_url }}" alt="Search"></a>
      </div>
      <div class="header__icons--love d-none d-md-block">
        <a href="mi-cuenta.html"><img src="{{ 'wishlist.svg' | asset_url }}" alt="Wishlist"></a>
      </div>
      <div class="header__icons--shop">
        <a href="/cart"><img src="{{ 'cart.svg' | asset_url }}" alt="Cart"><span class="cart-quantity">{{ cart.item_count }}</span></a>
      </div>
    </div>
  </div>

</div>



<!-- HEADER FIXED -->
<!-- HEADER FIXED -->
<!-- HEADER FIXED -->
<div class="header-fixed">

  <div class="header__nav d-flex justify-content-between">
    <nav class="d-flex align-items-baseline">

      <div class="mobile-btn d-lg-none">
        <div class="nav-btn"></div>
      </div>
      <div class="header__nav--logo">
        <a href="index.html"><img src="{{ 'momiji-logo-rgb.svg' | asset_url }}" alt="Momiji"></a>
      </div>
      <ul class="header__nav--menu list-unstyled">
        <li class="nav-item nav-item--cat"><a>Skincare</a>
          <div class="header__nav--level-2">
              <div class="container">
                <div class="row">
                  <div class="offset-lg-1 col-lg-3">
                    <div class="menu-drawer">
                      <p class="h3">Rutina</p>
                      <ul class="sub-nav list-unstyled">
                        <li><a href="products.html">Limpiadores</a></li>
                        <li><a href="products.html">Exfoliadores</a></li>
                        <li><a href="products.html">Toners</a></li>
                        <li><a href="products.html">Esencias</a></li>
                        <li><a href="products.html">Tratamientos</a></li>
                        <li><a href="products.html">Mascarillas</a></li>
                        <li><a href="products.html">Crema para ojos</a></li>
                        <li><a href="products.html">Protector solar</a></li>
                      </ul>
                    </div>

                    <div class="menu-drawer">
                      <p class="h3">Destacado</p>
                      <ul class="sub-nav list-unstyled">
                        <li><a href="products.html">All fixes</a></li>
                        <li><a href="products.html">Prevent</a></li>
                        <li><a href="products.html">Treat</a></li>
                        <li><a href="products.html">Clean</a></li>
                      </ul>
                    </div>
                  </div>

                  <div class="col-lg-3">
                    <div class="menu-drawer">
                      <p class="h3">Tipo de piel</p>
                      <ul class="sub-nav list-unstyled">
                        <li><a href="products.html">All products</a></li>
                        <li><a href="products.html">Face</a></li>
                        <li><a href="products.html">Body</a></li>
                        <li><a href="products.html">Hair</a></li>
                      </ul>
                    </div>

                     <div class="menu-drawer">
                      <p class="h3">Soluciones</p>
                      <ul class="sub-nav list-unstyled">
                        <li><a href="products.html">All products</a></li>
                        <li><a href="products.html">Face</a></li>
                        <li><a href="products.html">Body</a></li>
                        <li><a href="products.html">Hair</a></li>
                      </ul>
                    </div>
                    <a href="products.html" class="a__link mt-30">ir a productos</a>
                  </div>

                  <div class="col-lg-4 br">
                    <div class="row">
                      <div class="col-md-8 mx-auto">
                          <a href="detalle-producto.html" class="product">
                          <div class="product__container">
                            <div class="product__container--main"><img src="img/product--img.png" alt="Milk"></div>
                            <div class="product__container--hover"><img src="img/product--img--hover.png" alt="Milk"></div> 
                          </div>
                          <div class="product__info">
                            <div class="product__info--brand">
                              <p>Benton</p>
                              <button class="btn__wishlist"></button>
                            </div>
                            <div class="product__info--name">
                              <p>Ginseng Berry Eye Mask</p>
                              <span>$60.00</span>
                            </div>
                          </div>
                          </a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item"><a>Maquillaje</a></li>
        <li class="nav-item"><a>Kits Momiji</a></li>
        <li class="nav-item"><a>Novedades</a></li>
        <li class="nav-item"><a>Oferta</a></li>
        <li class="nav-item"><a>Momiji shop</a></li>
      </ul>
    </nav>

    <div class="header__nav--icons d-flex">
      <div class="header__cuenta d-none d-lg-block">
      {% if shop.customer_accounts_enabled %}
        <p>
          {% if customer %}
              {% if customer.first_name != blank %}
                {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
              {% else %}
                <a href="/account">{{ 'layout.customer.account' | t }}</a>
              {% endif %}
              {{ 'layout.customer.log_out' | t | customer_logout_link }}
          {% else %}
              {{ 'layout.customer.log_in' | t | customer_login_link }}
              <span> / </span>
              {{ 'layout.customer.create_account' | t | customer_register_link }}
          {% endif %}
        </p>
      {% endif %}
      </div>
      <div class="header__icons--search d-none d-md-block">
        <a data-modal="search"><img src="{{ 'search.svg' | asset_url }}" alt="Search"></a>
      </div>
      <div class="header__icons--love d-none d-md-block">
        <a><img src="{{ 'wishlist.svg' | asset_url }}" alt="Wishlist"></a>
      </div>
      <div class="header__icons--shop">
        <a href="/cart"><img src="{{ 'cart.svg' | asset_url }}" alt="Cart"><span class="cart-quantity">{{ cart.item_count }}</span></a>
      </div>
    </div>
  </div>

</div>
</header>
{%- comment -%}
<section data-section-id="{{ section.id }}" data-section-type="header">
  {%- if section.settings.announcement_bar_enabled -%}
    <div>
      {%- if section.settings.announcement_bar_home_page_only == false or template.name == 'index' -%}
        {%- if section.settings.announcement_bar_link != blank -%}
          <a href="{{ section.settings.announcement_bar_link }}">
            {{ section.settings.announcement_bar_text | escape }}
          </a>
        {%- else -%}
          <p>{{ section.settings.announcement_bar_text | escape }}</p>
        {%- endif -%}
      {%- endif -%}
    </div>
  {%- endif -%}

  <header role="banner">
    {% if template.name == 'index' %}
      <h1>
    {% else %}
      <div class="h1">
    {% endif %}
        <a href="/" class="logo-image">
          {% if section.settings.logo != blank %}
            {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
            <img src="{{ section.settings.logo | img_url: image_size }}"
                srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                alt="{{ section.settings.logo.alt | default: shop.name }}">
          {% else %}
            {{ shop.name }}
          {% endif %}
        </a>
    {% if template.name == 'index' %}
      </h1>
    {% else %}
      </div>
    {% endif %}

    <a href="/cart">
      {% include 'icon-cart' %}
      {{ 'layout.cart.title' | t }}
      ({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }})
    </a>

    {% if shop.customer_accounts_enabled %}
      <ul>
        {% if customer %}
          <li>
            {% if customer.first_name != blank %}
              {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
              {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
            {% else %}
              <a href="/account">{{ 'layout.customer.account' | t }}</a>
            {% endif %}
          </li>
          <li>
            {{ 'layout.customer.log_out' | t | customer_logout_link }}
          </li>
        {% else %}
          <li>
            {{ 'layout.customer.log_in' | t | customer_login_link }}
          </li>
          <li>
            {{ 'layout.customer.create_account' | t | customer_register_link }}
          </li>
        {% endif %}
      </ul>
    {% endif %}

    <form action="/search" method="get" role="search">
      <label for="Search-{{ section.id }}" class="label-hidden">
        {{ 'general.search.placeholder' | t }}
      </label>

      <input type="search"
        name="q"
        id="Search-{{ section.id }}"
        value="{{ search.terms | escape }}"
        placeholder="{{ 'general.search.placeholder' | t }}">

      <button type="submit" class="button">
        {% include 'icon-search' %}
        <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
      </button>
    </form>
  </header>

  <nav role="navigation">
    <ul>
      {% for link in linklists[section.settings.menu].links %}
        {% if link.links != blank %}
          <li>
            <a href="{{ link.url }}">
              {{ link.title }}
              {% include 'icon-arrow-down' %}
            </a>
            <ul>
              {% for childlink in link.links %}
                <li>
                  <a href="{{ childlink.url }}">
                    {{ childlink.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li>
            <a href="{{ link.url }}">
              {{ link.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</section>

{%- endcomment -%}

{%- comment -%}
{% if section.settings.logo != blank %}
  <style>
    .logo-image {
      display: block;
      max-width: {{ section.settings.logo_max_width }}px;
    }
  </style>
{% endif %}
{%- endcomment -%}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Barra de anuncios"
      },
      {
        "type": "text",
        "id": "barra_anuncios",
        "label": "Barra de anuncios y promos",
        "default": "Escribe aquí la promoción o anuncio."
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
