<div class="hero-image__marco marco--bg-color">
  <div class="hero-image__wrapper">
    <div class="hero-image__logo-countdown">
      <img class="sundae-logo" src="{{ 'sundae-momiji-yellow.svg' | asset_url }}" alt="Sundae by Momiji">
      <p class="page-sundae before">{{ section.settings.countdown_code }}</p>
      <p class="page-sundae after" style="display:none">refresh now</p>
    </div>
    <picture>
      {%- comment -%}MOBILE{%- endcomment -%}
      <source 
        srcset="{{ section.settings.hero-mobile-image-1x | img_url: '883x' }},
                {{ section.settings.hero-mobile-image-2x | img_url: '1766x' }} 2x,
                {{ section.settings.hero-mobile-image-3x | img_url: '2648x' }} 3x,
                {{ section.settings.hero-mobile-image-4x | img_url: '3530x' }} 4x
                "
        media="(max-width: 991.98px)">
      {%- comment -%}DESKTOP{%- endcomment -%}
      <source
        srcset="{{ section.settings.hero-desktop-image-1x | img_url: '1832x' }},
                {{ section.settings.hero-desktop-image-2x | img_url: '3664x' }} 2x,
                {{ section.settings.hero-desktop-image-3x-4x | img_url: '4470x' }} 3x,
                {{ section.settings.hero-desktop-image-3x-4x | img_url: '4470x' }} 4x
                "
        media="(max-width: 4470px)">
      <!-- DESKTOP-->
      <img src="{{ section.settings.hero-desktop-image-3x | img_url: '2048x' }}" alt="logo">
    </picture>
  </div>
</div>

<style>
.marco--bg-color {
  background-color: {{ section.settings.marco-color }};
}
.hero-image__logo-countdown {
  position:absolute;
  width:90vw;
  padding:5% 0 0 5%;
}
.sundae-logo {
  width:40%;
  padding-bottom:20px;
}
.page-sundae {
  font-family: 'gt_flexa_betaregular';
  color: #F5E1A4;
  font-size:5.6em;
  line-height: 1em;
}
@media (max-width:991.98px) {
	.hero-image__logo-countdown {
    padding:5% 5% 0 5%;
	}
  .sundae-logo {
    width:100%;
    padding-bottom:20px;
  }
  .page-sundae{
    font-size:4.5em;
  }
}
</style>

{% if section.settings.countdown %}
  <script>
  const second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;

  let countDown = new Date('{{ section.settings.countdown_txt }}').getTime(),
      x = setInterval(function() {    

        let now = new Date().getTime(),
            distance = countDown - now;

          document.querySelector('.days').innerText = Math.floor(distance / (day)),
          document.querySelector('.hours').innerText = Math.floor((distance % (day)) / (hour)),
          document.querySelector('.minutes').innerText = Math.floor((distance % (hour)) / (minute)),
          document.querySelector('.seconds').innerText = Math.floor((distance % (minute)) / second);

        if (distance < 1) {
          clearInterval(x);
            function replaceCopy() {
            const before = document.querySelector('.before');
            before.remove();
            const after = document.querySelector('.after').style.display="inherit";
            }
            replaceCopy();
          }
        }, second);
  </script>
{% endif %}

{% schema %}
  {
    "name": "Hero Image w/Countdown",
    "settings": [
      {
        "type": "header",
        "content": "Countdown"
      },
      {
        "id": "countdown",
        "type": "checkbox",
        "label": "Habilitar countdown",
        "info": "Usar en countdown code: <span class=\"days\"></span> : <span class=\"hours\"></span> : <span class=\"minutes\"></span> : <span class=\"seconds\"></span>"
      },
      {
        "type": "text",
        "id": "countdown_txt",
        "label": "Fecha y hora",
        "placeholder": "May 18, 2020 08:00:00",
        "info": "El formato es en inglés: Sep 14, 2021 14:09:00"
      },
      {
        "type": "html",
        "id": "countdown_code",
        "label": "Countdown Code",
        "placeholder": "Aqui va el codigo de countdown.",
        "default": "Aqui va el codigo de countdown."
      },
      {
        "type": "header",
        "content": "Imágenes para desktop"
      },
      {
        "type": "image_picker",
        "id": "hero-desktop-image-1x",
        "label": "Imagen desktop 1x",
        "info": "1832 x 732 px"
      },
      {
        "type": "image_picker",
        "id": "hero-desktop-image-2x",
        "label": "Imagen desktop 2x",
        "info": "3664 x 1463 px"
      },
      {
        "type": "image_picker",
        "id": "hero-desktop-image-3x-4x",
        "label": "Imagen desktop 3x y 4x",
        "info": "4470 x 1785 px"
      },
      {
        "type": "header",
        "content": "Imágenes para móviles"
      },
      {
        "type": "image_picker",
        "id": "hero-mobile-image-1x",
        "label": "Imagen móviles 1x",
        "info": "883 x 1117 px"
      },
      {
        "type": "image_picker",
        "id": "hero-mobile-image-2x",
        "label": "Imagen móviles 2x",
        "info": "1766 x 2236 px"
      },
      {
        "type": "image_picker",
        "id": "hero-mobile-image-3x",
        "label": "Imagen móviles 3x",
        "info": "2648 x 3352 px"
      },
      {
        "type": "image_picker",
        "id": "hero-mobile-image-4x",
        "label": "Imagen móviles 4x",
        "info": "3530 x 4469 px"
      },      
      {
        "type": "color",
        "id": "marco-color",
        "label": "Section color",
        "default": "#ffffff"
      }
    ],
    "presets": [
      {
        "name": "Hero Image w/Countdown",
        "category": "Contenido"
      }
    ]
  }
{% endschema %}
