<div class="marco">
    <a class="design-wrapper">
      <img class=""
              src="{{ section.settings.hero-banner-image | img_url: '2048x' }}"
              data-src="{{ img_url }}"
              data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
              data-sizes="auto"
              alt="{{ page.title | escape }}">
    </a>
</div>

{% comment %} #featured-product {
    background-image: url({{ section.settings.background_image | img_url: '2107x' }});
}
@media (max-width: 991.98px) {
  #featured-product {
      background-image: url({{ section.settings.background_image_992 | img_url: '992x' }});
  }
}
@media (max-width: 558px) {
  #featured-product {
      background-image: url({{ section.settings.background_image_558 | img_url: '1080x' }});
  }
} {% endcomment %}


<style>
.marco {
  height: 100%;
  background-color: {{ section.settings.marco-color }};
  display: grid;
  padding: 120px 2% 5% 2%;
  align-items: center;
  justify-items: center;
}
.design-wrapper img {
  max-width: 90vw;
  height: auto;
  object-fit: contain;
}

</style>

{% schema %}
  {
    "name": "Plain Hero",
    "settings": [
      {
        "type": "image_picker",
        "id": "hero-banner-image",
        "label": "Background image full",
        "info": "2048 pixeles"
      },
      {
        "type": "color",
        "id": "marco-color",
        "label": "Section color",
        "default": "#ffffff"
      },
      {
        "type": "url",
        "id": "hero-banner-url",
        "label": "URL destino"
      }
    ],
    "presets": [
      {
        "name": "Hero Image",
        "category": "Contenido"
      }
    ]
  }
{% endschema %}
