<section class="hero" data-section-type="hero">
  <div class="hero__slider slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% comment %} Slides {% endcomment %}
    
            {% for block in section.blocks %}
  
              {% if block.settings.slider_type == "1" %}
                <div class="swiper-slide slide-col-2 {{ block.settings.slider_color }}" {{ block.shopify_attributes }}>
                  {% comment %} first image is for mobile {% endcomment %}
                  <figure class="col-12 col-lg-6">
                    <img srcset="{{ block.settings.image-mobile | img_url: '830x', format: 'pjpg' }} 500w, 
                          {{ block.settings.image-full | img_url: '1900x', format: 'pjpg' }}"
                      src="{{ block.settings.image-full | img_url: '1900x', format: 'pjpg' }}" alt="Imagen promocional"/>
                  </figure>

                  {% if block.settings.texto_banner %}
                    <div class="col-12 col-md-10 col-lg-5 mx-auto">
                      <h2 class="text-link">{{ block.settings.headline }}</h2>
                      <h1 class="{{ block.settings.h1Size }}">{{ block.settings.titulo }}</h1>
                      <p class="{{ block.settings.pSize }}">{{ block.settings.subtitulo }}</p>
                      <a href="{{ block.settings.link_boton }}" class="btn__main">{{ block.settings.texto_boton }}</a>
                    </div> 
                  {% endif %}
                    
                </div>
              {% endif %}
              
              {% if block.settings.slider_type == "2" %}
                <div class="swiper-slide slide-box" {{ block.shopify_attributes }}>
                  {% comment %} first image is for mobile {% endcomment %}
                
                  <img srcset="{{ block.settings.image-mobile | img_url: '830x', format: 'pjpg' }} 500w, 
                          {{ block.settings.image-full | img_url: '1900x', format: 'pjpg' }}"
                      src="{{ block.settings.image-full | img_url: '1900x', format: 'pjpg' }}" alt="Imagen promocional"/>
                  
                  {% if block.settings.texto_banner %}
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-12 {{ block.settings.slider_color }} col-md-6 col-lg-5 ml-auto">
                          <h2 class="text-link">{{ block.settings.headline }}</h2>
                          <h1 class="h2">{{ block.settings.titulo }}</h1>
                          <p class="{{ block.settings.pSize }}">{{ block.settings.subtitulo }}</p>
                          <a href="{{ block.settings.link_boton }}" class="btn__main">{{ block.settings.texto_boton }}</a>
                        </div> 
                      </div>
                    </div>
                  {% endif %}
                </div>
              {% endif %} 
              
              {% if block.settings.slider_type == "3" %}
                <div class="swiper-slide {{ block.settings.slider_color }} text-center slide-images-2" {{ block.shopify_attributes }}>
                  {% comment %} first image is for mobile {% endcomment %}
                  
                  <figure class="col-12">
                    <img srcset="{{ block.settings.image-mobile | img_url: '830x', format: 'pjpg' }} 500w, 
                          {{ block.settings.image-full | img_url: '1900x', format: 'pjpg' }}"
                      src="{{ block.settings.image-full | img_url: '1900x', format: 'pjpg' }}" alt="Imagen promocional"/>
                  </figure>


                  <div class="col-12 col-md-6 col-lg-4 mx-auto">
                    
                    {% if block.settings.texto_banner %}
                      <h3>{{ block.settings.titulo }}</h3>
                      <a href="{{ block.settings.link_boton }}" class="btn__main">{{ block.settings.texto_boton }}</a>
                    {% endif %}
                  </div> 
                    
                </div>
              {% endif %}
              
              {% if block.settings.slider_type == "4" %}
                <div class="swiper-slide slide-col-images text-center" {{ block.shopify_attributes }}>
                  {% comment %} first image is for mobile {% endcomment %}
                  
                  <figure class="col-12">
                    <img srcset="{{ block.settings.image-mobile | img_url: '830x', format: 'pjpg' }} 500w, 
                          {{ block.settings.image-full | img_url: '1900x', format: 'pjpg' }}"
                      src="{{ block.settings.image-full | img_url: '1900x', format: 'pjpg' }}" alt="Imagen promocional"/>
                  </figure>

                  {% if block.settings.texto_banner %}
                    <div class="col-sm-12 col-md-6 col-lg-5 col-xl-5 mx-auto slide-absolute">
                      <h2>{{ block.settings.titulo }}
                      </h2>
                      <a href="{{ block.settings.link_boton }}" class="btn__main">{{ block.settings.texto_boton }}</a>
                    </div> 
                  {% endif %}
                </div>
              {% endif %}
              
              {% if block.settings.slider_type == "5" %}
                <div class="swiper-slide slide-col-1 text-lg-center {{ block.settings.slider_color }}" {{ block.shopify_attributes }}>
                  {% comment %} first image is for mobile {% endcomment %}
                  
                  <figure class="col-12">
                    <img srcset="{{ block.settings.image-mobile | img_url: '830x', format: 'pjpg' }} 500w, 
                          {{ block.settings.image-full | img_url: '1900x', format: 'pjpg' }}"
                      src="{{ block.settings.image-full | img_url: '1900x', format: 'pjpg' }}" alt="Imagen promocional"/>
                  </figure>
                  
                  {% if block.settings.texto_banner %}
                    <div class="col-sm-12 {{ block.settings.slider_color }}">
                      <h3><span class="h6">{{ block.settings.titulo }}</span>{{ block.settings.subtitulo }}</h3>
                      <a href="{{ block.settings.link_boton }}" class="text-link">{{ block.settings.texto_boton }} <svg width="11" height="8" xmlns="http://www.w3.org/2000/svg"><g stroke="#262626" fill="none" fill-rule="evenodd"><path d="M.4 4.2h10.4M7.2 1l3.467 3.2h0L7.2 7.4"/></g></svg></a>
                    </div> 
                  {% endif %}
                </div>
              {% endif %}

            {% endfor %}

            
        </div>
        <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Slideshow hero",
  "max_blocks": 5,
  "class": "hero",
  "settings": [
    {
      "id": "duracion",
      "type": "range",
      "min": 2,
      "max": 10,
      "step": 1,
      "unit": "seg",
      "label": "Duración entre slides",
      "default": 3
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Promo banner",
      "settings": [
        {
          "type": "radio",
          "id": "slider_type",
          "options": [
            { "value": "1", "label": "1"},
            { "value": "2", "label": "2"},
            { "value": "3", "label": "3"},
            { "value": "4", "label": "4"},
            { "value": "5", "label": "5"}
            ],
          "default":   "1",
          "label": "Tipo de Slider"
        },
        {
          "type": "radio",
          "id": "slider_color",
          "options": [
            { "value": "slide-gray", "label": "Gris"},
            { "value": "slide-lilac", "label": "Lila"},
            { "value": "slide-orange", "label": "Anaranjado"}
            ],
          "default":   "slide-gray",
          "label": "Color de Slider"
        },
        {
          "type": "image_picker",
          "id": "image-full",
          "label": "Background desktop"
        },
        {
          "type": "image_picker",
          "id": "image-mobile",
          "label": "Background móviles",
          "info": "REQUERIDO"
        },
        {
          "type": "checkbox",
          "id": "texto_banner",
          "label": "Texto y botón de banner.",
          "default": true,
          "info": "Muestra texto y botón de banner."
        },
        {
          "type": "text",
          "id": "headline",
          "label": "Headline",
          "default": "By Momiji"
        },
        {
          "type": "text",
          "id": "titulo",
          "label": "Título",
          "default": "Aquí ingresa el título de la slide."
        },
        {
          "type": "radio",
          "id": "h1Size",
          "options": [
            { "value": "normal", "label": "normal" },
            { "value": "smaller", "label": "chico" },
            { "value": "bigger", "label": "grande" }
          ],
          "default": "normal",
          "label": "Tamaño Titulo"
        },
        {
          "type": "textarea",
          "id": "subtitulo",
          "label": "Subtítulo",
          "default": "Este es el espacio para poner el subtítulo de la slide."
        },
        {
          "type": "radio",
          "id": "pSize",
          "options": [
            { "value": "normal", "label": "normal" },
            { "value": "big", "label": "grande" },
            { "value": "bigger", "label": "mas grande" }
          ],
          "default": "normal",
          "label": "Tamaño Subtitulo"
        },
        {
          "type": "text",
          "id": "texto_boton",
          "label": "Texto del botón",
          "default": "Texto del Botón"
        },
        {
          "type": "url",
          "id": "link_boton",
          "label": "Link del botón"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero promo banner",
      "category": "Image",
      "settings": {
        "duracion": 3
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}