{% include 'benefits-logic' %}
{% include 'pasoderutina-logic' %}

<section class="section-product-info main__product--info bg-purple pt-100">
    <div class="container-fluid">
        <div class="row justify-content-center flex-lg-row-reverse">
            <div class="col-12 col-md-10 col-lg-6 pb-30 pb-lg-0">
                <div class="sticky-column">
                    <div class="sticker-sundae d-none d-lg-block">
                      <figure>
                        <img src="{{ "sundae-gloss.png" | asset_img_url: 'master' }}" alt="">
                      </figure>
                    </div>
                    <div class="swiper-info swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <figure class="img-wrap absolute-caption">
                                    <img src="{{ "details-slider-01.png" | asset_img_url: 'master' }}" alt="" class="w-100">
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure class="img-wrap absolute-caption">
                                    <img src="{{ "details-slider-02.png" | asset_img_url: 'master' }}" alt="" class="w-100">
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure class="img-wrap absolute-caption">
                                    <img src="{{ "details-slider-01.png" | asset_img_url: 'master' }}" alt="" class="w-100">
                                </figure>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-10 col-lg-6">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-11">
                        <div class="pb-20 text-down-sm-center">
                            <div class="text-link">
                                sobre el producto
                            </div>
                            <div class="product__title">
                                <h2>Los detalles.</h2>
                            </div>
                        </div>

                        <!-- SECTION: QUE HACE -->
                        {% if infoAdicional %}
                            <section class="pb-100">
                                <!-- ADITIONAL INFO  -->
                                <div class="by-black pt-05 pb-10 mb-30">
                                    <a class="accordion h3 active">Más info</a>
                                </div>
                                <div class="">
                                    {% if product.metafields.infoadicional.texto != blank %}
                                        <p>{{ product.metafields['infoadicional']['texto'] }}</p>
                                    {% else %}
                                        <p>{{ product.metafields['beneficios']['texto'] }}</p>
                                    {% endif %}
                                </div>
                            </section>
                            <!-- END: ADITIONAL INFO  -->
                        {% else %}
                            <section class="pb-100">
                                <!-- BENEFITS SECTION -->
                                <div class="by-black pt-05 pb-10 mb-25">
                                    <div class="h3">Qué hace por ti.</div>
                                </div>
                                <div class="">
                                    {% if hidrata %}
                                        <div class="benefits--icon">
                                            <p class="icon">♤</p>
                                            <b>Hidrata</b>
                                        </div>
                                    {% endif %}
                                    {% if spf %}
                                        <div class="benefits--icon">
                                            <p class="icon">☼</p>
                                            <b>SPF</b>
                                        </div>
                                    {% endif %}
                                    {% if ilumina %}
                                        <div class="benefits--icon">
                                            <p class="icon">★</p>
                                            <b>Ilumina</b>
                                        </div>
                                    {% endif %}
                                    {% if repara %}
                                        <div class="benefits--icon">
                                            <p class="icon">▢</p>
                                            <b>Repara</b>
                                        </div>
                                    {% endif %}
                                    {% if limpia %}
                                        <div class="benefits--icon">
                                            <p class="icon">✧</p>
                                            <b>Limpia</b>
                                        </div>
                                    {% endif %}
                                    {% if calma %}
                                        <div class="benefits--icon">
                                            <p class="icon">♥</p>
                                            <b>Calma</b>
                                        </div>
                                    {% endif %}
                                    {% if tonifica %}
                                        <div class="benefits--icon">
                                            <p class="icon">☯</p>
                                            <b>Tonifica</b>
                                        </div>
                                    {% endif %}
                                    {% if empareja %}
                                        <div class="benefits--icon">
                                            <p class="icon">▥</p>
                                            <b>Empareja Tono</b>
                                        </div>
                                    {% endif %}
                                    {% if anti-age %}
                                        <div class="benefits--icon">
                                            <p class="icon">ᛟ</p>
                                            <b>Anti-age</b>
                                        </div>
                                    {% endif %}
                                    {% if exfolia %}
                                        <div class="benefits--icon">
                                            <p class="icon">✦</p>
                                            <b>Exfolia</b>
                                        </div>
                                    {% endif %}
                                    <p>{{ product.metafields['beneficios']['texto'] }}</p>
                                </div>
                                <!-- END: BENEFITS SECTION -->
                            </section>
                        {% endif %}
                        <!-- END: SECTION: QUE HACE -->
                                    
                        <!-- SECTION: CON TODO LO BUENO -->
                        <section class="pb-100">
                            <div class="by-black pt-05 pb-10 mb-25">
                                <div class="h3">Con todo lo bueno.</div>
                            </div>
                            <div>
                                <ul class="list-unstyled list-icon">
                                    <li>
                                        {% include 'icon-benefit-alcohol' %}
                                    </li>
                                    <li>
                                        {% include 'icon-benefit-aceite' %}
                                    </li>
                                    <li>
                                        {% include 'icon-benefit-formol' %}
                                    </li>
                                    <li>
                                        {% include 'icon-benefit-crueldad' %}
                                    </li>
                                    <li>
                                        {% include 'icon-benefit-parabenos' %}
                                    </li>
                                    <li>
                                        {% include 'icon-benefit-sulfatos' %}
                                    </li>
                                    <li>
                                        {% include 'icon-benefit-gluten' %}
                                    </li>
                                    <li>
                                        {% include 'icon-benefit-fragancia' %}
                                    </li>
                                </ul>
                            </div>
                        </section>
                        <!-- END: SECTION: CON TODO LO BUENO -->
                                    
                        <!-- SECTION: QUE CONTIENE -->
                        <section class="pb-100">
                            <div class="by-black pt-05 pb-10 mb-25">
                                <div class="h3">¿Qué contiene?</div>
                            </div>
                            <div>
                                <ul class="list-unstyled list-star body-sans-b">
                                    <li>
                                        <p>
                                            <b>Gloss-Lock Technology A</b>
                                            mixture of emollients that bind to your lips, so the shine stays put.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <b>Conditioning Jojoba oil</b>
                                            Helps the gloss smooth on and spread out evenly—no goopy feeling!
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <b>Vitamin E Acetate Leaves</b>
                                            Lips feeling moisturized and cushiony soft.
                                        </p>
                                    </li>
                                </ul>
                                <!-- MODAL POP UP LINK -->
                                <div class="pt-20">
                                    <a aria-controls="info-modal" aria-expanded="false" data-target="#info-modal" data-toggle="show" href="#" role="button">
                                        <div class="c-red text-link">
                                            Lista completa de ingredientes
                                            {% include 'icon-plus-circle' %}
                                        </div>
                                    </a>
                                </div>
                                <!-- END: MODAL POP UP LINK -->
                            </div>
                        </section>
                        <!-- END: SECTION:  QUE CONTIENE -->
                                    
                        <!-- SECTION: COMO UTILIZAR -->
                        <section class="pb-100">
                            <div class="by-black pt-05 pb-10 mb-25">
                                <div class="h3">Cómo utilizar.</div>
                            </div>
                            <div>
                                <!-- VIDEO -->
                                <div class="pb-25">
                                    <figure class="video-wrap">
                                        <video class="video-js vjs-theme-sea w-100 vjs-4-3" preload="auto" controls poster="{{ "video-image-01.png" | asset_img_url: 'master' }}" data-setup="{}">
                                            <source src="https://player.vimeo.com/external/431681304.hd.mp4?s=6b80e49f71fc0c9511356e2ef54390651f203c16&profile_id=174" type="video/mp4"/>
                                        </video>
                                    </figure>
                                </div>
                                <!-- END: VIDEO -->
                                <ol class="list-unstyled list-numbers body-sans-b">
                                    <li>
                                        <p>Asegúrate de humectar primero y luego preparar la piel con la base iluminadora
                                            <b>Always an Optimist.</b>
                                        </p>
                                    </li>
                                    <li>
                                        <p>Agítalo para asegurarte de que los pigmentos se dispersen uniformemente.</p>
                                    </li>
                                    <li>
                                        <p>Usa el práctico aplicador de pie de ciervo para colocar la base en sus mejillas, frente y barbilla. Difumina con los dedos.</p>
                                    </li>
                                </ol>
                            </div>
                        </section>
                        <!-- END: SECTION:  COMO UTILIZAR -->  
                                    
                        <!-- SECTION: COMO UTILIZAR -->
                        <section class="pb-100">
                            <div class="by-black pt-05 pb-10 mb-25">
                                <div class="h3">Tips.</div>
                            </div>
                            <div>
                                <!-- VIDEO -->
                                <div class="pb-25">
                                    <figure class="video-wrap">
                                        <video class="video-js vjs-theme-sea w-100 vjs-4-3" preload="auto" controls poster="{{ "video-image-02.png" | asset_img_url: 'master' }}" data-setup="{}">
                                            <source src="https://player.vimeo.com/external/431681315.hd.mp4?s=fa1ff4ba7c6d69ee799b18eb49fcebd5f15a482f&profile_id=174" type="video/mp4"/>
                                        </video>
                                    </figure>
                                </div>
                                <!-- END: VIDEO -->
                                <div>
                                    <p>Formulado con arcilla francesa rica en minerales, limpiadores suaves y las partículas más finas de semillas naturales de grosella negra, Tripler es el producto 3 en 1 más resistente de su mercado. Lo suficientemente suave y nutritivo para el uso diario, pero también la elección perfecta para una "isla desierta".</p>
                                </div>
                            </div>
                        </section>
                        <!-- END: SECTION:  COMO UTILIZAR -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- INFO MODAL -->
<div class="full-modal pt-up-lg-100 info-modal" id="info-modal">
    <div class="d-flex flex-column content-wrap position-relative h-down-md-100">
        <div class="container container-md-fluid px-md-0 h-down-md-100">
            <div class="row justify-content-center h-down-md-100">
                <div class="col-12 col-md-10 col-lg-8 py-40 h-down-md-100 bg-red z-1">
                  <!-- MODAL CONTROLS -->
                    <div class="controls controls-absolute">
                      <div class="text-right">
                          <a aria-controls="info-modal" aria-expanded="false" data-target="#info-modal" data-toggle="show" href="#" role="button">
                              {% include 'icon-modal-close' %}
                          </a>
                      </div>
                  </div>
                  <!-- END: MODAL CONTROLS -->
                  <div class="px-30 mobile-scroll">
                    <div class="row">
                        <div class="col-12 pb-130">
                            <h1>
                                Ingredientes
                            </h1>
                        </div>
                        <div class="col-12 col-lg-6">
                          <p>
                            Clear: Hydrogenated Polyisobutene, Octyldodecanol, Polybutene, Simmondsia Chinensis (Jojoba) Seed Oil, Phenoxyethanol, Tocopheryl Acetate, Flavor/Aroma, Red 7 Lake (CI 15850), Red 6 (CI 15850).
                          </p>
                          <br>
                          <br>
                          <p>
                            Red: Hydrogenated Polyisobutene, Polybutene, Octyldodecanol, Simmondsia Chinensis (Jojoba) Seed Oil, Trihydroxystearin, Tocopheryl Acetate, Octyldodecanol, Caprylyl Glycol, 1,2-Hexanediol, Red 7 Lake (CI 15850), Red 6 (CI 15850), Red 21 Lake (CI 45380).
                          </p>
                          <br>
                          <br>
                          <p>
                            Holographic: Hydrogenated Polyisobutene, Polybutene, Octyldodecanol, Simmondsia Chinensis (Jojoba) Seed Oil, Trihydroxystearin, Synthetic Fluorphlogopite, Tocopheryl Acetate, Silica, Caprylyl Glycol, 1,2-Hexanediol, Tin Oxide, Titanium Dioxide (CI 77891).
                          </p>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BACKGROUND OPACITY MODAL -->
    <a aria-controls="info-modal" aria-expanded="false" class="background-modal z-0" data-target="#info-modal" data-toggle="show" href="#" role="button"></a>
    <!-- END: BACKGROUND OPACITY MODAL -->
</div>
<!-- END: INFO MODAL -->

{% schema %}

{}

{% endschema %}

<!-- VIDEO JS -->
<script src="https://vjs.zencdn.net/7.8.4/video.js"></script>
<!-- END: VIDEO JS -->

<script>
    $(function () {
        var swiper = new Swiper(".swiper-info", {
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                renderBullet: function (index, className) {
                    return "<span class=\"" + className + "\">" + (
                        index + 1
                    ) + "</span>";
                }
            }
        });
    })
</script>