{% include 'benefits-logic' %}
{% include 'pasoderutina-logic' %}

<section class="main__product--info bg-purple section__spacers">
    <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class=" product__title">
          <h2>Info de producto.</h2>
        </div>

        <div class="accordions__container mt-30">

        {% if sinpasoderutina %}
          {%- comment -%}Si el producto no tiene paso de rutina, no tiene beneficios{%- endcomment -%}
        {% else %}
          <a class="accordion h3 active">Beneficios</a>
          <div class="panel active" style="max-height: 100%">
            {% if hidrata %}
              <div class="benefits--icon"><p class="icon">♤</p><b>Hidrata</b></div>
            {% endif %}
            {% if spf %}
              <div class="benefits--icon"><p class="icon">☼</p><b>SPF</b></div>
            {% endif %}
            {% if ilumina %}
              <div class="benefits--icon"><p class="icon">★</p><b>Ilumina</b></div>
            {% endif %}
            {% if repara %}
              <div class="benefits--icon"><p class="icon">▢</p><b>Repara</b></div>
            {% endif %}
            {% if limpia %}
              <div class="benefits--icon"><p class="icon">✧</p><b>Limpia</b></div>
            {% endif %}
            {% if calma %}
              <div class="benefits--icon"><p class="icon">♥</p><b>Calma</b></div>
            {% endif %}
            {% if tonifica %}
              <div class="benefits--icon"><p class="icon">☯</p><b>Tonifica</b></div>
            {% endif %}
            {% if empareja %}
              <div class="benefits--icon"><p class="icon">▥</p><b>Empareja Tono</b></div>
            {% endif %}
            {% if anti-age %}
              <div class="benefits--icon"><p class="icon">ᛟ</p><b>Anti-age</b></div>
            {% endif %}
            {% if exfolia %}
              <div class="benefits--icon"><p class="icon">✦</p><b>Exfolia</b></div>
            {% endif %}
            <p>{{ product.metafields['beneficios']['texto'] }}</p>
          </div>
        {% endif %}


        {% if sinpasoderutina %}
          {%- comment -%}No es parte de la rutina.{%- endcomment -%}
        {% else %}
          <a class="accordion h3">¿Qué paso de mi rutina es este?</a>
          <div class="panel panel--step">
            {% include 'pasoderutina' %}
          </div>   
        {% endif %} 


        {% if product.metafields.producto.momijiapproved == blank %}
        {% elsif product.metafields.producto.momijiapproved != blank %}
          <a class="accordion h3">#MomijiApproved</a>
          <div class="panel">
            <p>{{ product.metafields['producto']['momijiapproved'] }}</p>
          </div>
        {% endif %}

        {% if product.metafields.producto.instrucciones == blank %}
        {% elsif product.metafields.producto.instrucciones != blank %}
          <a class="accordion h3">Instrucciones de uso</a>
          <div class="panel">
            <p>{{ product.metafields['producto']['instrucciones'] }}</p>
          </div>
        {% endif %}

        {% if product.metafields.producto.ingredientes == blank %}
        {% elsif product.metafields.producto.ingredientes != blank %}
          <a class="accordion h3">Lista de ingredientes</a>
          <div class="panel">
            <p>{{ product.metafields['producto']['ingredientes'] }}</p>
          </div>
        {% endif %}

        </div>

        <a href="/pages/preguntas-frecuentes" class="link--orange">Visita nuestra sección de FAQ</a>
      </div>
      <div class="col-md-6 sticker4">
        {% comment %} SERÁ IMAGEN O VIDEO {% endcomment %}
        {% if product.metafields.producto.video == blank %}
          <div class="img-container">
            <img src="{{ product.images.last | img_url: '540x' }}" alt="{{ product.title | escape }}">
          </div>
        {% elsif product.metafields.producto.video != blank %}
          {%- comment -%}<iframe frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="{{ product.title | escape }}" width="100%" height="100%" src="{{ product.metafields['producto']['video'] }}?autoplay=1&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;iv_load_policy=3&amp;cc_load_policy=0&amp;cc_lang_pref=en&amp;wmode=transparent&amp;modestbranding=1&amp;disablekb=1&amp;origin=https%3A%2F%2Fwww.milkmakeup.com&amp;enablejsapi=1&amp;widgetid=1" tabindex="-1" ></iframe>{%- endcomment -%}
          <iframe src="{{ product.metafields['producto']['video'] }}?autoplay=1" title="{{ product.title | escape }}" tabindex="-1" width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        {% endif %}

        {%- comment -%}el video se deshabilita con un "hidden" al final del string de url{%- endcomment -%}

      </div>
    </div>
  </div>
  
</section>

{% schema %}
  {
    
  }
{% endschema %}