<main class="midabi-page" id="page">
  <section class="midabi__hero bg-gray">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-9 col-xl-8 sticker-midabi">
          <h1 class="noto">안녕하세요!</h1>
          <h1 class="title-midabi">{{ section.settings.title_momijilife }}</h1>
        </div> 

        <div class="col-12 hero__footer">
          <div class="row justify-content-between">
            <div class="col-12 col-md-4 col-lg-3">
              <h2 class="subtitle-midabi">{{ section.settings.subtitle_left }}</h2>
            </div>
            <div class="col-12 col-md-4 col-lg-3 col-xl-2 text-md-right">
              <h3 class="subtitle-midabi">{{ section.settings.subtitle_right }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- //NAME SECTION mobile  -->
  <div class="dsh-MobileBar" style="display: none;"></div>

  <!-- SHOP ITEMS  -->
  {% for block in section.blocks %}
    {%- assign product = all_products[block.settings.product] -%}
    {%- assign current_variant = product.selected_or_first_available_variant -%}
    <section class="section_swipe shop-item" data-section="{{ block.settings.titulo }}" {{ block.shopify_attributes }}>
      <div class="container-fluid p-0">
        <div class="row m-0">
          <div class="col-12 col-md-6">
            <div class="shop-title w-100">
              <h2 class="animate-on-scroll">{{ block.settings.titulo }} <span class="tag-oval d-none d-lg-inline-block">Nuevo</span></h2>
              <p class="animate-on-scroll">{{ block.settings.subtitulo }}</p>
              <p class="animate-on-scroll"> {{ block.settings.subtitulo2 }} </p>
            </div>

            <figure class="shop-product animate-on-scroll">
              <img src="{{ block.settings.product_image | img_url: '426x' }}" alt="{{ block.settings.titulo }}">
              <span class="tag-oval d-block d-lg-none">Nuevo</span>
            </figure>

            <!-- // DESKTOP cart -->
            <div class="shop-cart d-none d-lg-block animate-on-scroll">
                <form action="/cart/add" data-productid="{{ current_variant.id }}" method="post" class="product-form mt-4" id="AddToCartForm">
                    <input type="hidden" name="id" value="{{ current_variant.id }}">
                    <input type="hidden" name="quantity" value="1">
                    <button class="btn__midabi" type="submit">{{ product.price | money_without_trailing_zeros }} — {{ 'products.product.add_to_cart' | t }}</button>
                </form>
                <a class="link__midabi" href="/products/{{ block.settings.matcha_latte }}">{{ 'shopify.checkout.general.tooltip_accessibility_label' | t}}</a>
            </div>

            <!-- MOBILE TABLET CART  -->
            <div class="shop-cart d-block d-lg-none animate-on-scroll">
              <button class="btn__midabi">{{ product.price | money_without_trailing_zeros }} — agregar</button>
              <a class="link__midabi" href="/">más info</a>
            </div>

            {{ block.settings.sidetext }}
          </div>
          <figure class="col-12 col-md-6 p-0">
            <div class="img-container">
              <img src="{{ block.settings.model_image | img_url: '1200x' }}" alt="{{ section.settings.titulo }}">
            </div>
          </figure>
        </div>
      </div>
    </section>
  {% endfor %}

  <section class="midabi__benefits">
    <div class="container-fluid p-0">
      <div class="row m-0">
        <div class="col-md-6 bg-green section__spacers">
          <div class="fix">
            <div class="breadcrumb">
              <h2 class="animate-on-scroll">Beneftis</h2>
              <h3 class="animate-on-scroll">Momiji life</h3>
            </div>
            <div class="title animate-on-scroll">
              <h1 class="title-midabi">{{ section.settings.benefits_title }}</h1>
            </div>

            <div class="content mt-lg-auto col-12 col-lg-9 animate-on-scroll">
              <p>{{ section.settings.benefits_content }}</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 benefits-items section__spacers">
          <div class="benefit-item animate-on-scroll">
            <div class="img-container">
              <img src="{{ section.settings.benefits_img_1 | img_url: '750x' }}" alt="{{ section.settings.benefits_title_1 }}">
            </div>
            <div class="item-content animate-on-scroll">
              <h4 class="bodytitle-midabi">{{ section.settings.benefits_title_1 }}</h4>
              <p>{{ section.settings.benefits_txt_1 }}</p>
            </div>
          </div>

          <div class="benefit-item animate-on-scroll">
            <div class="img-container">
              <img src="{{ section.settings.benefits_img_2 | img_url: '918x' }}" alt="{{ section.settings.benefits_title_2 }}">
            </div>
            <div class="item-content animate-on-scroll">
              <h4 class="bodytitle-midabi">{{ section.settings.benefits_title_2 }}</h4>
              <p>{{ section.settings.benefits_txt_2 }}</p>
            </div>
          </div>

          <div class="benefit-item animate-on-scroll">
            <div class="img-container">
              <img src="{{ section.settings.benefits_img_3 | img_url: '750x' }}" alt="{{ section.settings.benefits_title_3 }}">
            </div>
            <div class="item-content animate-on-scroll">
              <h4 class="bodytitle-midabi">{{ section.settings.benefits_title_3 }}</h4>
              <p>{{ section.settings.benefits_txt_3 }}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="midabi__instagram position-relative section__spacers">
    <div class="container-fluid">
      <div class="row order-1">
        <div class="col-md-12">
          <div class="breadcrumb">
            <h2 class="animate-on-scroll">{{ section.settings.last_left_txt }}</h2>
            <h3 class="animate-on-scroll">{{ section.settings.last_right_txt }}</h3>
          </div>

          <div class="title col-12 col-lg-8 p-0 animate-on-scroll">
            <h1 class="title-midabi">{{ section.settings.last_title }}</h1>
            <h1 class="noto">실제 스킨 케.</h1>
          </div>
        </div>
      </div>

      <div class="row mt-70 order-2 order-md-1">
        <figure class="col-md-6 col-lg-5">
          <div class="img-container ">
            <img src="{{ section.settings.last_img_1 | img_url: '427x' }}" alt="{{ section.settings.last_caption_1 }}">
          </div>
          <figcaption><i class="icon icon-heart"></i>{{ section.settings.last_caption_1 }}</figcaption>
        </figure>

        <figure class="col-md-6 col-lg-5">
          <div class="img-container">
            <img src="{{ section.settings.last_img_2 | img_url: '427x' }}" alt="{{ section.settings.last_caption_2 }}">
          </div>
          <figcaption><i class="icon icon-heart"></i>{{ section.settings.last_caption_2 }}</figcaption>
        </figure>

        <figure class="col-md-6 col-lg-5">
          <div class="img-container">
            <img src="{{ section.settings.last_img_3 | img_url: '427x' }}" alt="{{ section.settings.last_caption_3 }}">
          </div>
          <figcaption><i class="icon icon-heart"></i>{{ section.settings.last_caption_3 }}</figcaption>
        </figure>
      </div>

      <div class="instagram-circle order-1 order-md-2">
        
        <div class="ig-content animate-on-scroll">
          <h4 class="title-midabi">@momijibeauty</h4>
          <h5 class="noto">특집 게시물</h5>
          <p>#MomijiiTeRecomienda 👉 CTRL+Drop Suero Anti–imperfecciones ❤️ Un suero 3 en 1: hidrata, brinda luminosidad y reafirma la piel 👶 Si buscas revitalizar tu piel ¡Esta es la mascarilla ideal para ti! ✨
            #Self-care  #Momijilife</p>
          <a class="link__midabi" href="/">Visitar Instagram</a>
        </div>

        <!-- //ESTE ES UN UPDATE DE INSTAGRAM (información) DE LA ULTIMA FOTO PERO SIN LA FOTO NI LA DESCRIPCION -->
        <div class="ig-header" id="ig-header">
          <span>Octubre 23, 2019</span>
          <img src="{{ 'icon-heart.svg' | asset_url }}" alt="">
          <span><i class="icon icon-heart"></i> 879 likes</span>
        </div>

        <div class="ig-footer" id="ig-footer">
          <span>Octubre 23,2019</span>
          <img src="{{ 'icon-heart.svg' | asset_url }}" alt="">
          <span>879 likes</span>
        </div>
      </div>
    </div>
  </section>
</main>

{% comment %} <script src="https://code.jquery.com/jquery-1.9.1.js"></script> {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>
{% comment %} <script src="{{ 'bootstrap.min.js' | asset_url }}" ></script> {% endcomment %}
<script src="{{ 'circle.min.js' | asset_url }}" ></script> 
<script src="{{ 'parallax.js' | asset_url }}" defer></script>
<!-- <script src="{{ 'aos.js' | asset_url }}" ></script> -->
<script src="{{ 'anagrama.animate.js' | asset_url }}" ></script>
<script src="{{ 'noframework.waypoints.min.js' | asset_url }}" ></script>
<script>
  const circleType = new CircleType(document.querySelector('#ig-header'));
  circleType.radius(300);

  const circleType2 = new CircleType(document.querySelector('#ig-footer'));
  circleType2.radius(300);
  circleType2.dir(-1);
</script>

{% schema %}
  {
    "name": "Momiji Life Landing",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_section",
        "label": "Show section",
        "default": true
      },
      {
        "type": "html",
        "id": "title_momijilife",
        "label": "Copy principal"
      },
      {
        "type": "text",
        "id": "subtitle_left",
        "label": "Subtitulo izquierdo"
      },
      {
        "type": "text",
        "id": "subtitle_right",
        "label": "Subtitulo derecho"
      },
      {
        "type": "header",
        "content": "Benefits"
      },
      {
        "type": "html",
        "id": "benefits_title",
        "label": "Titulo de benefits (area verde)"
      },
      {
        "type": "textarea",
        "id": "benefits_content",
        "label": "Contenido de benefits (area verde)"
      },
      {
        "type": "image_picker",
        "id": "benefits_img_1",
        "label": "Imagen beneficio 1"
      },
      {
        "type": "text",
        "id": "benefits_title_1",
        "label": "Beneficio 1 Title"
      },
      {
        "type": "textarea",
        "id": "benefits_txt_1",
        "label": "Beneficio 1"
      },
      {
        "type": "image_picker",
        "id": "benefits_img_2",
        "label": "Imagen beneficio 2"
      },
      {
        "type": "text",
        "id": "benefits_title_2",
        "label": "Beneficio 2 Title"
      },
      {
        "type": "textarea",
        "id": "benefits_txt_2",
        "label": "Beneficio 2"
      },
      {
        "type": "image_picker",
        "id": "benefits_img_3",
        "label": "Imagen beneficio 3"
      },
      {
        "type": "text",
        "id": "benefits_title_3",
        "label": "Beneficio 3 Title"
      },
      {
        "type": "textarea",
        "id": "benefits_txt_3",
        "label": "Beneficio 3"
      },
      {
        "type": "header",
        "content": "Last Section"
      },
      {
        "type": "text",
        "id": "last_left_txt",
        "label": "Texto izquierdo"
      },
      {
        "type": "text",
        "id": "last_right_txt",
        "label": "Texto derecho"
      },
      {
        "type": "html",
        "id": "last_title",
        "label": "Copy principal"
      },
      {
        "type": "image_picker",
        "id": "last_img_1",
        "label": "Imagen 1"
      },
      {
        "type": "text",
        "id": "last_caption_1",
        "label": "Caption imagen 1"
      },
      {
        "type": "image_picker",
        "id": "last_img_2",
        "label": "Imagen 2"
      },
      {
        "type": "text",
        "id": "last_caption_2",
        "label": "Caption imagen 2"
      },
      {
        "type": "image_picker",
        "id": "last_img_3",
        "label": "Imagen 3"
      },
      {
        "type": "text",
        "id": "last_caption_3",
        "label": "Caption imagen 3"
      }
    ],
    "presets": [
      {
        "name": "Momiji Life Landing",
        "category": "Momiji Life"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Producto",
        "settings": [
          {
            "id": "product",
            "type": "product",
            "label": "Producto"
          },
          {
            "type": "image_picker",
            "id": "product_image",
            "label": "Foto producto"
          },
          {
            "type": "image_picker",
            "id": "model_image",
            "label": "Foto modelo"
          },
          {
            "type": "text",
            "id": "titulo",
            "label": "Titulo producto"
          },
          {
            "type": "text",
            "id": "subtitulo",
            "label": "Subtitulo"
          },
          {
            "type": "text",
            "id": "subtitulo2",
            "label": "Subtitulo 2"
          },
          {
            "type": "html",
            "id": "sidetext",
            "label": "HTML de Sidetext",
            "default": "<div><p>Some HTML content</p></div>"
          }
        ]
      }
    ]
  }
{% endschema %}