{%- assign product = all_products[section.settings.product] -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}

{% if section.settings.show_section == true %}
  <section class="eyeshine__hero">
    <img srcset="{{ 'eyeshine-hero-mobile.jpg' | asset_url }} 500w, {{ 'eyeshine-hero-2.jpg' | asset_url }}" src="{{ 'eyeshine-hero-2.jpg' | asset_url }}" alt="Image"/>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-6 col-xl-5 sticker-eyeshine">
          <h1>Eye shine. <br> menos ojeras, más brillo.</h1>
          <h2 class="h3">Los nuevos parches de hidrogel para ojos que desinflaman, hidratan, y dan luminosidad.</h2>
          <form action="/cart/add" data-productid="{{ current_variant.id }}" method="post" class="product-form mt-4" id="AddToCartForm">
            <input type="hidden" name="id" value="{{ current_variant.id }}"><input type="hidden" name="quantity" value="1">
            <button class="btn__agregar" type="submit">$500 <span class="color-blueop">|</span> Agregar a la bolsa</button>

          </form>
        </div> 
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
  {
    "name": "Eyeshine product",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_section",
        "label": "Show section",
        "default": true
      },
      {
        "id": "product",
        "type": "product",
        "label": "Product"
      }
    ],
    "presets": [
      {
        "name": "Eyeshine product",
        "category": "Eyeshine"
      }
    ]
  }
{% endschema %}