{%- assign product = all_products[section.settings.product] -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{% assign price_int = product.first_available_variant.price | times: 0.01 %}

{% if section.settings.show_section == true %}
  <section class="eyeshine__hero">
    <img srcset="{{ 'eyeshine-hero-mobile.jpg' | asset_url }} 500w, {{ 'eyeshine-hero-2.jpg' | asset_url }}" src="{{ 'eyeshine-hero-2.jpg' | asset_url }}" alt="Image"/>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-6 col-xl-5 sticker-eyeshine">
          <h1>{{ section.settings.copy_1 }}</h1>
          <h2 class="h3">{{ section.settings.copy_2 }}</h2>
          <form action="/cart/add" data-productid="{{ current_variant.id }}" method="post" class="product-form mt-4" id="AddToCartForm">
            <input type="hidden" name="id" value="{{ current_variant.id }}"><input type="hidden" name="quantity" value="1">
            <button
              class="btn__agregar add-to-cart"
              type="submit"
              ata-producttype="{{ product.type }}"
                data-productbrand="{{ product.vendor }}"
                data-producttitle="{{ product.title }}"
                data-productprice="{{ price_int }}"
                data-productsku="{{ product.first_available_variant.sku }}"
                data-productvariant="{{ product.first_available_variant.id }}"
                data-productvarianttitle="{{ product.first_available_variant.title }}"
              {% unless current_variant.available %}
              disabled="disabled"
              {% endunless %}>
              {% if current_variant.available %}
                {{ product.price | money_without_trailing_zeros }} <span class="color-blueop">|</span> {{ 'products.product.add_to_cart' | t }}
              {% else %}
                {{ product.price | money_without_trailing_zeros }} <span class="color-blueop">|</span> {{ 'products.product.sold_out' | t }}
              {% endif %}
            </button>
          </form>
          <a class="mt-3" href="/products/{{ section.settings.product }}">{{ 'shopify.checkout.general.tooltip_accessibility_label' | t}}</a>
        </div> 
      </div>
    </div>
  </section>
  {% include 'gtm-addtocart' %}
{% endif %}

{% schema %}
  {
    "name": "Eyeshine product",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_section",
        "label": "Show section",
        "default": true
      },
      {
        "id": "product",
        "type": "product",
        "label": "Product"
      },
      {
        "id": "copy_1",
        "type": "textarea",
        "label": "Copy principal"
      },
      {
        "id": "copy_2",
        "type": "textarea",
        "label": "Copy secundario"
      }
    ],
    "presets": [
      {
        "name": "Eyeshine product",
        "category": "Eyeshine"
      }
    ]
  }
{% endschema %}