{% assign img_url = section.settings.partners_bg_img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}

<div class="momiji-partners">
    <div class="momiji-partners__copy">
      <h3>Compra con nuestros partners</h3>
    </div>
    
    <div class="logos_wrapper">
      <div class="logo_svg">
        {% include 'partners-icons' with 'fahorro' %}
      </div>
      <div class="logo_svg">
        {% include 'partners-icons' with 'cornershop' %}
      </div>
      <div class="logo_svg">
        {% include 'partners-icons' with 'amazon' %}
      </div>
      <div class="logo_svg">
        {% include 'partners-icons' with 'palacio' %}
      </div>
      <div class="logo_svg">
        {% include 'partners-icons' with 'enviaflores' %}
      </div>
    </div>
    {% comment %} <img class="gallery__image lazyload"
        src="{{ section.settings.partners_bg_img | img_url: '2048x' }}"
        data-src="{{ img_url }}"
        data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
        data-aspectratio="{{ section.settings.partners_bg_img.aspect_ratio }}"
        data-sizes="auto"
        alt="Momiji Partners"> {% endcomment %}
</div>

<style>
  .momiji-partners {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 600px;
    background-image: url({{ section.settings.partners_bg_img | img_url: '2048x' }});
    background-size: cover;
    background-position-y: center;
  }
  .momiji-partners__copy {
  width: 100%;
  }
  .momiji-partners__copy h3 {
    font-family: 'GT Momiji';
    font-size: 2em;
    color: {{ section.settings.partners_logo_color }};
  }
  .logos_wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  }
  .logo_svg {
    flex: 0 1 auto;
    align-self: center;
  }
  .logo_svg svg {
    width: 15em;
    margin-inline-end: 3em;
  }
  
</style>

{% schema %}
{
  "name": "Partners",
  "settings": [
      {
        "type": "header",
        "content": "Momiji Partners"
      },
      {
        "type": "image_picker",
        "id": "partners_bg_img",
        "label": "Background image"
      },
      {
        "type": "radio",
        "id": "partners_bg_position",
        "options": [
          { "value": "object-position_top", "label": "Top"},
          { "value": "object-position_center", "label": "Center"},
          { "value": "object-position_bottom", "label": "Bottom"}
          ],
        "default": "object-position_center",
        "label": "Background image position"
      },
      {
        "type": "color",
        "id": "partners_overlay_color",
        "label": "Overlay color",
        "default": "#000000"
      },
      {
        "type": "range",
        "id": "partners_overlay_op",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Background overlay opacity",
        "default": 0
      },
      {
        "type": "text",
        "id": "partners_copy",
        "label": "Copy principal",
        "default": "Compra con nuestros partners"
      },
      {
        "type": "color",
        "id": "partners_logo_color",
        "label": "Logos color",
        "default": "#ffffff"
      }
  ],
  "presets": [
    {
      "name": "Momiji Partners",
      "category": "Contenido"
    }
  ]
}
{% endschema %}