<div class="momiji-partners">
    <div class="momiji-partners__copy">
      <h1>{{ section.settings.partners_copy }}</h1>
    </div>
    
    <div class="logos_wrapper">
      <div class="logo_svg">
        {% include 'partners-icons' with 'fahorro' %}
      </div>
      <div class="logo_svg">
        {% include 'partners-icons' with 'cornershop' %}
      </div>
      <div class="logo_svg">
        {% include 'partners-icons' with 'amazon' %}
      </div>
      <div class="logo_svg">
        {% include 'partners-icons' with 'palacio' %}
      </div>
      <div class="logo_svg">
        {% include 'partners-icons' with 'enviaflores' %}
      </div>
    </div>

<div class="back-color"></div>

</div>

<style>
  .momiji-partners {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 600px;
    background-image: url({{ section.settings.partners_bg_img | img_url: '2048x' }});
    background-size: cover;
    background-position: center center;
  }
  .back-color {
    position:absolute;
    height: inherit;
    width: 100%;
    background-color: {{ section.settings.partners_overlay_color }};
    opacity: {{ section.settings.partners_overlay_op | times: 0.01 }};
    z-index: 0;
  }
  .momiji-partners__copy {
  width: 100%;
  z-index: 1;
  }
  .momiji-partners__copy h1 {
    color: {{ section.settings.partners_logo_color }};
    margin: 0 20px;
    font-size: 40px;
    letter-spacing: -0.7px;
    line-height: 40px;
    /*font-family: "GT Momiji Medium", sans-serif;
    font-size: 40px;
    letter-spacing: -1.56px;
    line-height: 40px;*/
  }
  .logos_wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding: 2em 4em;
  z-index: 1;
  }
  .logo_svg {
    flex: 0 1 auto;
    align-self: center;
    margin: 1em;
    width: 16%;
  }
  @media (max-width: 767.98px) {
    .momiji-partners__copy h1{
      text-align: center;
    }
    .logos_wrapper {
      padding: 20px;
    }
    .logo_svg {
      width: 40%;
    }
  }
  /*svg.fahorro {
    height: 5em;
  }
    svg.cornershop {
    height: 2em;
  }
    svg.amazon {
    height: 2.5em;
  }
    svg.palacio {
    height: 4em;
  }
    svg.enviaflores {
    height: 2em;
  }*/
  
</style>

{% schema %}
{
  "name": "Partners",
  "settings": [
      {
        "type": "header",
        "content": "Momiji Partners"
      },
      {
        "type": "image_picker",
        "id": "partners_bg_img",
        "label": "Background image"
      },
      {
        "type": "radio",
        "id": "partners_bg_position",
        "options": [
          { "value": "object-position_top", "label": "Top"},
          { "value": "object-position_center", "label": "Center"},
          { "value": "object-position_bottom", "label": "Bottom"}
          ],
        "default": "object-position_center",
        "label": "Background image position"
      },
      {
        "type": "color",
        "id": "partners_overlay_color",
        "label": "Overlay color",
        "default": "#000000"
      },
      {
        "type": "range",
        "id": "partners_overlay_op",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Background overlay opacity",
        "default": 0
      },
      {
        "type": "text",
        "id": "partners_copy",
        "label": "Copy principal",
        "default": "Compra con nuestros partners"
      },
      {
        "type": "color",
        "id": "partners_logo_color",
        "label": "Logos color",
        "default": "#ffffff"
      }
  ],
  "presets": [
    {
      "name": "Momiji Partners",
      "category": "Contenido"
    }
  ]
}
{% endschema %}