<div class="container" id="reviews">
  <div class="row flex-column">

    <div class="swiper-container">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="reviews-container">
            <div class="reviews-container__logo-container">
              <img class="lazyload"
                  data-src="{{ 'elle-1080.png' | asset_img_url: '1080x' }}"
                  alt="Logo Elle">
            </div>
            <div class="reviews-container__copy-container">
              <h3>Momiji Life, el nuevo lanzamiento de nuestra marca favorita de K-Beauty</h3>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="reviews-container">
            <div class="reviews-container__logo-container">
              <img class="lazyload"
                  data-src="{{ 'allure-1080.png' | asset_img_url: '1080x' }}"
                  alt="Logo Allure">
            </div>
            <div class="reviews-container__copy-container">
              <h3>These serum-soaked patches depute and moisturize that delicate under area for an at-home spa day</h3>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="reviews-container">
            <div class="reviews-container__logo-container">
              <img class="lazyload"
                  data-src="{{ 'instyle-1080.png' | asset_img_url: '1080x' }}"
                  alt="Logo InStyle">
            </div>
            <div class="reviews-container__copy-container">
              <h3>La curaduría más top de productos de K-Beauty</h3>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="reviews-container">
            <div class="reviews-container__logo-container">
              <img class="lazyload"
                  data-src="{{ 'glamour-1080.png' | asset_img_url: '1080x' }}"
                  alt="Logo Glamour">
            </div>
            <div class="reviews-container__copy-container">
              <h3>Tú eres el nuevo estándar de belleza, sin importar el género</h3>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="reviews-container">
            <div class="reviews-container__logo-container">
              <img class="lazyload"
                  data-src="{{ 'gq-1080.png' | asset_img_url: '1080x' }}"
                  alt="Logo GQ">
            </div>
            <div class="reviews-container__copy-container">
              <h3>Pioneros en México en traer el ritual del cuidado de piel coreano</h3>
            </div>
          </div>
        </div>

        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</div>

{% schema %}
  {
    "name": "Press Reviews",
    "settings": [
      {
        "type": "header",
        "content": "Press reviews",
        "info": "Info"
      }
    ],
  "presets": [
    {
      "name": "Press reviews",
      "category": "Contenido"
    }
  ]
  }
{% endschema %}
