<div class="container" id="reviews">
  <div class="row flex-column"> 

    <div class="swiper-container">
      <div class="swiper-wrapper">
        
        <div class="swiper-slide">
          <div class="reviews-container">
            <div class="reviews-container__logo-container">
              <img class="lazyload"
                  src="{{ 'elle-1080.png' | asset_img_url: '1080x' }}"
                  data-src="{{ 'elle-1080.png' | asset_img_url: '1080x' }}"
                  data-widths="[540, 720, 900, 1080]"
                  data-sizes="auto"
                  alt="Logo Elle">
            </div>
            <div class="reviews-container__copy-container">  
              <h3>Momiji Life, el nuevo lanzamiento de nuestra marca favorita de K-Beauty</h3>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="reviews-container">
            <div class="reviews-container__logo-container">
              <img class="lazyload"
                  src="{{ 'allure-1080.png' | asset_img_url: '1080x' }}"
                  data-src="{{ 'allure-1080.png' | asset_img_url: '1080x' }}"
                  data-widths="[540, 720, 900, 1080]"
                  data-sizes="auto"
                  alt="Logo Allure">
            </div>
            <div class="reviews-container__copy-container"> 
              <h3>These serum-soaked patches depute and moisturize that delicate under area for an at-home spa day</h3>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="reviews-container">
            <div class="reviews-container__logo-container">
              <img class="lazyload"
                  src="{{ 'instyle-1080.png' | asset_img_url: '1080x' }}"
                  data-src="{{ 'instyle-1080.png' | asset_img_url: '1080x' }}"
                  data-widths="[540, 720, 900, 1080]"
                  data-sizes="auto"
                  alt="Logo InStyle">
            </div>
            <div class="reviews-container__copy-container"> 
              <h3>La curaduría más top de productos de K-Beauty</h3>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="reviews-container">
            <div class="reviews-container__logo-container">
              <img class="lazyload"
                  src="{{ 'glamour-1080.png' | asset_img_url: '1080x' }}"
                  data-src="{{ 'glamour-1080.png' | asset_img_url: '1080x' }}"
                  data-widths="[540, 720, 900, 1080]"
                  data-sizes="auto"
                  alt="Logo Glamour">
            </div>
            <div class="reviews-container__copy-container"> 
              <h3>Tú eres el nuevo estándar de belleza, sin importar el género</h3>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="reviews-container">
            <div class="reviews-container__logo-container">
              <img class="lazyload"
                  src="{{ 'gq-1080.png' | asset_img_url: '1080x' }}"
                  data-src="{{ 'gq-1080.png' | asset_img_url: '1080x' }}"
                  data-widths="[540, 720, 900, 1080]"
                  data-sizes="auto"
                  alt="Logo GQ">
            </div>
            <div class="reviews-container__copy-container"> 
              <h3>Pioneros en México en traer el ritual del cuidado de piel coreano</h3>
            </div>
          </div>
        </div>

        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</div>


<style>
#reviews .swiper-container {
  width: 100%;
  height: auto;
  padding: 80px 15px 30px 15px;
}
#reviews .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#reviews .swiper-container .swiper-slide {
  height: auto;
}
.reviews-container {
  display: flex;
  flex-flow: wrap;
  margin: auto;
}
.reviews-container__logo-container {
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  margin: auto;
}
.reviews-container__logo-container img {
  width: 80%;
}
.reviews-container__copy-container {
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: flex-start;
  margin: auto;
}
.reviews-container__copy-container h3 {
  font-size: 0.9em;
  line-height: 1em;
  padding: 1em 0 0 0;
}
#reviews .swiper-pagination {
  position: inherit;
  align-self: center;
  padding-bottom: 60px;
}
#reviews .swiper-pagination-bullet {
  margin: 0 1em;
}
</style>

{% schema %}
  {
    "name": "Press Reviews",
    "settings": [
      {
        "type": "header",
        "content": "Press reviews",
        "info": "Info"
      }
    ],
  "presets": [
    {
      "name": "Press reviews",
      "category": "Contenido"
    }
  ]
  }
{% endschema %}
