<section class="section__principal" data-section-id="{{ section.id }}" data-section-type="product">

{% include 'swym-product-view', product: product %}

{%- assign unico = product.has_only_default_variant -%}
{% assign inventario-actual = variant.inventory_quantity %}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '1024x1024' }}">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-7">
        <div class="row">
          <div class="col-12 breadcrumb">
            {% include 'breadcrumbs' %}
          </div>
          <div class="col-12 product__slider">
            <div class="row row-mobile">
              <div class="swiper-container gallery-thumbs col-md-12 col-lg-2 order-2 order-lg-1">
                <div class="swiper-wrapper ">
                {% for image in product.images %}
                  <div class="swiper-slide img-container" style="background-image:url({{ image.src | product_img_url: '100x', scale: 3 }}); background-size: cover;"></div>
                {% endfor %}
                </div>
              </div>
              <div class="swiper-container gallery-top col-md-12 col-lg-10 order-1 order-lg-2">
                <div class="swiper-wrapper">
                {% for image in product.images %}
                  <div class="swiper-slide img-container" style="background-image:url({{ image.src | product_img_url: '793x' }}); background-size: cover;"><button class="btn__wishlist product_{{product.id}}" data-swaction="addToWishlist" data-product-id="{{product.id | json}}"></button></div>
                {% endfor %} 
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>

      {% include 'tag-logic' %}

      <div class="col-md-6 col-lg-5 section__container {% if soon %} product soon {% elsif new %} product new {% elsif momi %} product momi {% else %} product {% endif %}">
        <h1 class="text-link">{{ product.vendor }}</h1>
        <h2>{{ product.title }}</h2>
        <div class="product__detail--name" data-price-wrapper>
          <h3>{{ product.metafields['producto']['presentacion'] }}</h3>
          <p class="h3" data-product-price>{{ product.variants.first.price | money }}</p>
        </div>
        <p><a class="link--orange"><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span></a></p>
        <b>Descripción.</b>
        <p>{{ product.description }}</p>

        <div class="recomendado mb-30 mt-30">
        {% if product.metafields.recomendado.nombre_1 != blank %}
          <b>Recomendado por</b>
          
          <div class="tag"><a href="{{ product.metafields['recomendado']['link_1'] }}" target="_blank">{{ product.metafields['recomendado']['nombre_1'] }}</a></div>
          
          {% if product.metafields.recomendado.nombre_2 != blank %}   
          <div class="tag"><a href="{{ product.metafields['recomendado']['link_2'] }}" target="_blank">{{ product.metafields['recomendado']['nombre_2'] }}</a></div>
          {% endif %}

          {% if product.metafields.recomendado.nombre_3 != blank %}   
          <div class="tag"><a href="{{ product.metafields['recomendado']['link_3'] }}" target="_blank">{{ product.metafields['recomendado']['nombre_3'] }}</a></div>
          {% endif %}

          {% if product.metafields.recomendado.nombre_4 != blank %}   
          <div class="tag"><a href="{{ product.metafields['recomendado']['link_4'] }}" target="_blank">{{ product.metafields['recomendado']['nombre_4'] }}</a></div>
          {% endif %}

        {% endif %}
        </div>

      {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
        {% unless product.has_only_default_variant %}
          {% for option in product.options_with_values %}
            <div class="js d-none">

              {% if forloop.index0 > 0 %}

                {% for value in option.values %}
                  <input type="radio" id="Option{{ option.position }}-{{ value }}" name="options[{{ option.name }}]" value="{{ value }}"{% if option.selected_value == value %} checked{% endif %}>
                  <label for="Option{{ option.position }}-{{ value }}">{{ value }}</label>
                {% endfor %}

              {% else %}
 
                <select
                  id="Option{{ option.position }}"
                  name="options[{{ option.name | escape }}]">
                  {% for value in option.values %}
                    <option
                      value="{{ value | escape }}"
                      {% if option.selected_value == value %}selected="selected"{% endif %}>
                        {{ value }}
                    </option>
                  {% endfor %}
                </select>

              {% endif %}
            </div>

            <ul class="list-unstyled" id="opciones">
            {% for value in option.values %}
              <li class="opciones-item">{{ value }}</li>
            {% endfor %}
            </ul>
          {% endfor %}
        {% endunless %}

        
        {% if unico %}
          <input type="hidden" name="id" value="{{current_variant.id}}">
        {% endif %}

        <div class="input-quantity">
          <span class="input-number-decrement">–</span><!--
          --><input class="input-number" type="text" value="1" min="1" max="{{ variant.inventory_quantity }}" name="quantity"><!--
          --><span class="input-number-increment">+</span>
        </div>
        
        <button
          class="btn__main btn__main--big" 
          type="submit"
          name="add"
          data-submit-button
          {% unless current_variant.available %}disabled="disabled"{% endunless %}>
            <span data-submit-button-text>
              {% if current_variant.available %}
                {{ 'products.product.add_to_cart' | t }}
              {% else %}
                {{ 'products.product.sold_out' | t }}
              {% endif %}
            </span>
        </button>

        {%- comment -%}
        {% for variant in product.variants %}
          {% if variant == product.selected_or_first_available_variant %}
            <button 
              class="btn__main btn__main--big" 
              name="id"
              type="submit" {% unless product.available %} 
              disabled="disabled"{% endunless %} 
              value="{{ variant.id }}">
              {%- if product.available -%}
                {{ 'products.product.add_to_cart' | t }}
              {%- else -%}
                {{ 'products.product.sold_out' | t }}
              {%- endif -%}
            </button>            
          {% endif %}
        {% endfor %}
        {%- endcomment -%}

      {% endform %}
        
        {%- comment -%}
        El botón de Back to Stock se configura directo de la app, en THEME INTEGRATION: Custom Script.
        {%- endcomment -%}
        {%- comment -%}<button class="btn__main btn__main--big" id="BIS_trigger" {% if product.available %} style="display: none;" {% endif %}>Notificarme cuando esté disponible</button>{%- endcomment -%}
      </div>
    </div>
  </div>

</section>
 
<script type="text/javascript">
 
  $(function(){
    $('#opciones li').on('click', function() {

      var id = $(this).text();

      var sortBySelect = document.querySelector("#Option1");
      sortBySelect.value = id;
      sortBySelect.dispatchEvent(new Event("change"));
    })
  })

  $(document).ready(function(){
      $("#opciones li:first-child").addClass("active");

      $('#opciones li').click(function(){
        $('.opciones-item').removeClass('active');
        $(this).addClass('active');
        $('#opciones').toggleClass('active');
      });
  });
</script>


