    <main class="main__product">
      
      <section class="section__principal" itemscope itemtype="http://schema.org/Product">
        <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
        <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
        <meta itemprop="image" content="{{ product.featured_image.src | img_url: '1024x1024' }}">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-7">
              <div class="row">
                <div class="col-12 breadcrumb">
                  {% include 'breadcrumbs' %}
                </div>
                <div class="col-12 product__slider">
                  <div class="row row-mobile">
                    <div class="swiper-container gallery-thumbs col-md-12 col-lg-2 order-2 order-lg-1">
                      <div class="swiper-wrapper ">
                      {% for image in product.images %}
                        <div class="swiper-slide img-container" style="background-image:url({{ image.src | product_img_url: 'x212' }}); background-size: cover;"></div>
                      {% endfor %}
                      </div>
                    </div>
                    <div class="swiper-container gallery-top col-md-12 col-lg-10 order-1 order-lg-2">
                      <div class="swiper-wrapper">
                      {% for image in product.images %}
                        <div class="swiper-slide img-container" style="background-image:url({{ image.src | product_img_url: 'x1140' }}); background-size: cover;"><button class="btn__wishlist"></button></div>
                      {% endfor %} 
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-5 section__container new">
              <h1 class="text-link">{{ product.vendor }}</h1>
              <h2>{{ product.title }}</h2>
              <div class="product__detail--name">
                <h3>{{ product.metafields['presentacion']['base'] }}</h3>
                <p class="h3">{{ product.price | money }}</p>
              </div>
              <p class="comments">✦ ✦ ✦ ✦ ✦ ✦<a href="#comments" class="link--orange">Ver 10 reseñas</a></p>
              <b>Descripción.</b>
              <p>{{ product.description }}</p>
              <div class="recomendado mb-30 mt-30">
                <b>Recomendado por</b>
                <div class="tag"><a href="http://www.instagram.com" target="_blank">Anna Sarelly</a></div>
                <div class="tag"><a href="http://www.instagram.com"  target="_blank">Sofy Des Cortes</a></div>
              </div>
              
              <div class="input-quantity"><span class="input-number-decrement">–</span><input class="input-number" type="text" value="1" min="0" max="10"><span class="input-number-increment">+</span></div>
              <button class="btn__main btn__main--big" type="submit" {% unless product.available %} disabled="disabled"{% endunless %}>
                {%- if product.available -%}
                  {{ 'products.product.add_to_cart' | t }}
                {%- else -%}
                  {{ 'products.product.sold_out' | t }}
                {%- endif -%}
              </button>
            </div>
          </div>
        </div>
      </section>

      <section class="main__product--info bg-purple section__spacers">
         <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class=" product__title">
                <h2>Info de producto.</h2>
              </div>

              <div class="accordions__container mt-30"> 
                <a class="accordion h3 active">Beneficios</a>
                <div class="panel active" style="max-height: 100%">
                  {{ product.metafields['beneficios']['hidrata'] }}
                  <div class="benefits--icon"><p class="icon">☼</p><b>SPF</b></div>
                  <div class="benefits--icon"><p class="icon">★</p><b>Luminiza</b></div>
                  <div class="benefits--icon"><p class="icon">▢</p><b>Repara</b></div>
                  <div class="benefits--icon"><p class="icon">✧</p><b>Limpia</b></div>
                  <div class="benefits--icon"><p class="icon">♥</p><b>Calma</b></div>
                  <div class="benefits--icon"><p class="icon">☯</p><b>Tonifica</b></div>
                  <div class="benefits--icon"><p class="icon">▥</p><b>Empareja Tono</b></div>
                  <div class="benefits--icon"><p class="icon">ᛟ</p><b>Anti-age</b></div>
                  <div class="benefits--icon"><p class="icon">✦</p><b>Exfolia</b></div>
                  <p>Elimina las impurezas del rostro con sus micro burbujas de oxigeno y carbón dejando la piel limpia y fresca. Con su polvo de cascara de nuez limpia tus poros y deja tu piel  libre de sebo para una piel brillante.</p>
                </div>

                <a class="accordion h3">Qué paso de mi rutina es este?</a>
                <div class="panel panel--step">
                  <div>
                    <b>Paso 1. Desmaquillante</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat make a talent database that leverages.</p>
                    <a href="/products.html" class="link--orange">explorar desmaquillantes</a>
                  </div>
                  <figure><img src="img/svg/products/exfoliante.svg" alt="Crema ojos"></figure>
                </div>

                <a class="accordion h3">Consejos de Momiji Experts</a>
                <div class="panel">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat make a talent database that leverages.</p>
                </div>

                <a class="accordion h3">Instrucciones de uso</a>
                <div class="panel">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat make a talent database that leverages.</p>
                </div>

                <a class="accordion h3">Lista de ingredientes</a>
                <div class="panel">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat make a talent database that leverages.</p>
                </div>
              </div>

              <a href="/" class="link--orange">Visita nuestra sección de FAQ</a>
            </div>
            <div class="col-md-6 sticker4">
              <!-- SERÁ IMAGEN O VIDEO -->
              <!-- SERÁ IMAGEN O VIDEO -->
              <!-- SERÁ IMAGEN O VIDEO -->
              <div class="img-container"><img src="img/contacto.png" alt="Contactanos"></div>
              <iframe frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="Player for Milk Makeup" width="100%" height="100%" src="https://www.youtube.com/embed/dW3b4tjPto4?autoplay=1&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;iv_load_policy=3&amp;cc_load_policy=0&amp;cc_lang_pref=en&amp;wmode=transparent&amp;modestbranding=1&amp;disablekb=1&amp;origin=https%3A%2F%2Fwww.milkmakeup.com&amp;enablejsapi=1&amp;widgetid=1" tabindex="-1" hidden></iframe>
            </div>
          </div>
        </div>
        
      </section>

      <section class="main__product--comments bg-blue section__spacers">
        <div class="container">
          <div class="row row-mobile no-gutters">
            <div class="section__title col-12">
              <h2>Reseñas de la comunidad.</h2>
              <a href="/" class="btn__main">dejar una reseña</a>
            </div>
          </div>
          <div class="row row-mobile no-gutters">
            <div class="col-12 total--comentado sticker5">
              <p class="comments stars">✦ ✦ ✦ ✦ ✦ ✦ <b> Basado en 10 reseñas</b></p>
            </div>

            <div class="col-12 comments">
              <div class="comments--item">
                <h3>Ideal para manos secas</h3>
                <b>Sofia de Momiji Team, <b>Sep 28, 2018</b></b>
                <div class="stars"><p>✦ ✦ ✦ ✦ ✦ ✦</p></div>
                <p>Lo que me llamo la atención fue el empaque ademas tengo las manos muy secas así que constantemente necesito ponerme crema.Esta me gusto mucho no solo por el empaque sino porque es muy hidratante y no se siente grasosa, personalmente no me gustan las cremas que me dejan un velo grasoso en la piel ademas solo necesitas un poco. ; Aunque tiene un olor muy fuerte es bastante agradable y desaparece después de aplicarla, ese seria mi único "pero" el fuerte olor</p>
              </div>

              <div class="comments--item">
                <h3>Ideal para manos secas</h3>
                <b>Sofia de Momiji Team, <b>Sep 28, 2018</b></b>
                <div class="stars"><p>✦ ✦ ✦ ✦ ✦ ✦</p></div>
                <p>Lo que me llamo la atención fue el empaque ademas tengo las manos muy secas así que constantemente necesito ponerme crema.Esta me gusto mucho no solo por el empaque sino porque es muy hidratante y no se siente grasosa, personalmente no me gustan las cremas que me dejan un velo grasoso en la piel ademas solo necesitas un poco. ; Aunque tiene un olor muy fuerte es bastante agradable y desaparece después de aplicarla, ese seria mi único "pero" el fuerte olor</p>
              </div>

              <div class="comments--item">
                <h3>Ideal para manos secas</h3>
                <b>Sofia de Momiji Team, <b>Sep 28, 2018</b></b>
                <div class="stars"><p>✦ ✦ ✦ ✦ ✦ ✦</p></div>
                <p>Lo que me llamo la atención fue el empaque ademas tengo las manos muy secas así que constantemente necesito ponerme crema.Esta me gusto mucho no solo por el empaque sino porque es muy hidratante y no se siente grasosa, personalmente no me gustan las cremas que me dejan un velo grasoso en la piel ademas solo necesitas un poco. ; Aunque tiene un olor muy fuerte es bastante agradable y desaparece después de aplicarla, ese seria mi único "pero" el fuerte olor</p>
              </div>
            </div>
          </div>
        </div>
        
      </section>

      <section class="main__product--related section__spacers ">
        <div class="container">
          <div class="row row-mobile no-gutters">
            <div class="section__title col-12">
              <h2>Completa tu rutina.</h2>
            </div>
          </div>

          <div class="row thumbs">
            <div class="col-md-3">
              <a href="detalle-producto.html" class="product new">
              <div class="product__container">
                <div class="product__container--main img-container"><img src="img/product--img.png" alt="Milk"></div>
                <div class="product__container--hover"><img src="img/product--img--hover.png" alt="Milk"></div> 
              </div>
              <div class="product__info">
                <div class="product__info--brand">
                  <p>Benton</p>
                  <button class="btn__wishlist"></button>
                </div>
                <div class="product__info--name">
                  <p>Ginseng Berry Eye Mask</p>
                  <span>$60.00</span>
                </div>
              </div>
              </a>
              <div class="btn__more"></div>
            </div>


            <div class="col-md-3">
              <a href="detalle-producto.html" class="product soon">
              <div class="product__container">
                <div class="product__container--main img-container"><img src="img/product--img.png" alt="Milk"></div>
                <div class="product__container--hover"><img src="img/product--img--hover.png" alt="Milk"></div> 
              </div>
              <div class="product__info">
                <div class="product__info--brand">
                  <p>Benton</p>
                  <button class="btn__wishlist"></button>
                </div>
                <div class="product__info--name">
                  <p>Ginseng Berry Eye Mask</p>
                  <span>$60.00</span>
                </div>
              </div>
              </a>
            </div>

            <div class="col-md-3">
              <a href="detalle-producto.html" class="product momi">
              <div class="product__container">
                <div class="product__container--main img-container"><img src="img/product--img.png" alt="Milk"></div>
                <div class="product__container--hover"><img src="img/product--img--hover.png" alt="Milk"></div> 
              </div>
              <div class="product__info">
                <div class="product__info--brand">
                  <p>Benton</p>
                  <button class="btn__wishlist"></button>
                </div>
                <div class="product__info--name">
                  <p>Ginseng Berry Eye Mask</p>
                  <span>$60.00</span>
                </div>
              </div>
              </a>
            </div>
            
            <div class="col-md-3">
              <a href="detalle-producto.html" class="product momi">
              <div class="product__container">
                <div class="product__container--main img-container"><img src="img/product--img.png" alt="Milk"></div>
                <div class="product__container--hover"><img src="img/product--img--hover.png" alt="Milk"></div> 
              </div>
              <div class="product__info">
                <div class="product__info--brand">
                  <p>Benton</p>
                  <button class="btn__wishlist"></button>
                </div>
                <div class="product__info--name">
                  <p>Ginseng Berry Eye Mask</p>
                  <span>$60.00</span>
                </div>
              </div>
              </a>
            </div>


          </div>
        </div>
      </section>
        
    </main>


{%- comment -%}
<section data-section-id="{{ section.id }}" data-section-type="product">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  {% for image in product.images %}
    {% capture wrapper_class %}
      {%- unless featured_image == image -%}
        hide
      {%- endunless -%}
    {% endcapture %}

    {% include 'responsive-image' with
      image: image,
      max_width: 700,
      max_height: 800,
      image_attributes: "data-product-featured-image",
      wrapper_class: wrapper_class,
      wrapper_attributes: "data-product-image-wrapper",
    %}
  {% endfor %}

  {% if product.images.size > 1 %}
    <ul>
      {% for image in product.images %}
        <li>
          <a href="{{ image.src | img_url: '480x480' }}" data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail{% if featured_image == image %} aria-current="true"{% endif %}>
            <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '160x160' }}" alt="{{ image.alt | escape }}">
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <h1>{{ product.title }}</h1>
  <p>{{ product.vendor }}</p>


  {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
    {% unless product.has_only_default_variant %}
      {% for option in product.options_with_values %}
        <div class="js">

          {% if forloop.index0 > 0 %}

            {% for value in option.values %}
              <input type="radio" id="Option{{ option.position }}-{{ value }}" name="options[{{ option.name }}]" value="{{ value }}"{% if option.selected_value == value %} checked{% endif %}>
              <label for="Option{{ option.position }}-{{ value }}">{{ value }}</label>
            {% endfor %}

          {% else %}

            <label for="Option{{ option.position }}">
              {{ option.name }}
            </label>

            <select
              id="Option{{ option.position }}"
              name="options[{{ option.name | escape }}]">
              {% for value in option.values %}
                <option
                  value="{{ value | escape }}"
                  {% if option.selected_value == value %}selected="selected"{% endif %}>
                    {{ value }}
                </option>
              {% endfor %}
            </select>

          {% endif %}
        </div>
      {% endfor %}
    {% endunless %}

    <noscript>
      <select name="id">
        {% for variant in product.variants %}
          <option
            {% if variant == current_variant %}selected="selected"{% endif %}
            {% unless variant.available %}disabled="disabled"{% endunless %}
            value="{{ variant.id }}">
              {{ variant.title }}
          </option>
        {% endfor %}
      </select>
    </noscript>

    <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
    <input type="number" id="Quantity" name="quantity" value="1" min="1">

    <div data-price-wrapper>
      <span data-product-price>
        {{ current_variant.price | money }}
      </span>

      {% if product.compare_at_price_max > product.price %}
        <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
        <s data-compare-price>
          {% if current_variant.compare_at_price > current_variant.price %}
            {{ current_variant.compare_at_price | money }}
          {% endif %}
        </s>
      {% endif %}
    </div>

    <button
      type="submit"
      name="add"
      data-submit-button
      {% unless current_variant.available %}disabled="disabled"{% endunless %}>
        <span data-submit-button-text>
          {% if current_variant.available %}
            {{ 'products.product.add_to_cart' | t }}
          {% else %}
            {{ 'products.product.sold_out' | t }}
          {% endif %}
        </span>
    </button>
  {% endform %}

  <div class="rte">
    {{ product.description }}
  </div>

  {% if section.settings.show_share_buttons %}
    {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
  {% endif %}
</section>
{%- endcomment -%}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
