<section class="main__product--related section__spacers ">
  <div class="container">


<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>


    <div class="row row-mobile no-gutters">
      <div class="section__title col-12">
        <h2>Productos similares.</h2>
      </div>
    </div>

    <div class="row thumbs">
      <div class="col-md-3">
        <a href="detalle-producto.html" class="product new">
        <div class="product__container">
          <div class="product__container--main img-container"><img src="img/product--img.png" alt="Milk"></div>
          <div class="product__container--hover"><img src="img/product--img--hover.png" alt="Milk"></div> 
        </div>
        <div class="product__info">
          <div class="product__info--brand">
            <p>Benton</p>
            <button class="btn__wishlist"></button>
          </div>
          <div class="product__info--name">
            <p>Ginseng Berry Eye Mask</p>
            <span>$60.00</span>
          </div>
        </div>
        </a>
        <div class="btn__more"></div>
      </div>


      <div class="col-md-3">
        <a href="detalle-producto.html" class="product soon">
        <div class="product__container">
          <div class="product__container--main img-container"><img src="img/product--img.png" alt="Milk"></div>
          <div class="product__container--hover"><img src="img/product--img--hover.png" alt="Milk"></div> 
        </div>
        <div class="product__info">
          <div class="product__info--brand">
            <p>Benton</p>
            <button class="btn__wishlist"></button>
          </div>
          <div class="product__info--name">
            <p>Ginseng Berry Eye Mask</p>
            <span>$60.00</span>
          </div>
        </div>
        </a>
      </div>

      <div class="col-md-3">
        <a href="detalle-producto.html" class="product momi">
        <div class="product__container">
          <div class="product__container--main img-container"><img src="img/product--img.png" alt="Milk"></div>
          <div class="product__container--hover"><img src="img/product--img--hover.png" alt="Milk"></div> 
        </div>
        <div class="product__info">
          <div class="product__info--brand">
            <p>Benton</p>
            <button class="btn__wishlist"></button>
          </div>
          <div class="product__info--name">
            <p>Ginseng Berry Eye Mask</p>
            <span>$60.00</span>
          </div>
        </div>
        </a>
      </div>
      
      <div class="col-md-3">
        <a href="detalle-producto.html" class="product momi">
        <div class="product__container">
          <div class="product__container--main img-container"><img src="img/product--img.png" alt="Milk"></div>
          <div class="product__container--hover"><img src="img/product--img--hover.png" alt="Milk"></div> 
        </div>
        <div class="product__info">
          <div class="product__info--brand">
            <p>Benton</p>
            <button class="btn__wishlist"></button>
          </div>
          <div class="product__info--name">
            <p>Ginseng Berry Eye Mask</p>
            <span>$60.00</span>
          </div>
        </div>
        </a>
      </div>


    </div>
  </div>
</section>











      <style>
  .product-card {
    box-sizing: border-box;
    float: left;
    min-height: 1em;
    padding-left: 2em;
    vertical-align: top;
    width: 25%;
  }

  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
</style>

{%- assign number_of_products = section.settings.number_of_products -%}
{%- assign number_of_products_to_fetch = number_of_products | plus: 1 -%}

{%- if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' -%}
  {%- assign found_a_collection = false -%}
  {%- for c in product.collections -%}

    {%- if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 -%}
      {%- assign found_a_collection = true -%}
      {%- assign collection = c -%}
    {%- endif -%}

  {%- endfor -%}
{%- endif -%}

{%- if collection and collection.products_count > 1 -%}
  <h2>{{ section.settings.heading }}</h2>

  <ul>
    {%- assign current_product = product -%}
    {%- assign current_product_found = false -%}
    {%- for product in collection.products limit: number_of_products_to_fetch -%}

      {%- if product.handle == current_product.handle -%}
        {%- assign current_product_found = true -%}
      {%- else -%}
        {%- unless current_product_found == false and forloop.last -%}
          <li>
            <a href="{{ product.url | within: collection }}" class="product-card">
              <img src="{{ product.featured_image.src | img_url: '1024x' }}" alt="">
              {{ product.title }}
              <p>
                <span aria-hidden="true">—</span>
                {%- if product.price_varies -%}
                  <span class="visuallyhidden">Starting at</span>
                  {{ product.price_min | money_without_trailing_zeros }}
                  <span aria-hidden="true">+</span>
                {%- else -%}
                  {{ product.price | money_without_trailing_zeros }}
                {%- endif -%}
              </p>
              <p>
                <span class="visuallyhidden">by</span>
                {{ product.vendor }}
              </p>
            </a>
          </li>
        {%- endunless -%}
      {%- endif -%}

    {%- endfor -%}
  </ul>
{%- endif -%}

{% schema %}
{
  "name": "Recommended products",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Recommended products"
    },
    {
      "type": "select",
      "id": "number_of_products",
      "label": "Number of products to show",
      "default": "4",
      "options": [
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "8",
          "label": "8"
        },
        {
          "value": "12",
          "label": "12"
        }
      ]
    }
  ]
}
{% endschema %}