<section class="home__skin section__st">
    <div class="container">
        <div class="row row-mobile no-gutters">
        <div class="section__title col-12 sticker3">
            <h2>{{ section.settings.titulo_seccion }}</h2>
        </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-md-4 skin--type monterrey">
            <div class="img-container">
                <img src="{{ section.settings.tienda1_imagen | img_url: '634x' }}" alt="Tienda 1">
            </div>
            <div class="btn__more"></div>
            <div class="skin--type-container">
                <h4>{{ section.settings.tienda1_titulo }}</h4>
                <div class="container--between">
                <p>{{ section.settings.tienda1_desc }}</p>
                <a href="{{ section.settings.tienda1_link }}" target="_blank" rel="noopener noreferrer" class="a__link">{{ section.settings.tienda1_textlink }}</a>
                </div>
            </div>
            </div>

            <div class="col-md-4 skin--type cdmx-popup">
            <div class="img-container">
                <img src="{{ section.settings.tienda2_imagen | img_url: '634x' }}" alt="Tienda 2">
            </div>
            <div class="btn__more"></div>
            <div class="skin--type-container">
                <h4>{{ section.settings.tienda2_titulo }}</h4>
                <div class="container--between">
                <p>{{ section.settings.tienda2_desc }}</p>
                <a href="{{ section.settings.tienda2_link }}" target="_blank" rel="noopener noreferrer" class="a__link">{{ section.settings.tienda2_textlink }}</a>
                </div>
            </div>
            </div>

            <div class="col-md-4 skin--type cdmx-palacio">
            <div class="img-container">
                <img src="{{ section.settings.tienda3_imagen | img_url: '634x' }}" alt="Tienda 3">
            </div>
            <div class="btn__more"></div>
            <div class="skin--type-container">
                <h4>{{ section.settings.tienda3_titulo }}</h4>
                <div class="container--between">
                <p>{{ section.settings.tienda3_desc }}</p>
                <a href="{{ section.settings.tienda3_link }}" target="_blank" rel="noopener noreferrer" class="a__link">{{ section.settings.tienda3_textlink }}</a>
                </div>
            </div>
            </div>

        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Sucursales",
    "settings": [
        {
        "type": "text",
        "id": "titulo_seccion",
        "label": "Título",
        "default": "Encuéntranos en:"
        },
            {
            "type": "header",
            "content": "Tienda 1"
            },
        {
        "type": "text",
        "id": "tienda1_titulo",
        "label": "Título Tienda 1"
        },
        {
        "type": "textarea",
        "id": "tienda1_desc",
        "label": "Descripción Tienda 1"
        },
        {
        "type": "text",
        "id": "tienda1_textlink",
        "label": "Texto del link tienda 1"
        },
        {
        "type": "url",
        "id": "tienda1_link",
        "label": "Link de tienda 1"
        },
        {
        "type": "image_picker",
        "id": "tienda1_imagen",
        "label": "Imagen de tienda 1",
        "info": "800w x 980h px, 72dpi 50% ~ 52%"
        },
            {
            "type": "header",
            "content": "Tienda 2"
            },
        {
        "type": "text",
        "id": "tienda2_titulo",
        "label": "Título Tienda 2"
        },
        {
        "type": "textarea",
        "id": "tienda2_desc",
        "label": "Descripción Tienda 2"
        },
        {
        "type": "text",
        "id": "tienda2_textlink",
        "label": "Texto del link tienda 2"
        },
        {
        "type": "url",
        "id": "tienda2_link",
        "label": "Link de tienda 2"
        },
        {
        "type": "image_picker",
        "id": "tienda2_imagen",
        "label": "Imagen de tienda 2",
        "info": "800w x 980h px, 72dpi 50% ~ 52%"
        },
            {
            "type": "header",
            "content": "Tienda 3"
            },
        {
        "type": "text",
        "id": "tienda3_titulo",
        "label": "Título Tienda 3"
        },
        {
        "type": "textarea",
        "id": "tienda3_desc",
        "label": "Descripción Tienda 3"
        },
        {
        "type": "text",
        "id": "tienda3_textlink",
        "label": "Texto del link tienda 3"
        },
        {
        "type": "url",
        "id": "tienda3_link",
        "label": "Link de tienda 3"
        },
        {
        "type": "image_picker",
        "id": "tienda3_imagen",
        "label": "Imagen de tienda 3",
        "info": "800w x 980h px, 72dpi 50% ~ 52%"
        }
    ],
    "presets": [
        {
        "name": "Sucursales",
        "category": "Collection"
        }
    ]
  }
{% endschema %}
