<section class="sundae-ig stagger-on-scroll">
  <div class="graphics">
    <img class="icon-hover stagger-child" src="{{ 'sundae-sticker-04.png' | asset_url }}" alt="">
  </div>
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <!-- IMG  -->
      <div class="col-md-6 col-lg-4 order-md-1 stagger-child img-container">
        <img class="w-100" src="{{ 'sundae-03.jpg' | asset_url }}" alt="">
      </div>

      <!-- IMG  -->
      <div class="col-md-6 col-lg-4 order-md-1  stagger-child img-container">
        <img class="w-100" src="{{ 'sundae-03.jpg' | asset_url }}" alt="">
      </div>

      <!-- card  -->
      <div class="col-md-6 col-lg-4 order-md-3 order-lg-2  stagger-child">
        <div class="card-ig movable">
          <div class="icon-number"><svg width="11" height="11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.5 2.805c.469 0 .914.14 1.336.375.422.234.75.562.984.984.235.422.375.867.375 1.336 0 .492-.14.938-.375 1.36-.234.421-.562.75-.984.984a2.71 2.71 0 01-1.336.351c-.492 0-.938-.117-1.36-.351a2.486 2.486 0 01-.984-.985A2.733 2.733 0 012.805 5.5c0-.469.117-.914.351-1.336.235-.422.563-.75.985-.984.421-.235.867-.375 1.359-.375zm0 4.453a1.7 1.7 0 001.242-.516c.328-.328.516-.75.516-1.242 0-.469-.188-.89-.516-1.242-.351-.328-.773-.516-1.242-.516-.492 0-.914.188-1.242.516A1.7 1.7 0 003.742 5.5c0 .492.164.914.516 1.242.328.352.75.516 1.242.516zm3.445-4.57c0-.165-.07-.305-.187-.446-.14-.117-.281-.187-.445-.187a.6.6 0 00-.446.187.586.586 0 00-.187.446c0 .187.047.328.187.445.117.14.258.187.446.187a.509.509 0 00.421-.187.726.726 0 00.211-.446zm1.782.632c0 .446.023 1.172.023 2.18 0 1.031-.023 1.758-.047 2.203-.023.445-.094.82-.187 1.149-.141.398-.375.75-.657 1.03a2.825 2.825 0 01-1.007.634 4.188 4.188 0 01-1.172.21c-.446.024-1.172.024-2.18.024-1.031 0-1.758 0-2.203-.023-.445-.024-.82-.094-1.149-.235a2.418 2.418 0 01-1.03-.61 2.727 2.727 0 01-.634-1.03 4.014 4.014 0 01-.21-1.149C.25 7.258.25 6.531.25 5.5c0-1.008 0-1.734.023-2.18.024-.445.094-.843.211-1.172.141-.375.352-.726.633-1.007A2.777 2.777 0 012.148.484 5.106 5.106 0 013.297.297 43.31 43.31 0 015.5.25c1.008 0 1.734.023 2.18.047.445.023.843.094 1.172.187.375.141.726.375 1.007.657.282.28.516.632.657 1.007.093.329.164.727.21 1.172zM9.602 8.594c.093-.258.14-.68.187-1.266 0-.328.024-.82.024-1.453v-.75c0-.633-.024-1.125-.024-1.453-.047-.586-.094-1.008-.187-1.266a1.777 1.777 0 00-1.008-1.008c-.258-.093-.68-.14-1.266-.187-.351 0-.844-.024-1.453-.024h-.75c-.633 0-1.125.024-1.453.024-.586.047-1.008.094-1.266.187-.492.188-.82.54-1.008 1.008-.093.258-.164.68-.187 1.266-.024.351-.024.844-.024 1.453v.75c0 .633 0 1.125.024 1.453.023.586.094 1.008.187 1.266.188.492.54.82 1.008 1.008.258.093.68.164 1.266.187.328.024.82.024 1.453.024h.75c.633 0 1.125 0 1.453-.024.586-.023 1.008-.094 1.266-.187.469-.188.82-.54 1.008-1.008z" fill="#E07457"/></svg></div>
          <h2>{{ section.settings.title }}</h2>
          <div class="movable-desc">
            <p>{{ section.settings.content }}</p>
            <a class="btn btn-sundae link mt-30" href="{{ section.settings.url }}" target="_blank">Visitar instagram</a>
          </div>
          <div class="movable-icon"><img src="{{ 'sundae-icon-filter.svg' | asset_url }}" alt=""></div>
        </div>
      </div>

      <!-- instagram IMAGE  -->
      <div class="col-md-6 col-lg-4 order-md-2 order-lg-3 stagger-child">
        <div class="bg-beige px-40 py-40 px-md-60 py-md-60">
          <img class="w-100" src="{{ 'sundae-03.jpg' | asset_url }}" alt="">
          <div class="card-desc link d-flex justify-content-between mt-15">
            <div class=""><a href="/" class="link"> <span class="icon-sundae-heart icon-sundae-heart--xs mr-2"></span>@momijibeauty</a></div>
            <div>23.ago.2020</div>
          </div>
        </div>
      </div>

       <!-- IMG  -->
      <div class="col-12 col-lg-8 order-5 stagger-child img-container">
        <img class="w-100" src="{{ 'sundae-04.jpg' | asset_url }}" alt="">
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Instagram",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Prueba nuestro nuevo filtro en tu carita!"
    },
    {
        "type": "textarea",
        "id": "content",
        "label": "Content",
        "default": "Tenemos una sorpresa para ti en forma de Filtro. Visita nuestro Instagram para probarlo en tu carita!"
    },
    {
        "type": "text",
        "id": "url",
        "label": "URL",
        "default": "https://www.instagram.com/momijibeauty"
    },
    {
      "type":      "header",
      "content":   "Image 1"
    },
    {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image"
    },
    {
      "type":      "header",
      "content":   "Image 2"
    },
    {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image"
    },
    {
      "type":      "header",
      "content":   "Image 3"
    },
    {
        "type": "image_picker",
        "id": "image_3",
        "label": "Image"
    },
    {
        "type": "text",
        "id": "date",
        "label": "Date"
    },
    {
      "type":      "header",
      "content":   "Image 4"
    },
    {
        "type": "image_picker",
        "id": "image_4",
        "label": "Image"
    }
  ]
}
{% endschema %}