<section id="home" class="pb-100 pb-md-190">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-lg-7 col-xl-6 mx-auto text-center inner animate-on-scroll">
          <h2>{{ section.settings.title }}</h2>
      </div>

      <div class="col-12 col-sm-7 col-md-12 col-lg-12 col-xl-10 mx-auto">
        <!-- card 1  -->
        <div class="col-md-6 col-lg-5 offset-md-2 mx-lg-auto movable bg-yellow">
          <div class="icon-number">1</div>
          <h3 class="h2">{{ section.settings.block_1_title }}</h3>
          <div class="movable-desc">
            <p>{{ section.settings.block_1_content }}</p>
          </div>
          <div class="movable-icon"><img src="{{ 'sundae-icon-benefits-enhance.svg' | asset_url }}" alt=""></div>
        </div>

        {% if section.settings.block_1_image %}
          <!-- icon 1  -->
          <div class="movable bg-sticky icon-ramen offset-md-7 offset-lg-8">
            <img class="icon-hover" src="{{ section.settings.block_1_image  | img_url: '416x' }}" alt="{{ section.settings.block_1_title }}">
          </div>
        {% endif %}

        {% if section.settings.block_2_image%}
          <!-- card img  -->
          <div class="col-md-6 col-lg-5 movable bg-img offset-md-6" style="background: url('{{ section.settings.block_2_image  | img_url: '542x618' }}');background-repeat: no-repeat;background-size: cover;">
          </div>
        {% endif %}
        <!-- card 2  -->
        <div class="col-md-6 col-lg-5 movable bg-purple">
          <div class="icon-number">2</div>
          <h3 class="h2">{{ section.settings.block_2_title }}</h3>
          <div class="movable-desc">
            <p>{{ section.settings.block_2_content }}</p>
          </div>
          <div class="movable-icon"><img src="{{ 'sundae-icon-benefits-practicidad.svg' | asset_url }}" alt="{{ section.settings.block_2_title }}"></div>
        </div>

        <!-- card 3  -->
        <div class="col-md-6 col-lg-5 offset-md-4 offset-lg-5 movable bg-orange">
          <div class="icon-number">3</div>
          <h3 class="h2">{{ section.settings.block_3_title }}</h3>
          <div class="movable-desc">
            <p>{{ section.settings.block_3_content }}</p>
          </div>
          <div class="movable-icon"><img src="{{ 'sundae-icon-benefits-expresion.svg' | asset_url }}" alt="icon heart"></div>
        </div>

        {% if section.settings.block_3_image %}
        <!-- icon 2  -->
        <div class="movable bg-sticky icon-lipstick offset-md-1">
          <img class="icon-hover" src="{{ section.settings.block_3_image  | img_url: '394x476' }}" alt="lipstick">
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "With Love",
    "settings": [
      {
          "type": "html",
          "id": "title",
          "label": "Title",
          "default": "With love <span class='icon-sundae-heart'></span> from us.This is why we created SUNDAE®",
          "info": "List of icons: icon-sundae-heart, icon-sundae-star, icon-sundae-lip"
      },
      {
        "type":      "header",
        "content":   "Block 1"
      },
      {
        "type": "text",
        "id": "block_1_title",
        "label": "Title",
        "default": "Enhance your beauty"
      },
      {
        "type": "textarea",
        "id": "block_1_content",
        "label": "Content",
        "default": "Nuestras fórmulas construíbles te permiten crear diferentes looks de acuerdo a tu mood y los empaques son ideales para una aplicación fácil donde quiera que estés."

      },
      {
          "type": "image_picker",
          "id": "block_1_image",
          "label": "Image"
      },
      {
        "type":      "header",
        "content":   "Block 2"
      },
      {
          "type": "image_picker",
          "id": "block_2_image",
          "label": "Image"
      },
      {
        "type": "text",
        "id": "block_2_title",
        "label": "Title",
        "default": "Practicidad"
      },
      {
        "type": "textarea",
        "id": "block_2_content",
        "label": "Content",
        "default": "Nuestras fórmulas construíbles te permiten crear diferentes looks de acuerdo a tu mood y los empaques son ideales para una aplicación fácil donde quiera que estés."

      },
      {
        "type":      "header",
        "content":   "Block 3"
      },
      {
        "type": "text",
        "id": "block_3_title",
        "label": "Title",
        "default": "Expresión"
      },
      {
        "type": "textarea",
        "id": "block_3_content",
        "label": "Content",
        "default": "Nuestras fórmulas construíbles te permiten crear diferentes looks de acuerdo a tu mood y los empaques son ideales para una aplicación fácil donde quiera que estés."

      },
      {
          "type": "image_picker",
          "id": "block_3_image",
          "label": "Image"
      }
    ],
  "presets": [
    {
      "name": "Sundae With Love",
      "category": "Sundae"
    }
  ]
  }
{% endschema %}