<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  </head>
  <body>
    {{ skip_to_content_link }}

    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>

    {{ tracking_code }}
  </body>
</html>

{%- comment -%}
CUSTOMIZACIONES DEL CHECKOUT ENGLOBADAS EN UN CONDICIONAL
{%- endcomment -%}
{% if settings.customCheckout != blank %}
<style>
@font-face {
    font-family: 'GT Walsheim';
    src: url('{{ "GTWalsheim.woff2" | asset_url }}') format('woff2'),
        url('{{ "GTWalsheim.woff" | asset_url }}') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'GT Walsheim';
    color: #0A0A0A;
}
</style>

<script>

  //seleccionar el div de la imagen y borrarlo
  const mercadoLogo = document.querySelector('.offsite-payment-gateway-logo');
  mercadoLogo.remove();

  //crear span
  const mySpan = document.createElement('span');
  mySpan.textContent = 'Pago tarjeta débito/crédito, efectivo y transferencia';

  // inyectar el span en el div requerido
  const myWrapper = document.querySelector('.content-box__emphasis');
  myWrapper.appendChild(mySpan);

// 1 el nodo que voy a observar
const alaberga = document.querySelector('.order-summary__section--discount');

const observer = new MutationObserver(mutations => {
  mutations.forEach(record => {
    console.log(record);
  });
});

observer.observe(alaberga, {
  childList: true
});

setTimeout(() => {
   const mer = document.querySelector('.offsite-payment-gateway-logo');
  mer.remove();
  const nuevop = document.createElement('span');
  nuevop.textContent = 'hallo';
  myWrapper.appendChild(nuevop);

}, 1000);


OKAY....
primero se debe seleccionar EL PRIMER nodo donde está el logo de mercadopago, luego se agrega un nuevo nodo de span y se le pone el texto que queremos. https://www.youtube.com/watch?v=ofpJ2cyz2Xg



</script>

{% else %}
{%- comment -%}
Sin customizaciones
{%- endcomment -%}
{% endif %}