<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M9GD9QH');</script>
    <!-- End Google Tag Manager -->

    {% include "loyaltylion" %}

  <script>lion.configure({ checkout: true })</script>
  {%- comment -%}Address Validator{%- endcomment -%}
  <script async src="https://d3ox8tdk614ykk.cloudfront.net/pobox_checker.js"></script>
  
</head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M9GD9QH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{ skip_to_content_link }}

    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {% if settings.cart_notes_enable == true %}
              {% if checkout.note %}
              <div class="checkout__note">
                <a href="/cart" class="h2">Clic aquí para editar mensaje en carrito.</a>
                <p>{{ checkout.note }}</p>
              </div>
              {% endif %}
            {% endif %}
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>
    {{ tracking_code }}
    <script src="{{ 'jquery.min.js' | asset_url }}"></script>
  </body>
</html>


{%- comment -%}
  Se quitó Mercado Pago el 28 de mayo de 2020.
{%- endcomment -%}
{% comment %} <script>
$(document).on('page:load page:change', () => {
  function replaceMP() {
    const mpImage = document.querySelector('img[alt="Mercado Pago"]');
    const mpLabel = document.querySelector('label[for="checkout_payment_gateway_38941884521"]');
    mpImage.remove();
    const myLabel = 'Pago con tarjeta de crédito y débito con MercadoPago';
    mpLabel.innerHTML = myLabel;
  }
  replaceMP();
});
</script> {% endcomment %}



<style>
@font-face {
  font-family: 'GT Momiji Medium';
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src: url('{{ "GT-Momiji-Medium.eot" | asset_url }}');
  src: url('{{ "GT-Momiji-Medium.woff" | asset_url }}') format('woff'), url('{{ "GT-Momiji-Medium.woff2" | asset_url }}') format('woff2');
  }
@font-face {
  font-family: 'GT Momiji Regular';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url('{{ "GT-Momiji-Regular.eot" | asset_url }}');
  src: url('{{ "GT-Momiji-Regular.woff" | asset_url }}') format('woff'), url('{{ "GT-Momiji-Regular.woff2" | asset_url }}') format('woff2');
  }
@font-face {
  font-family: 'GT Walsheim';
  font-display: swap;
  src: url('{{ "GTWalsheim.woff2" | asset_url }}') format('woff2'), url('{{ "GTWalsheim.woff" | asset_url }}') format('woff');
  font-weight: normal;
  font-style: normal;
  }
@font-face {
  font-family: 'GT Super Display';
  font-display: swap;
  src: url('{{ "GTSuperDisplay-Regular.woff2" | asset_url }}') format('woff2'), url('{{ "GTSuperDisplay-Regular.woff" | asset_url }}') format('woff');
  font-weight: normal;
  font-style: normal;
  }
h2 {
  font-family: 'GT Super Display';
  color: #0A0A0A;
  }
body {
  font-family: 'GT Momiji Regular';
  color: #0A0A0A;
  }
.breadcrumb__item, .sidebar .icon-svg--color-adaptive-light {
  color: #0a0a0a;
}
.breadcrumb__item--current {
  font-weight: 400;
  color: #f06c4e;
  }
.field__input {
  border: 1px solid #0a0a0a;
  border-radius: 0px;
  }
.field__input::placeholder {
  color: #767676;
  }
.field__input:focus, .field__input-wrapper--flag-focus .field__input {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #0a0a0a;
}
.btn, .sp-modal-toggle {
  border-radius: 0;
  font-weight: normal;
  padding: 1em 1.5em;
}
.content-box {
  border-radius: 0px;
  color: #0a0a0a;
}
.product-thumbnail::after {
  border-radius: 0px;
}
.tag {
  border-radius: 0px;
  background-color: #FFF685;
  color: #fff;
}
.checkout__note {
  margin: 20px 0;
}
.checkout__note p {
  font-family: 'GT Walsheim';
  color: #0a0a0a;
}
</style>