<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="{{ settings.color_accent }}">
    <link rel="canonical" href="{{ canonical_url }}">

    <link rel="preload" href="{{ 'jquery.min.js' | asset_url }}" as="script">
    {%- comment -%}<link rel="preload" href="{{ 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' }}" as="script">{%- endcomment -%}
    {%- comment -%}<script src="{{ 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' }}"></script>{%- endcomment -%}
    <script src="{{ 'jquery.min.js' | asset_url }}"></script>
    <link rel="preload" href="{{ 'momiji.scss.css?v=31' | asset_url }}" as="style">
    {{ 'momiji.scss.css?v=31' | asset_url | stylesheet_tag }}
    {% comment %} <link rel="preload" href="{{ 'momiji.scss.css?v=13' | asset_url }}" as="style">
    {{ 'momiji.scss.css?v=13' | asset_url | stylesheet_tag }} {% endcomment %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% include 'social-meta-tags' %}
    {% include 'style-tags', layout: 'theme' %}
    {% include 'script-tags', layout: 'theme' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js" integrity="sha256-zUQGihTEkA4nkrgfbbAM1f3pxvnWiznBND+TuJoUv3M=" crossorigin="anonymous"></script>	
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" integrity="sha256-3h45mwconzsKjTUULjY+EoEkoRhXcOIU4l5YAw2tSOU=" crossorigin="anonymous" />  

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    {%- capture seo_title -%}
      {{ page_title }}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 -%}
        &ndash; {{ 'general.meta.page' | t: page: current_page }}
      {%- endif -%}
      {%- assign escaped_page_title = page_title | escape -%}
      {%- unless escaped_page_title contains shop.name -%}
        &ndash; {{ shop.name }}
      {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {%- comment -%}{% include 'css-variables' %}{%- endcomment -%}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', '');

      window.theme = {
        strings: {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }}
        },
        moneyFormat: {{ shop.money_format | json }}
      };

      {% if template.directory == 'customers' %}
        theme.allCountryOptionTags = {{ all_country_option_tags | json }};
      {% endif %}
    </script>

    {% if template contains 'customers' %}
      {{ "shopify_common.js" | shopify_asset_url | script_tag }}
      {{ "customer_area.js"  | shopify_asset_url | script_tag }}
    {% endif %}

{%- comment -%}
    {{ content_for_header }} bug documentado aqui: https://community.shopify.com/c/Technical-Q-A/window-BOOMR-throws-an-error/m-p/575778#M11525
{%- endcomment -%}
    {{ content_for_header | replace: "<body onload='document._boomrl();'>", "<bodx onload='document._boomrl();'>" }}
    <meta name="google-site-verification" content="Lrt_wQm8pILk0eIq6gdG_1W73P2QGcpV8lnvb4oxdpk" >

    <!-- Global site tag (gtag.js) - Google Ads: 928988635 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-928988635"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-928988635');
    </script>

    {% include 'loyaltylion' %}
  </head>

  <body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
    {% include 'miniCartDonato' %}
    <div class="loader-component"></div>
    {%- comment -%}{% include 'ask' %}{%- endcomment -%}
    {%- comment -%}<a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a> {%- endcomment -%}

    {% include 'search-modal' %}
    
    <div id="modal-resena" aria-hidden="true">
    </div>

    <div class="modal__newsletter">
       {% include 'newsletter-modal' %}
    </div>

    <div id="mb-menu" class="mobile-menu">
      {% include 'mobile' %}
    </div>

    {% section 'header' %}

    <main class="home" role="main" id="MainContent" style="opacity: 1;">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
    {% comment %} <script src="{{ 'theme.js' | asset_url }}" defer></script>   {% endcomment %}
    
    <script src="{{ '//cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js' }}" defer></script>
    <script src="{{ 'swiper4.min.js'| asset_url }}" defer></script>
    <script src="{{ 'parallax.js' | asset_url }}" defer></script> 
    <script src="{{ 'app.js' | asset_url }}" defer></script> 
    {% comment %} <script src="{{ 'app.js' | asset_url }}" defer></script> {% endcomment %} 
    <script src="{{ 'micromodal.js' | asset_url }}" defer></script>  
    <script src="{{ 'jquery.selectric.js' | asset_url }}" defer></script>  
    {%- comment -%}{% include "swymWishlist" %}
    {% include 'swymSnippet' %}{%- endcomment -%}
        {% comment %} {% include 'back-in-stock-helper' %} {% endcomment %}
    {{ 'product-reviews-override.min.css' | asset_url | stylesheet_tag }}
    {% if template == 'article' %}
        <script id="dsq-count-scr" src="//momijitalks.disqus.com/count.js" defer></script>
    {% endif %}
    <script src="{{ 'minicart.min.js'| asset_url }}" defer></script>
    {% comment %} <script src="{{ 'minicart.js'| asset_url }}" defer></script> {% endcomment %}
    {% include 'adroll' %}
  </body>
</html>