<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="{{ settings.color_accent }}">
    <link rel="canonical" href="{{ canonical_url }}">

    <link rel="preload" href="{{ 'jquery.min.js' | asset_url }}" as="script">
    {%- comment -%}<link rel="preload" href="{{ 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' }}" as="script">{%- endcomment -%}
    {%- comment -%}<script src="{{ 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' }}"></script>{%- endcomment -%}
    <script src="{{ 'jquery.min.js' | asset_url }}"></script>
    {%- comment -%}{{ 'theme.scss.css' | asset_url | stylesheet_tag }}{%- endcomment -%}
    {%- comment -%}{{ 'momiji.scss.css' | asset_url | stylesheet_tag }}{%- endcomment -%}
    <link rel="preload" href="{{ 'momiji.scss.css' | asset_url }}" as="style">
    {{ 'momiji.scss.css' | asset_url | stylesheet_tag }}

    {% include 'social-meta-tags' %}
    {% include 'style-tags', layout: 'theme' %}
    {% include 'script-tags', layout: 'theme' %}

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    {%- capture seo_title -%}
      {{ page_title }}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 -%}
        &ndash; {{ 'general.meta.page' | t: page: current_page }}
      {%- endif -%}
      {%- assign escaped_page_title = page_title | escape -%}
      {%- unless escaped_page_title contains shop.name -%}
        &ndash; {{ shop.name }}
      {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {%- comment -%}{% include 'css-variables' %}{%- endcomment -%}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', '');

      window.theme = {
        strings: {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }}
        },
        moneyFormat: {{ shop.money_format | json }}
      };

      {% if template.directory == 'customers' %}
        theme.allCountryOptionTags = {{ all_country_option_tags | json }};
      {% endif %}
    </script>

{%- comment -%}
    {{ content_for_header }} bug documentado aqui: https://community.shopify.com/c/Technical-Q-A/window-BOOMR-throws-an-error/m-p/575778#M11525
{%- endcomment -%}
    {{ content_for_header | replace: "<body onload='document._boomrl();'>", "<bodx onload='document._boomrl();'>" }}


  </head>

  <body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">

    <div class="loader-component"></div>
    {%- comment -%}{% include 'ask' %}{%- endcomment -%}
    {%- comment -%}<a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a> {%- endcomment -%}

    {% include 'search-modal' %}
    
    <div id="modal-resena" aria-hidden="true">
    </div>

    <div class="modal__newsletter">
       {% include 'newsletter-modal' %}
    </div>

    <div id="mb-menu" class="mobile-menu">
      {% include 'mobile' %}
    </div>

    {% section 'header' %}

    <main class="home" role="main" id="MainContent" style="opacity: 1;">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}


    {%- comment -%}<script src="{{ 'theme.min.js' | asset_url }}" async></script>{%- endcomment -%}
    
        {%- comment -%}<script src="{{ 'app.js' | asset_url }}" async></script>{%- endcomment -%} 
    {%- comment -%}<script src="{{ 'app.min.js' | asset_url }}" async></script> {%- endcomment -%}
        {% comment %} {{ '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' | stylesheet_tag }} {% endcomment %}
    <script src="{{ '//cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js' }}" defer></script>
    <script src="{{ 'swiper.min.js'| asset_url }}" defer></script>
        {% comment %} {{ 'bootstrap.min.js' | script_tag }} {% endcomment %}
    <script src="{{ 'parallax.js' | asset_url }}" defer></script> 
    {% comment %}<script src="{{ 'aos.js' | asset_url }}" defer></script>  {% endcomment %}
    <script src="{{ 'micromodal.js' | asset_url }}" defer></script>  
    <script src="{{ 'jquery.selectric.js' | asset_url }}" defer></script>  
    <script src="{{ 'app.min.js' | asset_url }}" async></script> 
    {% include "swymWishlist" %}
    {% include 'swymSnippet' %}
        {% comment %} {% include 'back-in-stock-helper' %} {% endcomment %}
    {{ 'product-reviews-override.min.css' | asset_url | stylesheet_tag }}
    <script id="dsq-count-scr" src="//momijitalks.disqus.com/count.js" async></script>
  </body>
</html>
