<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="{{ settings.color_accent }}">
    <link rel="canonical" href="{{ canonical_url }}">

    <link rel="preload" href="{{ 'jquery.min.js' | asset_url }}" as="script">
    
    {%- comment -%}Lazyload para las imagenes{%- endcomment -%}
    <script src="{{ 'ls.rias.min.js' | asset_url}}"></script>
    <script src="{{ 'lazysizes.min.js' | asset_url}}"></script>

    {%- comment -%}<link rel="preload" href="{{ 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' }}" as="script">{%- endcomment -%}
    {%- comment -%}<script src="{{ 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' }}"></script>{%- endcomment -%}

    <script src="{{ 'jquery.min.js' | asset_url }}"></script>
    <link rel="preload" href="{{ 'momiji.scss.css?v=84' | asset_url }}" as="style">
    {{ 'momiji.scss.css?v=84' | asset_url | stylesheet_tag }}
    {{ 'anagrama.css?v=84' | asset_url | stylesheet_tag }}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% render 'social-meta-tags' %}
    
    {%- comment -%}
    {% render 'style-tags', layout: 'theme' %}
    {% render 'script-tags', layout: 'theme' %}
    {%- endcomment -%}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js" integrity="sha256-zUQGihTEkA4nkrgfbbAM1f3pxvnWiznBND+TuJoUv3M=" crossorigin="anonymous"></script>	
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" integrity="sha256-3h45mwconzsKjTUULjY+EoEkoRhXcOIU4l5YAw2tSOU=" crossorigin="anonymous" />
    
    <!-- ANAGRAMA VIDEO JS -->
     <!-- Video.js base CSS -->
     <link href="https://unpkg.com/video.js@7/dist/video-js.min.css" rel="stylesheet"/>
     <!-- City -->
     <link href="https://unpkg.com/@videojs/themes@1/dist/sea/index.css" rel="stylesheet">
    <!-- END: ANAGRAMA VIDEO JS -->
    
    <!-- ANAGRAMA BOOTSTRAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <!-- END: ANAGRAMA BOOTSTRAP -->

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    {%- capture seo_title -%}
      {{ page_title }}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 -%}
        &ndash; {{ 'general.meta.page' | t: page: current_page }}
      {%- endif -%}
      {%- assign escaped_page_title = page_title | escape -%}
      {%- unless escaped_page_title contains shop.name -%}
        &ndash; {{ shop.name }}
      {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {%- comment -%}{% render 'css-variables' %}{%- endcomment -%}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', '');

      window.theme = {
        strings: {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }}
        },
        moneyFormat: {{ shop.money_format | json }}
      };

      {% if template.directory == 'customers' %}
        theme.allCountryOptionTags = {{ all_country_option_tags | json }};
      {% endif %}
    </script>

    {% if template contains 'customers' %}
      {{ "shopify_common.js" | shopify_asset_url | script_tag }}
      {{ "customer_area.js"  | shopify_asset_url | script_tag }}
    {% endif %}

    {% comment %} {% render 'microsoft-clarity' %} {% endcomment %}

{%- comment -%}
    {{ content_for_header }} bug documentado aqui: 'https://community.shopify.com/c/Technical-Q-A/window-BOOMR-throws-an-error/m-p/575778#M11525'
{%- endcomment -%}
    {{ content_for_header | replace: "<body onload='document._boomrl();'>", "<bodx onload='document._boomrl();'>" }}
    <meta name="google-site-verification" content="Lrt_wQm8pILk0eIq6gdG_1W73P2QGcpV8lnvb4oxdpk" >
    
    {% render 'gtm-datalayer' %}
    {% render 'gtm-head' %}

    <!-- Global site tag (gtag.js) - Google Ads: 928988635 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-928988635"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-928988635');
    </script>

    {% render 'loyaltylion' %}

    {% if settings.reamaze %}
      {% render 'reamaze' %}
    {% endif %}

    <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=XJJwE2"></script>

  </head>

  <body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">

    {% render 'gtm-body' %}

    {% render 'miniCartDonato' %}
    <div class="loader-component"></div>
    {%- comment -%}{% render 'ask' %}{%- endcomment -%}
    {%- comment -%}<a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a> {%- endcomment -%}

    {% render 'search-modal' %}
    {% render 'user-modal' %}

    
    <div id="modal-resena" aria-hidden="true">
    </div>

    <div class="modal__newsletter">
       {% render 'newsletter-modal' %}
    </div>

    <!-- class: mobile-menu is-open-->
    <div id="mb-menu">
      {% render 'mobile' %}
    </div>

    {% section 'header' %}
    

{% if page.handle contains sundae %}
{%- comment -%}
    Usar el sig condicional cuando se habilite sundae de nuevo en index: "if template == 'index' or page.handle contains sundae"
{%- endcomment -%}
  <main class="page-sundae" role="main" id="MainContent" style="opacity: 1;">
      {{ content_for_layout }}
  </main>
  <script src="{{ 'marquee.js' | asset_url }}"></script>
  <script src="{{ 'noframework.waypoints.min.js' | asset_url }}" ></script>
  <script src="{{ 'anagrama.animate.js' | asset_url }}" ></script>
  <script src="{{ 'velocity.min.js' | asset_url }}" ></script>
  <script src="{{ 'velocity.ui.min.js' | asset_url }}" ></script>
  <script>
      $('.marquee').marquee('destroy');
      var marquees = $('.marquee').marquee({
        duplicated: true,
        gap: 30,
        duration: 70000,
        delayBeforeStart: 0,
        startVisible: true,
        pauseOnHover: true,
        // allowCss3Support: false
      })

    $(document).on('click', '.desc-rotate', function() {
      $('.product').removeClass('active');
      $(this).parent().parent().addClass('active');
    });

    $(document).on('click', '.product .close', function() {
      $('.product').removeClass('active');
    });
  </script>
{% else %}
    <main class="home" role="main" id="MainContent" style="opacity: 1;">
      {{ content_for_layout }}
    </main>
{% endif %}

    {% section 'footer' %}
    {% comment %} <script src="{{ 'theme.js' | asset_url }}" defer></script>   {% endcomment %}
    {% comment %} {{ 'api.jquery.js' | shopify_asset_url | script_tag }} {% endcomment %}
    <script src="{{ '//cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js' }}" defer></script>
    {% comment %} <script src="https://unpkg.com/swiper/swiper-bundle.min.js" defer></script> {% endcomment %}
    <script src="{{ 'swiper4.min.js'| asset_url }}" defer></script>
    <script src="{{ 'parallax.js' | asset_url }}" defer></script> 
    <script src="{{ 'anagrama.js' | asset_url }}" defer></script> 
    {%- comment -%}<script src="{{ 'app.js' | asset_url }}" defer></script>{%- endcomment -%}
    <script src="{{ 'app.min.js' | asset_url }}" defer></script>
    <script src="{{ 'micromodal.js' | asset_url }}" defer></script>  
    <script src="{{ 'jquery.selectric.js' | asset_url }}" defer></script>  
        {% comment %} {% render 'back-in-stock-helper' %} {% endcomment %}
    {{ 'product-reviews-override.min.css' | asset_url | stylesheet_tag }}
    {% if template == 'article' %}
        <script id="dsq-count-scr" src="//momijitalks.disqus.com/count.js" defer></script>
    {% endif %}
    {% comment %} <script src="{{ 'minicart.min.js'| asset_url }}" defer></script> {% endcomment %}
    <script src="{{ 'minicart.js'| asset_url }}" defer></script>
    <script id="kpay-advertising-script" src="https://cdn.kueskipay.com/widgets.js?authorization=ac1b792f-3d63-4ba9-a7c7-3352049449ad&integration=shopify&version=v1.0"></script>
    <script type="">new KueskipayAdvertising().init()</script>
    <script type="text/javascript" async src="https://cdn.reamaze.com/assets/reamaze.js"></script>
    {% render 'klaviyo-back-in-stock' %}
    <script type="text/javascript">
      var mouseflowCrossDomainSupport = true;
      window._mfq = window._mfq || [];
      (function() {
        var mf = document.createElement("script");
        mf.type = "text/javascript"; mf.defer = true;
        mf.src = "//cdn.mouseflow.com/projects/638a337f-fde5-450f-b59e-a2024a84561c.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
      })();
    </script>
  </body>
</html>